/*------------------------------------*\
    $BACK TO TOP
\*------------------------------------*/

.ds_back-to-top {
    display: none;
}

@media only screen {
    /// [1] -1px compensates for the height of a visually-hidden element. This prevents the back
    ///     to top element causing the document to always be at least 1px taller than the viewport
    ///     and adding a scroll bar
    /// [2] fallback for older browsers
    /// [3] 56px is the button's height plus 8px spacing
    .ds_back-to-top {
        bottom: 56px;
        display: block;
        pointer-events: none;
        position: absolute;
        right: 8px;
        top: calc(100vh - 1px); /// [1]
        z-index: 1;

        @supports (bottom: var(--ds-back-to-top-offset)) {
            bottom: var(--ds-back-to-top-offset);
        }

        &__button {
            @include ds_blocklink;
            @include ds_small-size;

            background-color: rgba(255,255,255,0.9);
            font-weight: $bold;
            margin: 0;
            min-width: 120px;
            pointer-events: all;
            padding: 8px 32px 8px 16px;
            position: fixed; /// [2]
            position: sticky;
            right: 8px;
            top: calc(100vh - 56px); /// [3]
        }

        &__icon {
            position: absolute;
            right: 8px;
            top: 8px;
        }
    }
}
