/*------------------------------------*\
    $BACK TO TOP
\*------------------------------------*/

.#{$pl-prefix}back-to-top {
    display: none;
}

@media only screen {
    .#{$pl-prefix}back-to-top {
        bottom: 56px;
        display: block;
        pointer-events: none;
        position: absolute;
        right: 8px;
        top: 100vh;
        z-index: 1;

        /*
        [1] fallback for older browsers
        [2] 56px is the button's height plus 8px spacing
        */
        &__button {
            @include blocklink();
            @include small-size;

            background-color: rgba(255,255,255,0.9);
            font-weight: $bold;
            margin: 0;
            min-width: 120px;
            pointer-events: all;
            padding: 8px 32px 8px 16px;
            position: fixed; /* [1] */
            position: sticky;
            right: 8px;
            top: calc(100vh - 56px); /* [2] */
        }

        &__icon {
            position: absolute;
            right: 8px;
            top: 8px;
        }
    }

    @include media-query(medium) {
        .#{$pl-prefix}back-to-top__icon {
            top: 12px;
        }
    }
}
