<div class="ds_back-to-top" data-module="ds-back-to-top">
    <a href="#page-top" class="ds_back-to-top__button" data-navigation="backtotop">Back to top <svg class="ds_icon  ds_back-to-top__icon" aria-hidden="true" role="img"><use xlink:href="/assets/images/icons/icons.stack.svg#arrow_upward"></use></svg></a>
</div>

<footer class="ds_site-footer  ds_reversed">
    <div class="ds_wrapper">
        <div class="ds_site-footer__content">
            <ul class="ds_site-footer__site-items">
                <li class="ds_site-items__item">
                    <a data-footer="footer-link-1" href="/privacy/">Privacy</a>
                </li>
                <li class="ds_site-items__item">
                    <a data-footer="footer-link-2" href="/cookies/">Cookies</a>
                </li>
                <li class="ds_site-items__item">
                    <a data-footer="footer-link-3" href="/accessibility/">Accessibility</a>
                </li>
            </ul>

            <div class="ds_site-footer__copyright">
                <a data-footer="footer-copyright" class="ds_site-footer__copyright-logo" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">
                    <img src="/assets/images/logos/ogl.svg" alt="Open Government License" />
                </a>
                <p>All content is available under the <a data-footer="footer-copyright" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>, except for graphic assets and where otherwise stated</p>
                <p>&copy; Crown Copyright</p>
            </div>

            <div class="ds_site-footer__org">
                <a data-footer="footer-logo" class="ds_site-footer__org-link" title="The Scottish Government" href="http://www.gov.scot/">
                    <img class="ds_site-footer__org-logo" src="/assets/images/logos/scottish-government.svg" alt="gov.scot" />
                </a>
            </div>
        </div>
    </div>
</footer>


<footer class="my_site-footer  ds_reversed"></footer>
