<div class="ds_back-to-top" data-module="ds-back-to-top">
    <a href="#page-top" class="ds_back-to-top__button">{{ params.label }} <svg class="ds_icon  ds_back-to-top__icon" aria-hidden="true" role="img"><use href="{{ '/images/icons/icons.stack.svg#arrow_upward' | path }}"></use></svg></a>
</div>