/*------------------------------------*\
    #INSET TEXT
\*------------------------------------*/

.#{$pl-prefix}inset-text {
    border-left: 10px solid $color__grey--medium;
    padding: 28px 15px;

    @include block-margins;
}

@include media-query(medium) {
    .#{$pl-prefix}inset-text {
        padding-right: 70px;
    }
}
