/*------------------------------------*\
    #STEP NAVIGATION
    Step navigation is an enhancement to the DS accordion
\*------------------------------------*/

@use "sass:math";

$step-count-margin: 40px;
$step-count-margin--medium: 48px;
$step-count-size: 32px;
$step-count-size--medium: 40px;
$step-content-line-height: 24px;
$step-content-line-height--medium: 32px;
$step-vertical-line-width: 2px;

.ds_step-navigation {
    counter-reset: section;

    &__list {
        list-style-type: none;
        margin: 0;

        li {
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: $h3-size;
        line-height: 1.5rem;
    }

    &__title-link {
        display: block;
        @include ds_responsive-margin(3, bottom);
        @include ds_responsive-margin(1, top);
        text-decoration: underline;
    }

    &__current-link::before {
        content: '';
        position: absolute;
        left: #{math.div($step-count-size, 2) - $step-count-margin};
        right: 100%;
        height: 1px;
        background: $ds_colour__border--strong;
        margin-top: math.div($step-content-line-height, 2);
    }

    &__count {
        background-color: $ds_colour__background--primary;
        border: 1px solid currentColor;
        border-radius: 20px;
        color: $ds_colour__border--strong;
        content: counter(section);
        counter-increment: section;
        display: block;
        font-size: $root-font-size;
        font-weight: $bold;
        height: $step-count-size;
        left: #{$step-count-margin * -1};
        line-height: #{$step-count-size - 2px};
        position: absolute;
        text-align: center;
        top: px-to-rem(4px);
        width: $step-count-size;
    }

    .ds_current &__count {
        background-color: $ds_colour__link--current__background;
        border: 2px solid $ds_colour__border--highlight;
        line-height: #{$step-count-size - 4px};

        @include ds_media-query-high-contrast {
            border-color: highlight;
        }
    }

    .ds_accordion {
        margin-left: $step-count-margin;
    }

    .ds_accordion__open-all {
        margin-left: $step-count-margin * -1;
        padding-left: 0;
    }

    .ds_accordion-item {
        position: relative;

        &::before {
            border-left: 1px solid $ds_colour__border--strong;
            bottom: px-to-rem(-17px);
            content: '';
            display: block;
            left: #{math.div($step-count-size, 2) - $step-count-margin - math.div($step-vertical-line-width, 2)};
            position: absolute;
            top: px-to-rem(32px);
            width: $step-vertical-line-width;
        }

        &:last-child::before {
            bottom: 0 !important;
        }

        &:last-child::after {
            border-bottom: 1px solid $ds_colour__border--strong;
            bottom: -1px;
            content: '';
            display: block;
            height: 1px;
            left: #{math.div($step-count-size, 2) - $step-count-margin - 6px};
            position: absolute;
            width: 13px;
        }
    }

    &__or,
    &__and {
        counter-increment: section -1;
    }

    &__or &__count,
    &__and &__count {
        background-color: transparent;
        border-color: transparent;
    }
}

@include ds_media-query(medium) {
    .ds_step-navigation:not(.ds_step-navigation--small) {
        .ds_step-navigation__count {
            font-size: $root-font-size--medium;
            height: $step-count-size--medium;
            left: #{$step-count-margin--medium * -1};
            line-height: #{$step-count-size--medium - 2px};
            top: 0.75rem;
            width: $step-count-size--medium;
        }

        .ds_current .ds_step-navigation__count {
            line-height: #{$step-count-size--medium - 4px};
        }

        .ds_step-navigation__current-link::before {
            left: #{math.div($step-count-size--medium, 2) - $step-count-margin--medium};
            margin-top: math.div($step-content-line-height--medium, 2);
        }

        .ds_accordion {
            margin-left: $step-count-margin--medium;
        }

        .ds_accordion__open-all {
            margin-left: $step-count-margin--medium * -1;
        }

        .ds_accordion-item::before {
            bottom: px-to-rem(-17px);
            left: #{math.div($step-count-size--medium, 2) - $step-count-margin--medium};
            top: px-to-rem(49px);
        }

        .ds_accordion-item:last-child::after {
            left: #{math.div($step-count-size--medium, 2) - $step-count-margin--medium - 6px};
        }
    }
}
