<nav class="ds_step-navigation" data-module="ds-step-navigation" id="stepNav">
    <h2 class="ds_h3">
        Part of
        <a class="ds_step-navigation__title-link" href="/site/mygov/browse/mammals/step-by-step">Steps</a>
    </h2>

    <div class="ds_accordion  ds_step-navigation" data-module="ds-accordion">
        <button data-accordion="accordion-open-all" type="button"
            class="ds_link  ds_accordion__open-all  js-open-all">Open all <span
                class="visually-hidden">sections</span></button>

        <div class="ds_accordion-item  ds_accordion-item--small  ">
            <span class="ds_step-navigation__count">
                <span class="visually-hidden">Step </span>1
            </span>
            <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-0"
                aria-labelledby="panel-0-heading" />
            <div class="ds_accordion-item__header">
                <h3 id="panel-0-heading" class="ds_accordion-item__title">
                    Apples
                </h3>
                <span class="ds_accordion-item__indicator"></span>
                <label class="ds_accordion-item__label" for="panel-0"><span class="visually-hidden">Show this
                        section</span></label>
            </div>

            <div class="ds_accordion-item__body" id="accordion-item-122134">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <ul>
                    <li>
                        <a id="target-link" href="/my/target/link">Link 1</a>
                    </li>
                    <li>
                        <a href="#">Link 2</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="ds_accordion-item  ds_accordion-item--small  ds_step-navigation__and">
            <span class="ds_step-navigation__count">
                and <span class="visually-hidden">this step</span>
            </span>
            <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-1"
                aria-labelledby="panel-1-heading" />
            <div class="ds_accordion-item__header">
                <h3 id="panel-1-heading" class="ds_accordion-item__title">
                    Bananas
                </h3>
                <span class="ds_accordion-item__indicator"></span>
                <label class="ds_accordion-item__label" for="panel-1"><span class="visually-hidden">Show this
                        section</span></label>
            </div>

            <div class="ds_accordion-item__body" id="accordion-item-122134">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <ul>
                    <li>
                        <a href="#">Link 1</a>
                    </li>
                    <li>
                        <a href="#">Link 2</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ds_accordion-item--open  ds_current  ds_accordion-item  ds_accordion-item--small  "
            aria-current="step">
            <span class="ds_step-navigation__count">
                <span class="visually-hidden">Step </span>2
            </span>
            <input checked type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-2"
                aria-labelledby="panel-2-heading" />
            <div class="ds_accordion-item__header">
                <h3 id="panel-2-heading" class="ds_accordion-item__title">
                    Cherries
                </h3>
                <span class="ds_accordion-item__indicator"></span>
                <label class="ds_accordion-item__label" for="panel-2"><span class="visually-hidden">Show this
                        section</span></label>
            </div>

            <div class="ds_accordion-item__body" id="accordion-item-122134">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <ul>
                    <li>
                        <a href="#">Link 1</a>
                    </li>
                    <li>
                        <a href="#">Link 2</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="  ds_accordion-item  ds_accordion-item--small  ds_step-navigation__or">
            <span class="ds_step-navigation__count">
                or <span class="visually-hidden">this step</span>
            </span>
            <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-3"
                aria-labelledby="panel-3-heading" />
            <div class="ds_accordion-item__header">
                <h3 id="panel-3-heading" class="ds_accordion-item__title">
                    Dates
                </h3>
                <span class="ds_accordion-item__indicator"></span>
                <label class="ds_accordion-item__label" for="panel-3"><span class="visually-hidden">Show this
                        section</span></label>
            </div>

            <div class="ds_accordion-item__body" id="accordion-item-122134">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <ul>
                    <li>
                        <a href="#">Link 1</a>
                    </li>
                    <li>
                        <a href="#">Link 2</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ds_accordion-item  ds_accordion-item--small  ">
            <span class="ds_step-navigation__count">
                <span class="visually-hidden">Step </span>3
            </span>
            <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-4"
                aria-labelledby="panel-4-heading" />
            <div class="ds_accordion-item__header">
                <h3 id="panel-4-heading" class="ds_accordion-item__title">
                    Elderberry
                </h3>
                <span class="ds_accordion-item__indicator"></span>
                <label class="ds_accordion-item__label" for="panel-4"><span class="visually-hidden">Show this
                        section</span></label>
            </div>

            <div class="ds_accordion-item__body" id="accordion-item-122134">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <ul>
                    <li>
                        <a href="#">Link 1</a>
                    </li>
                    <li>
                        <a href="#">Link 2</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
