/*------------------------------------*\
    TAG
\*------------------------------------*/

// modifiable vars
$tag__background-colour: $ds_colour__brand !default;
$tag__foreground-colour: $ds_colour__text--reversed !default;




.ds_tag {
    @include ds_small-size;
    @include ds_responsive-padding(1, left);
    @include ds_responsive-padding(1, right);
    background: $tag__background-colour;
    border-radius: 2px;
    color: $tag__foreground-colour;
    display: inline-block;
    font-weight: $bold;
    text-transform: uppercase;

    @include ds_high-contrast-outline;
}
