/*------------------------------------*\
    TAG
\*------------------------------------*/

// modifiable vars
$tag__background-colour: $ds_colour__brand !default;




.ds_tag {
    @include ds_small-size;
    background: $tag__background-colour;
    border-radius: 2px;
    color: $ds_colour__white;
    display: inline-block;
    font-weight: $bold;
    padding: 0 10px;
    text-transform: uppercase;

    @include ds_high-contrast-outline;
}

.ds_reversed .ds_tag {
    background-color: $ds_colour__white;
    color: $tag__background-colour;
}
