@use "../../base/helpers/block-margins/block-margins";
@use "../../base/helpers/focus/focus";
@use "../../base/helpers/last-child-no-margin/last-child-no-margin";
@use "../../base/helpers/links/links";
@use "../../base/helpers/media-query/media-query";
@use "../../base/helpers/spacing/spacing";
@use "../../base/settings/colours/colours";
@use "../../base/settings/transition/transition";
@use "../../base/settings/type/type";

/*------------------------------------*\
    DETAILS
\*------------------------------------*/
@use "sass:math";

$details-border-width: 0.25rem;
$details-icon-size: math.div((1em * 0.5rem), type.$root-font-size--medium);

.ds_details {
    @include block-margins.block-margins;
}

.ds_details__summary {
    @include links.link;
    @include spacing.responsive-margin(2, bottom);
    @include spacing.responsive-padding(4, left);
    cursor: pointer;
    display: inline-block;
    position: relative;

    &::-webkit-details-marker {
        display: none;
    }

    &::before {
        background-color: currentColor;
        clip-path: polygon(0 0, 100% 50%, 0 100%);
        content: '';
        display: block;
        height: calc($details-icon-size * 2);
        left: 0.25em;
        position: absolute;
        top: calc(50% - $details-icon-size + 0.0625rem); // 1px magic number for optical alignment in preference to mathematic alignment
        width: $details-icon-size;

        @media (prefers-reduced-motion: no-preference) {
            transition: transform transition.$transition-in-time;
        }
    }
}

.ds_details__text {
    @include last-child-no-margin.last-child-no-margin;
    border-left: $details-border-width solid colours.$ds_colour__border;
    box-sizing: border-box;
    display: none;
    @include spacing.responsive-padding(1);
    @include spacing.responsive-padding(4, left, false, calc($details-border-width * -1));
}

.ds_details[open],
.ds_details__toggle:checked ~ {
    .ds_details__summary::before {
        transform: rotate(90deg);
    }

    .ds_details__text {
        display: block;
    }
}

.ds_details__toggle:focus ~ .ds_details__summary {
    @include focus.focus-outline;

    background-color: colours.$ds_colour__link--focus__background;
    box-shadow: #{links.$link__outline-width * -1} #{links.$link__outline-width + links.$link__border-width} colours.$ds_colour__link--focus__shadow, links.$link__outline-width #{links.$link__outline-width + links.$link__border-width} colours.$ds_colour__link--focus__shadow;
    color: colours.$ds_colour__link--focus;
    text-decoration: none;
    transition-duration: 0s;
}

@include media-query.media-query-high-contrast {
    .ds_details__summary::before {
        background-color: LinkText;
    }
}
