<details id="native" class="ds_details" data-module="ds-details">
    <summary class="ds_details__summary">Title</summary>
    <div class="ds_details__text">
        Content
    </div>
</details>

<div id="fallback" class="ds_details" data-module="ds-details">
    <summary class="ds_details__summary">Title</summary>
    <div class="ds_details__text">
        Content
    </div>
</div>

<div id="fake" class="ds_details" data-module="ds-details">
    <div class="ds_details__summary">Title</div>
    <div class="ds_details__text">
        Content
    </div>
</div>
