<details class="ds_details">
    <summary class="ds_details__summary">
        {{ params.summary }}
    </summary>
    <div class="ds_details__text">
        {% if params.details -%}
        {{ params.details | safe }}
        {%- endif %}
        {%- if params.form -%}
        {% render '@date-picker' %}
        {% render '@question' %}
        {%- endif -%}
    </div>
</details>