/*------------------------------------*\
    CONTACT DETAILS
\*------------------------------------*/

// fixed vars
$contact-details__border-colour: $ds_colour__border--highlight;




.#{$pl-prefix}contact-details {
    $social-icon-size: 24px;
    $contact-details-line-gap: 24px;

    &__title {
        display: inline-block;
        margin-bottom: $contact-details-line-gap;
        padding-top: 8px;
        position: relative;

        &::after {
            background-color: $contact-details__border-colour;
            content: '';
            height: 4px;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &__list dd {
        margin-left: 0;
    }

    &__list dt {
        font-weight: $bold;
    }

    &__list dt:not(:first-child),
    &__list dt + dd.ds_contact-details__social-item {
        margin-top: $contact-details-line-gap;
    }

    &__social-item {
        margin-bottom: 8px;
        padding-left: #{$social-icon-size + 8px};
        position: relative;
    }

    &__social-icon {
        height: $social-icon-size;
        pointer-events: none;
        position: absolute;
        left: 0;
        width: $social-icon-size;
    }
}

@include media-query(medium) {
    .#{$pl-prefix}contact-details {
        &__social-icon {
            top: 4px;
        }
    }
}
