/*------------------------------------*\
    CONTACT DETAILS
\*------------------------------------*/

// fixed vars
$contact-details__border-colour: $ds_colour__border--highlight;




.ds_contact-details {
    $social-icon-size: px-to-rem(24px);

    &__title {
        @include ds_responsive-padding(1, top);
        display: inline-block;
        margin-bottom: 0;
        position: relative;

        &::after {
            background-color: $contact-details__border-colour;
            content: '';
            height: 4px;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &__list dd {
        margin-left: 0;
    }

    &__list dt {
        font-weight: $bold;
    }

    &__item {
        @include ds_responsive-margin(2, top);
    }

    &__social-item {
        @include ds_responsive-margin(1, bottom);
        padding-left: #{$social-icon-size + px-to-rem(8px)};
        position: relative;
    }

    &__social-icon {
        height: $social-icon-size !important;
        pointer-events: none;
        position: absolute;
        left: 0;
        width: $social-icon-size !important;
    }
}

@include ds_media-query(medium) {
    .ds_contact-details {
        &__social-icon {
            top: px-to-rem(4px);
        }
    }
}
