<div class="ds_contact-details">
    {%- if params.heading %}
    <h2 class="ds_contact-details__title">{{ params.heading }}</h2>
    {% endif -%}
    <dl class="ds_contact-details__list">
        {%- for item in params.items -%}
        <div class="ds_contact-details__item">
            <dt {%- if item.hideLabel %} class="visually-hidden"{%- endif -%}>{{ item.label }}</dt>
            {%- for subitem in item.subitems -%}
            <dd {%- if subitem.ignoreTranslate %} translate="no"{%- endif -%}{%- if subitem.socialItem %} class="ds_contact-details__social-item"{%- endif -%}>{{ subitem.content | safe }}</dd>
            {% endfor -%} 
        </div>
        {% endfor -%}   
    </dl>
</div>