/*------------------------------------*\
    FORM VARIABLES
\*------------------------------------*/

$field-glow-width: 0.1875rem;
$field-border-width: 0.125rem;
$field-border-width--focus: 0.25rem;
$field-border-width--error: 0.25rem;

$input-size: 2.5rem !default;
$small-input-size: 1.5rem !default;
$small-input-offset: 0.5rem !default;
