/*------------------------------------*\
    PAGINATION
\*------------------------------------*/

.#{$pl-prefix}pagination {
    font-size: $small-size;
    text-align: center;

    &__list {
        list-style-type: none;
        margin: 0;
        display: none;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        @include blocklink;

        line-height: 21px;
        padding: 14px 10px;
        text-decoration: none;
        min-width: 50px;

        &.#{$pl-prefix}current {
            background-color: $colour__link--current__background;
            border-bottom: 3px solid $colour__border--highlight;
            padding-bottom: 11px;
            pointer-events: none;
        }

        &--text {
            padding-left: 21px;
            padding-right: 21px;
            width: auto;
        }

        &--ellipsis {
            pointer-events: none;
        }
    }
}

@include media-query(medium) {
    .#{$pl-prefix}pagination {
        &__list {
            display: block;
        }

        &__load-more {
            display: none;
        }
    }
}

@supports (display: flex) {
    .#{$pl-prefix}pagination {
        &__list {
            display: flex;
            justify-content: center;
        }

        &__item:not(:last-child) {
            margin-right: 3px;
        }
    }
}
