/*------------------------------------*\
    PAGINATION
\*------------------------------------*/

.ds_pagination {
    @include ds_small-size;
    text-align: center;

    &__list {
        list-style-type: none;
        margin: 0;
        display: none;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        @include ds_blocklink;

        line-height: 24px;
        padding: 12px 8px;
        text-decoration: none;
        min-width: 48px;

        &.ds_current {
            background-color: $ds_colour__link--current__background;
            border-bottom: 4px solid $ds_colour__border--highlight;
            padding-bottom: 12px;
            pointer-events: none;
        }

        &--text {
            padding-left: 24px;
            padding-right: 24px;
            width: auto;
        }

        &--ellipsis {
            pointer-events: none;
        }
    }
}

@include ds_media-query(medium) {
    .ds_pagination {

        &__list {
            display: block;
        }

        &__load-more {
            display: none;
        }
    }
}

@supports (display: flex) {
    .ds_pagination {
        &__list {
            display: flex;
            justify-content: center;
        }

        &__item:not(:last-child) {
            margin-right: 4px;
        }
    }
}
