@use "../../base/helpers/headings/headings";
@use "../../base/helpers/links/links";
@use "../../base/helpers/media-query/media-query";
@use "../../base/helpers/visibility/visibility";
@use "../../base/settings/colours/colours";

/*------------------------------------*\
    PAGINATION
\*------------------------------------*/

.ds_pagination {
    @include headings.small-size;
    text-align: center;

    &__list {
        list-style-type: none;
        margin: 0;
    }

    // Hide pagination if load more button present
    &__load-more + &__list {
        display: none;
    }

    &__item {
        display: inline-block;
        margin-bottom: 0.25rem; // override default margin on li
    }

    &__link {
        @include links.blocklink;
        line-height: 2.5rem;
        min-height: 2.5rem;
        min-width: 2.5rem;
        padding: 0 0.5rem;
        text-decoration: none;

        &.ds_current {
            color: currentColor;
            position: relative;

            &::before {
                border-bottom: 0.1875rem solid currentColor;
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
            }
        }

        &.ds_current:not(:focus) {
            background-color: colours.$ds_colour__link--current__background;
        }

        &--text:not(&--icon) {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            width: auto;
        }

        &--ellipsis {
            min-width: 0;
            pointer-events: none;
        }

        &--ellipsis,
        &--icon {
            padding: 0;
        }



        .ds_icon {
            height: 2em;
            width: 2em;
        }

        > * {
            pointer-events: none;
        }
    }
}

a.ds_pagination__link:not(.ds_current):not(:focus) {
    text-decoration: underline;
    text-underline-offset: 0.0625rem;
}

@include media-query.media-query(medium) {
    .ds_pagination {
        &__load-more + &__list {
            display: block;
        }

        &__load-more {
            display: none;
        }

        &__link--icon {
            padding-left: 0;
            padding-right: 0;
            width: auto;

            .ds_pagination__link-label {
                padding-left: 1rem;
            }

            .ds_icon + .ds_pagination__link-label {
                padding-right: 1rem;
                padding-left: 0;
            }
        }

        .ds_icon {
            margin: 0 0.25rem;
        }
    }
}

@include media-query.media-query(medium-down) {
    .ds_pagination {
        &__link--icon {
            .ds_pagination__link-label {
                @include visibility.visually-hidden;
            }
        }
    }
}

@supports (display: flex) {
    .ds_pagination {
        &__item {
            margin-bottom: 0; // No longer need margin for wrapping as flexbox gap handles this
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 0.25rem;
            justify-content: center;
        }

        &__link {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
}
