/*------------------------------------*\
    PAGINATION
\*------------------------------------*/

.ds_pagination {
    @include ds_small-size;
    text-align: center;

    &__list {
        list-style-type: none;
        margin: 0;
    }

    // Hide pagination if load more button present
    &__load-more + &__list {
        display: none;
    }

    &__item {
        display: inline-block;
        margin-bottom: 4px; // override default margin on li
    }

    &__link {
        @include ds_blocklink;
        line-height: 40px;
        min-height: 40px;
        min-width: 40px;
        text-decoration: none;

        &.ds_current {
            background-color: $ds_colour__link--current__background;
            color: currentColor;
            position: relative;

            &::before {
                border-bottom: 3px solid currentColor;
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
            }
        }

        &--text:not(&--icon) {
            padding-left: 24px;
            padding-right: 24px;
            width: auto;
        }

        &--ellipsis {
            min-width: 0;
            pointer-events: none;
        }

        .ds_icon {
            height: 2em;
            width: 2em;
        }

        > * {
            pointer-events: none;
        }
    }
}

@include ds_media-query(medium) {
    .ds_pagination {
        &__load-more + &__list {
            display: block;
        }

        &__load-more {
            display: none;
        }

        &__link--icon {
            padding-left: 0px;
            padding-right: 0px;
            width: auto;

            .ds_pagination__link-label {
                padding-left: 16px;
            }

            .ds_icon + .ds_pagination__link-label {
                padding-right: 16px;
                padding-left: 0;
            }
        }

        .ds_icon {
            margin: 0 4px;
        }
    }
}

@include ds_media-query(medium-down) {
    .ds_pagination {
        &__link--icon {
            .ds_pagination__link-label {
                @include ds_visually-hidden;
            }
        }
    }
}

@supports (display: flex) {
    .ds_pagination {
        &__item {
            margin-bottom: 0; // No longer need margin for wrapping as flexbox gap handles this
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            justify-content: center;
        }

        &__link {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
}
