<nav class="ds_pagination" aria-label="{{ params.label }}">
    {%- if params.loadMore %}
    <div class="ds_pagination__load-more">
        <button class="ds_button">Load more</button>
    </div>
    {%- endif %}
    <ul class="ds_pagination__list">
        {%- for item in params.items -%}
        <li class="ds_pagination__item" {%- if item.current %} aria-current="page"{%- endif -%} {%- if item.ellipsis %} aria-hidden="true"{%- endif -%}>
            {%- if item.link %}
            <a class="ds_pagination__link {%- if item.textLabel %}  ds_pagination__link--text{% endif %}" href="{{ item.link }}">
                {%- if item.previous %}
                <svg class="ds_icon" aria-hidden="true" role="img"><use xlink:href="/assets/images/icons/icons.stack.svg#chevron_left"></use></svg>
                {%- endif %}
                <span class="ds_pagination__link-label">{{ item.label }}</span>
                {%- if item.next %}
                <svg class="ds_icon" aria-hidden="true" role="img"><use xlink:href="/assets/images/icons/icons.stack.svg#chevron_right"></use></svg>
                {%- endif %}
            </a>
            {%- elseif item.current %}
            <span class="ds_pagination__link  ds_current">{{ item.label }}</span>
            {%- elseif item.ellipsis %}
            <span class="ds_pagination__link  ds_pagination__link--ellipsis">&hellip;</span>
            {%- endif %}
        </li>
        {%- endfor %} 
    </ul>
</nav>