/*------------------------------------*\
    LABEL
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_label {
    color: settings.$ds_colour__text;
    display: inline-block;
    font-weight: settings.$bold;
    margin-bottom: 0.5rem;
    @include helpers.ds_root-size;
}
