@use "../../base/settings/colours/colours";
@use "../../base/settings/type/type";

/*------------------------------------*\
    LABEL
\*------------------------------------*/

.ds_label {
    color: colours.$ds_colour__text;
    display: inline-block;
    font-weight: type.$bold;
    margin-bottom: 0.5rem;
}
