/*------------------------------------*\
    CONTENT LABEL
\*------------------------------------*/

.#{$pl-prefix}content-label {
    @include small-size;
    font-weight: $normal;
    line-height: 16px;
    margin: 0;
    text-transform: uppercase;
}
