/*------------------------------------*\
    CONTENT LABEL
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_content-label {
    font-weight: settings.$normal;
    margin: 0;
    @include helpers.ds_small-size;
}
