@use "../../base/helpers/box-shadow/box-shadow";
@use "../../base/helpers/functions/functions";
@use "../../base/helpers/high-contrast/high-contrast";
@use "../../base/helpers/media-query/media-query";
@use "../../base/settings/colours/colours";
@use "../../base/settings/type/type";

/*------------------------------------*\
    AUTOCOMPLETE
\*------------------------------------*/

$site-search__border-colour: colours.$ds_colour__grey !default;




.ds_autocomplete {
    position: relative;

    &__suggestions {
        @include box-shadow.box-shadow;

        border: 0.125rem solid $site-search__border-colour;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 10;
    }

    &__suggestions-list {
        list-style-type: none;
        margin: 0;
    }

    /*
      [1] 10px = 12px (associated site search input) minus 2px (suggestions border), 11px = 12px vertical padding minus 2px (suggestions border) split evenly between top and bottom padding
    */
    &__suggestion {
        background-color: colours.$ds_colour__background--primary;
        color: colours.$ds_colour__text--secondary;
        cursor: pointer;
        font-style: italic;
        margin-bottom: 0;
        padding: functions.px-to-rem(11px) functions.px-to-rem(10px); /* [1] */
        transition: background-color 0.2s;

        &:hover {
            background-color: colours.$ds_colour__link--hover__background;
        }

        &:not(:last-child) {
            border-bottom: 0.125rem solid $site-search__border-colour;
        }

        &__text {
            font-style: normal;
            color: colours.$ds_colour__text;
        }

        &__category {
            color: colours.$ds_colour__brand;
        }

        &.active {
            @include high-contrast.high-contrast-focus(0.125rem){
                outline-offset: -0.125rem;
            }
            background-color: colours.$ds_colour__link--focus__background;
            box-shadow: inset 0 -0.1875rem colours.$ds_colour__link--focus__shadow;
        }

        &.active &__text {
            color: colours.$ds_colour__focus;
        }
    }
}

.js-autocomplete-input.js-has-suggestions ~ .ds_autocomplete__suggestions {
    display: block;
}

@include media-query.media-query(medium) {
    .ds_autocomplete__suggestions {
        font-size: type.$root-font-size;
        line-height: functions.line-height-on-grid(type.$root-font-size);
    }
}
