/*------------------------------------*\
    AUTOCOMPLETE
\*------------------------------------*/

$site-search__border-colour: $ds_colour__grey !default;




.ds_autocomplete {
    position: relative;

    &__suggestions {
        @include ds_box-shadow;

        border: 2px solid $site-search__border-colour;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 10;
    }

    &__suggestions-list {
        list-style-type: none;
        margin: 0;
    }

    /*
      [1] 10px = 12px (associated site search input) minus 2px (suggestions border), 11px = 12px vertical padding minus 2px (suggestions border) split evenly between top and bottom padding
    */
    &__suggestion {
        background-color: $ds_colour__background--primary;
        color: $ds_colour__text--secondary;
        cursor: pointer;
        font-style: italic;
        margin-bottom: 0;
        padding: 11px 10px; /* [1] */
        transition: background-color 0.2s;

        &:hover {
            background-color: $ds_colour__link--hover__background;
        }

        &:not(:last-child) {
            border-bottom: 2px solid $site-search__border-colour;
        }

        &__text {
            font-style: normal;
            color: $ds_colour__text;
        }

        &__category {
            color: $ds_colour__brand;
        }

        &.active {
            @include ds_high-contrast-focus(4px){
                outline-offset: -2px;
            }
            background-color: $ds_colour__link--focus__background;
            box-shadow: inset 0 -3px $ds_colour__link--focus__shadow;
        }

        &.active &__text {
            color: $ds_colour__focus;
        }
    }
}

.js-autocomplete-input.js-has-suggestions ~ .ds_autocomplete__suggestions {
    display: block;
}

@include media-query(medium) {
    .ds_autocomplete__suggestions {
        font-size: px-to-rem($root-font-size);
        line-height: line-height-on-grid($root-font-size);
    }
}
