@use "../../base/helpers/headings/headings";
@use "../../base/helpers/high-contrast/high-contrast";
@use "../../base/helpers/last-child-no-margin/last-child-no-margin";
@use "../../base/helpers/spacing/spacing";
@use "../../base/settings/colours/colours";

/*------------------------------------*\
    NOTIFICATION PANEL
\*------------------------------------*/

.ds_notification-panel {
    @include spacing.responsive-margin(3, bottom);
    @include spacing.responsive-padding(6, top);
    @include spacing.responsive-padding(6, bottom);
    @include spacing.responsive-padding(4, left);
    @include spacing.responsive-padding(4, right);
    background: colours.$ds_colour__state--positive;
    color: colours.$ds_colour__text--reversed;
    text-align: center;

    @include high-contrast.high-contrast-outline(0.25rem);

    // Add top margin if placed below another item
    &:not(:first-child) {
        @include spacing.responsive-margin(6, top);
    }

    &--neutral {
        background: colours.$ds_colour__background--secondary;
        color: colours.$ds_colour__text;
    }

    &__title {
        // Any heading level will display in standard way - design is separated from heading level
        // This needs improved so line height (and maybe also margin) also comes from mixin
        // Bottom margin reduced over normal h1 value
        @include headings.h1-style;
        @include spacing.responsive-margin(2, bottom);
    }

    &__content {
        @include last-child-no-margin.last-child-no-margin;
    }

    &__reference {
        @include headings.large-size;
    }
}
