<div class="ds_notification-panel {%- if params.modifiers %} {{ params.modifiers }}{%- endif -%}"{%- if params.alert %} role="alert"{%- endif -%}>
    {%- if params.heading -%}
    <{{ params.headingLevel }} class="ds_notification-panel__title">{{ params.heading }}</{{ params.headingLevel }}>
    {%- endif -%}
    {%- if params.content -%}
    <div class="ds_notification-panel__content">{{ params.content | safe }}</div>
    {%- endif -%}
</div>