/*------------------------------------*\
    TEXT INPUTS
    Covers text-based INPUT elements and TEXTAREA elements
\*------------------------------------*/

.ds_input {
    @include ds_responsive-margin (3, bottom);
    border: $field-border-width solid currentColor;
    border-radius: 0;
    display: block;
    line-height: 2rem;
    min-height: px-to-rem(48px);
    padding: px-to-rem(8px - $field-border-width) px-to-rem(12px - $field-border-width);
    width: 100%;

    &:focus {
        @include focus-outline;
        box-shadow: inset 0 0 0 #{$field-border-width--focus - $field-border-width};
    }

    &--error {
        border-color: $ds_colour__state--negative;
        border-width: $field-border-width--error;
        padding: px-to-rem(8px - $field-border-width--error) px-to-rem(12px - $field-border-width--error);

        &:focus {
            border-color: currentColor;
            box-shadow: none;
        }
    }

    & + &__message {
        margin-top: -1rem;
    }

    &__message--error {
        color: $ds_colour__state--negative;
        font-weight: $bold;
    }


}

// width variants: fixed
$text-input-fixed-widths: (2,3,4,5,10,20);

/// [1] padding + n character widths
/// [2] additional currency padding + right padding + n character widths
@each $width in $text-input-fixed-widths {
    .ds_input--fixed-#{$width} {
        max-width: calc(16px + #{($width) * 1em}); /// [1]
    }

    .ds_currency-wrapper .ds_input--fixed-#{$width} {
        max-width: calc(40px + 8px + #{($width) * 1em}); /// [2]
    }
}

// width variants: fluid
$text-input-fluid-widths: (
    'one-quarter' 25,
    'one-third' 33.333333,
    'half' 50,
    'two-thirds' 67.666667,
    'three-quarters' 75
);

@each $width in $text-input-fluid-widths {
    $name:  nth($width, 1);
    $value: nth($width, 2);

    .ds_input--fluid-#{$name} {
        max-width: #{($value) * 1%};
    }
}

.ds_input__wrapper {
    display: block;
    margin-bottom: 24px;
    overflow: auto;

    .ds_input {
        float: left;
        margin-bottom: 0;
        margin-right: -48px;
        padding-right: 56px;
    }

    .ds_icon {
        height: 32px;
        padding: 8px;
        width: 32px;
    }

    > .ds_button {
        margin: 0;
        @include ds_button-sizing--small;
    }
}

@supports (display: flex) {
    .ds_input__wrapper {
        display: flex;
        overflow: visible;
    }
}
