/*------------------------------------*\
    TEXT INPUTS
    Covers text-based INPUT elements and TEXTAREA elements
\*------------------------------------*/

.#{$pl_prefix}input {
    border: $field-border-width solid currentColor;
    border-radius: 0;
    display: block;
    margin-bottom: 24px;
    min-height: 48px;
    padding: 8px;
    width: 100%;

    &:focus {
        outline: $field-glow-width solid $colour__input--focus__outline;
        outline-offset: 0;
        box-shadow: inset 0 0 0 #{$field-border-width--focus - $field-border-width};
    }

    &--error {
        border-color: $colour__state--negative;
        border-width: $field-border-width--error;
        padding: 4px;

        &:focus {
            border-color: currentColor;
            box-shadow: none;
        }
    }

    & + &__message {
        margin-top: -16px;
    }

    &__message--error {
        color: $colour__state--negative;
        font-weight: $bold;
    }

    &__wrapper {
        margin-bottom: 24px;

        > .#{$pl-prefix}input {
            float: left;
            margin-bottom: 0;
            margin-right: 8px;
        }

        > .#{$pl-prefix}button {
            margin: 0;
        }

        &--has-icon {
            display: inline-block;
            position: relative;

            > .#{$pl_prefix}button {
                margin-top: 0;
                margin-bottom: 0;
                position: absolute;
                right: 0;
                top: 0;
            }

            > .#{$pl_prefix}input {
                padding-right: 56px;
            }
        }
    }

    @supports (display: flex) {
        &__wrapper {
            display: flex;

            > * {
                float: none;
            }

            &--has-icon {
                > .#{$pl_prefix}button {
                    margin-left: -48px;
                    position: static;
                }
            }
        }
    }
}

// width variants: fixed
$text-input-fixed-widths: (2,3,4,5,10,20);

/*
 * [1] padding + n character widths
 * [2] additional currency padding + right padding + n character widths
 */
@each $width in $text-input-fixed-widths {
    .#{$pl_prefix}input--fixed-#{$width} {
        max-width: calc(16px + #{($width) * 1em}); /* [1] */
    }

    .#{$pl_prefix}currency-wrapper .#{$pl_prefix}input--fixed-#{$width} {
        max-width: calc(40px + 8px + #{($width) * 1em}); /* [2] */
    }
}

// width variants: fluid
$text-input-fluid-widths: (
    'one-quarter' 25,
    'one-third' 33.333333,
    'half' 50,
    'two-thirds' 67.666667,
    'three-quarters' 75
);

// @include media-query(medium) {
    @each $width in $text-input-fluid-widths {
        $name:  nth($width, 1);
        $value: nth($width, 2);

        .#{$pl_prefix}input--fluid-#{$name} {
            max-width: #{($value) * 1%};
        }
    }
// }
