<div class="ds_input__wrapper ds_input__wrapper--has-icon">
    {%- render '@text-input' %}
    <button class="ds_button">
        <span class="visually-hidden">Search</span>
        <svg class="ds_icon" aria-hidden="true" role="img"><use href="/assets/images/icons/icons.stack.svg#search"></use></svg>
    </button>
</div>
