/*------------------------------------*\
    ICON
\*------------------------------------*/

.ds_icon {
    fill: currentColor;
    height: calc(24em/#{$root-font-size/1px});
    vertical-align: middle;
    width: calc(24em/#{$root-font-size/1px});
}

@include ds_media-query(medium) {
    .ds_icon {
        height: calc(24em/#{$root-font-size--medium/1px});
        width: calc(24em/#{$root-font-size--medium/1px});
    }
}

@for $size from 3 through 20 {
    .ds_icon--#{$size*4} {
        width: #{$size*4}px;
        height: #{$size*4}px;
    }
}

.ds_icon--fill {
    width: 100%;
    height: 100%;
}
