/*------------------------------------*\
    ICON
\*------------------------------------*/

.#{$pl-prefix}icon {
    fill: currentColor;
    height: calc(24em/#{$root-font-size/1px});
    vertical-align: middle;
    width: calc(24em/#{$root-font-size/1px});
}

@include media-query(medium) {
    .#{$pl-prefix}icon {
        height: calc(24em/#{$root-font-size--medium/1px});
        width: calc(24em/#{$root-font-size--medium/1px});
    }
}

@for $size from 3 through 20 {
    .#{$pl-prefix}icon--#{$size*4} {
        width: #{$size*4}px;
        height: #{$size*4}px;
    }
}

.#{$pl-prefix}icon--fill {
    width: 100%;
    height: 100%;
}
