<div class="ds_cb  ds_cb--video
{%- if params.background %}  ds_cb--bg-{{ params.background }}{% endif -%}
{%- if params.foreground %}  ds_cb--fg-{{ params.foreground }}{% endif -%}
{%- if params.fullwidth %}  ds_cb--fullwidth{% endif -%}">
    <div class="ds_wrapper">
        <div class="ds_cb__inner">
            <div class="ds_cb__poster">
                <a target="_blank" class="ds_cb__poster-link" href="{{ params.imageLink }}">
                    <img alt="{{ params.imageAlt }}" src="{{ params.image }}" width="{{ params.imageWidth }}" height="{{ params.imageHeight }}"/>
                </a>
            </div>
            <div class="ds_cb__text">
                {{ params.content | safe }}
            </div>
        </div>
    </div>
</div>