/*------------------------------------*\
    COOKIE BANNER
    Modifications to the notification banner component for this particular use case
\*------------------------------------*/

// modifiable vars
$cookie-notification__background-colour: $ds_colour__background--tertiary !default;
$cookie-notification__background-colour--success: $ds_colour__state--positive !default;




.ds_notification.ds_notification--cookie {
    background: $cookie-notification__background-colour;
    color: $ds_colour__text;

    .ds_notification__content {
        padding-top: 24px;
        padding-bottom: 32px;
    }

    @include checkAndFixDescendantLinkColour($ds_colour__link, $cookie-notification__background-colour, 'cookie banner');
    @include checkAndFixDescendantSecondaryButtonColour($ds_colour__button--secondary, $cookie-notification__background-colour, 'cookie banner');
}

.ds_notification.ds_notification--cookie-success {
    background: $cookie-notification__background-colour--success;
}
