/*------------------------------------*\
    COOKIE BANNER
    Modifications to the notification banner component for this particular use case
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

// modifiable vars
$cookie-notification__background-colour: settings.$ds_colour__background--tertiary !default;
$cookie-notification__background-colour--success: settings.$ds_colour__state--positive !default;

.ds_notification.ds_notification--cookie {
    background: $cookie-notification__background-colour;
    color: settings.$ds_colour__text;

    .ds_notification__content {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
    }

    @include helpers.checkAndFixDescendantLinkColour(settings.$ds_colour__link, $cookie-notification__background-colour, 'cookie banner');
    @include helpers.checkAndFixDescendantSecondaryButtonColour(settings.$ds_colour__button--secondary, $cookie-notification__background-colour, 'cookie banner');
}

.ds_notification.ds_notification--cookie-success {
    background: $cookie-notification__background-colour--success;
}
