/*------------------------------------*\
    COOKIE BANNER
    Modifications to the notification banner component for this particular use case
\*------------------------------------*/

// modifiable vars
$cookie-notification__background-colour: $ds_colour__grey--light !default;
$cookie-notification__background-colour--success: $ds_colour__state--positive !default;




.ds_notification.ds_notification--cookie {
    background: $cookie-notification__background-colour;
    color: $ds_colour__text;

    .ds_notification__content {
        padding-top: 24px;
        padding-bottom: 32px;
    }
}

.ds_notification.ds_notification--cookie-success {
    background: $cookie-notification__background-colour--success;
}
