@use "../../base/helpers/colours/colours" as colours2;
@use "../../base/settings/colours/colours";

/*------------------------------------*\
    COOKIE BANNER
    Modifications to the notification banner component for this particular use case
\*------------------------------------*/

// modifiable vars
$cookie-notification__background-colour: colours.$ds_colour__background--tertiary !default;
$cookie-notification__background-colour--success: colours.$ds_colour__state--positive !default;




.ds_notification.ds_notification--cookie {
    background: $cookie-notification__background-colour;
    color: colours.$ds_colour__text;

    .ds_notification__content {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
    }

    @include colours2.checkAndFixDescendantLinkColour(colours.$ds_colour__link, $cookie-notification__background-colour, 'cookie banner');
    @include colours2.checkAndFixDescendantSecondaryButtonColour(colours.$ds_colour__button--secondary, $cookie-notification__background-colour, 'cookie banner');
}

.ds_notification.ds_notification--cookie-success {
    background: $cookie-notification__background-colour--success;
}
