<div id="cookie-notice" class="ds_notification ds_notification--large ds_notification--cookie js-initial-cookie-content fully-hidden" data-module="ds-cookie-notification">
    <div class="ds_wrapper">
        <div class="ds_notification__content">
            {%- if params.heading %}
            <h2 class="visually-hidden">{{ params.heading }}</h2>
            {%- endif %}
            {%- if params.content %}
            <div class="ds_notification__text">
                {{ params.content | safe }}    
            </div>
            {%- endif %}
            {%- if params.actions %}
            <div class="ds_notification__actions">
                {%- for action in params.actions %}
                {{ action.content | safe }}
                {%- endfor -%}
            </div>
            {%- endif %}
        </div>
    </div>
</div>