/*------------------------------------*\
    $ERROR SUMMARY
\*------------------------------------*/

.ds_error-summary {
    border: 5px solid $colour__state--negative;
    padding: 21px 30px;
    @include block-margins;

    &__title {
        margin-top: 0;
    }

    &__list {
        color: $colour__state--negative;
        font-weight: bold;
        list-style-type: none;
        margin-left: 0;

        a {
            color: $colour__state--negative;

            &:focus, &:active {
                color: $colour__text;
            }
        }

        li {
            margin-left: 0;
        }
    }

    &__content > :last-child {
        margin-bottom: 0;
    }
}

.flashable {
    transition: background-color 2s;

    &--flash {
        background-color: $colour__gold--base;
        transition-duration: 0s;
    }
}
