/*------------------------------------*\
    $ERROR SUMMARY
\*------------------------------------*/

/// [1] compensate for border
.ds_error-summary {
    border: 4px solid $ds_colour__state--negative;
    padding: 20px 28px; /// [1]
    @include ds_block-margins;
    @include ds_last-child-no-margin;

    &__title {
        margin-top: 0;
    }

    &__list {
        color: $ds_colour__state--negative;
        font-weight: $bold;
        list-style-type: none;
        margin-left: 0;

        a {
            color: $ds_colour__state--negative;

            &:focus {
                color: $ds_colour__text;
            }
        }

        li {
            margin-left: 0;
        }
    }
}

.flashable {
    transition: background-color 2s;

    &--flash {
        background-color: $ds_colour__yellow;
        transition-duration: 0s;
    }
}
