<div class="ds_error-summary {%- if params.flashable %} flashable{%- endif %}" id="error-summary" aria-labelledby="error-summary-title" role="alert">
    <h2 class="ds_error-summary__title" id="error-summary-title">There is a problem</h2>
    {%- if params.list %}
    <ul class="ds_error-summary__list">
        {%- for item in params.list %}
        <li {%- if item.flash %} class="flashable--flash"{%- endif %}>
            <a href="{{ item.link }}">{{ item.label }}</a>
        </li>
        {%- endfor %}
    </ul>
    {% endif -%}
</div>