@use "../../helpers/media-query/media-query";
@use "../../settings/type/type";

/*------------------------------------*\
    MARKED TEXT
\*------------------------------------*/

mark {
    background-color: inherit;
    color: inherit;
    font-weight: type.$bold;

    @include media-query.media-query-high-contrast {
        background-color: Mark;
    }
}
