/*------------------------------------*\
    MARKED TEXT
\*------------------------------------*/

@use "../../helpers";
@use "../../settings";

mark {
    background-color: inherit;
    color: inherit;
    font-weight: settings.$bold;

    @include helpers.ds_media-query-high-contrast {
        background-color: Mark;
    }
}
