/*------------------------------------*\
    LAYOUT
\*------------------------------------*/

.ds_layout {
    @include ds_layout();
    margin-bottom: 91px;

    &__content,
    &__partner {
        img {
            height: auto;
            max-width: 100%;
        }
    }
}

@include ds_media-query(medium) {
    .ds_layout {

        &__feedback {
            clear: left;
            @include ds_colwidth(8);
        }

        &--article {
            .ds_layout {
                &__header {
                    clear: left;
                    float: left;
                    @include ds_colwidth(8);
                }

                &__partner {
                    float: left;
                    @include ds_colwidth(4);
                }

                &__sidebar {
                    float: left;
                    @include ds_colwidth(4);
                }

                &__content {
                    clear: left;
                    float: left;
                    @include ds_colwidth(8);
                }
            }
        }

        &--guide {
            .ds_layout {
                &__header {
                    clear: left;
                    float: left;
                    @include ds_colwidth(8);
                }

                &__partner {
                    float: left;
                    @include ds_colwidth(4);
                }

                &__navigation {
                    clear: left;
                    @include ds_colwidth(8);
                }

                &__content {
                    clear: left;
                    float: left;
                    @include ds_colwidth(8);
                }

                &__sidebar {
                    float: left;
                    @include ds_colwidth(3);
                    @include ds_colpush(1);
                }

                &__feedback {
                    @include ds_colwidth(8);
                }
            }
        }

        &--category-list {
            .ds_layout {
                &__list {
                    @include ds_colwidth(8);
                }

                &__grid {
                    @include ds_colwidth(12);
                }
            }
        }

        &--search-results {
            .ds_layout {
                &__content {
                    @include ds_colwidth(8)
                }

                &__list {
                    @include ds_colwidth(10);
                }
            }
        }
    }
}


@include ds_media-query(large) {
    .ds_layout {
        &--article {
            .ds_layout {
                &__content {
                    clear: left;
                    float: left;
                    @include ds_colwidth(8);
                }

                &__sidebar {
                    float: left;
                    @include ds_colpush(1);
                    @include ds_colwidth(3);
                }
            }
        }

        &--guide {
            .ds_layout {
                &__content {
                    @include ds_colwidth(8);
                }

                &__sidebar {
                    float: left;
                    @include ds_colpush(1);
                    @include ds_colwidth(3);
                }

                &__feedback {
                    @include ds_colwidth(8);
                }
            }
        }

        &--search-results {
            .ds_layout {
                &__list {
                    @include ds_colwidth(8);
                }
            }
        }
    }
}

@supports(display: grid) {
    /**
     * GRID KEY
     * c: content
     * f: feedback
     * h: header
     * l: list (e.g. category items, search results)
     * g: grid
     * n: navigation (e.g. subpages of a publication or guide)
     * p: partner branding
     * s: sidebar
     */

    // short abbreviations of grid area names so things are easy to read later on
    $grid-area-content:     c;
    $grid-area-feedback:    f;
    $grid-area-header:      h;
    $grid-area-list:        l;
    $grid-area-grid:        g;
    $grid-area-navigation:  n;
    $grid-area-partner:     p;
    $grid-area-sidebar:     s;

    // this includes body for increased specificity
    body .ds_layout > *[class] {
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }

    .ds_layout {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr;

        // default template areas definition based on article,
        // which is a relatively safe fallback
        grid-template-areas:
            'h h'
            'p p'
            'c c'
            's s'
            'f f';
        margin-right: 0;
        margin-bottom: 0;

        &__content {
            grid-area: $grid-area-content;
        }

        &__feedback {
            grid-area: $grid-area-feedback;
        }

        &__header {
            grid-area: $grid-area-header;
        }

        &__list {
            grid-area: $grid-area-list;
        }

        &__grid {
            grid-area: $grid-area-grid;
        }

        &__navigation {
            grid-area: $grid-area-navigation;
        }

        &__partner {
            grid-area: $grid-area-partner;
            align-self: start;
            @include ds_block-margins;
        }

        &__sidebar {
            grid-area: $grid-area-sidebar;
        }

        &--category-list {
            grid-template-areas:
                'h h'
                'c c'
                'l l'
                'g g'
                'f f';
        }

        &--guide {
            grid-template-areas:
                'h h'
                'p p'
                'n n'
                'c c'
                's s'
                'f f'
        }
    }

    @include ds_media-query(small) {
        .ds_layout {
            grid-template-columns: repeat(6, 1fr);

            grid-template-areas:
                'h h h h h h'
                'p p p p p p'
                'c c c c c c'
                's s s s s s'
                'f f f f f f';

            &--category-list {
                grid-template-areas:
                    'h h h h h h'
                    'c c c c c c'
                    'l l l l l l'
                    'g g g g g g'
                    'f f f f f f';
            }

            &--guide {
                grid-template-areas:
                    'h h h h h h'
                    'p p p p p p'
                    'n n n n n n'
                    'c c c c c c'
                    's s s s s s'
                    'f f f f f f'
            }
        }
    }

    @include ds_media-query(medium) {
        .ds_layout {
            grid-template-columns: repeat(12, 1fr);

            &--article {
                grid-template-areas:
                    'h h h h h h h h p p p p'
                    'c c c c c c c c s s s s'
                    'f f f f f f f f . . . .';
            }

            &--guide {
                grid-template-areas:
                    'h h h h h h h h p p p p'
                    'n n n n n n n n . . . .'
                    'c c c c c c c c s s s s'
                    'f f f f f f f f . . . .'
            }

            &--category-list {
                grid-template-areas:
                    'h h h h h h h h h h h h'
                    'c c c c c c c c c c c c'
                    'l l l l l l l l . . . .'
                    'g g g g g g g g g g g g'
                    'f f f f f f f f . . . .';
            }

            &--search-results {
                grid-template-areas:
                    'h h h h h h h h h h h h'
                    'c c c c c c c c . . . .'
                    'l l l l l l l l l l . .';
            }
        }
    }

    @include ds_media-query(large) {
        .ds_layout {
            &--article {
                grid-template-areas:
                    'h h h h h h h h . p p p'
                    'c c c c c c c c . s s s'
                    'f f f f f f f f . . . .';
            }

            &--guide {
                grid-template-areas:
                    'h h h h h h h h . p p p'
                    'n n n n n n n n . . . .'
                    'c c c c c c c c . s s s'
                    'f f f f f f f f . . . .'
            }

            &--search-results {
                grid-template-areas:
                    'h h h h h h h h h h h h'
                    'c c c c c c c c . . . .'
                    'l l l l l l l l . . . .';
            }
        }
    }
}
