@use "../../base/helpers/colours/colours" as colours2;
@use "../../base/helpers/functions/functions";
@use "../../base/helpers/headings/headings";
@use "../../base/helpers/media-query/media-query";
@use "../../base/helpers/spacing/spacing";
@use "../../base/settings/colours/colours";
@use "../../base/settings/type/type";

/*------------------------------------*\
    FEATURE HEADER
\*------------------------------------*/

.ds_feature-header {
    @include spacing.responsive-margin(8, bottom);

    &__title {
        @include headings.h1-style;
        @include spacing.responsive-margin(1, bottom);

        font-weight: type.$light;
    }

    &--background {
        background-color: colours.$ds_colour__background--tertiary;

        @include colours2.checkAndFixDescendantLinkColour(colours.$ds_colour__link, colours.$ds_colour__background--tertiary, 'feature header');
        @include colours2.checkAndFixDescendantSecondaryButtonColour(colours.$ds_colour__button--secondary, colours.$ds_colour__background--tertiary, 'feature header');
    }

    &__primary {
        padding: 1rem 0;
        position: relative;
        z-index: 2;

        @include media-query.media-query(medium) {
            padding: 1.5rem 0;
        }

        @include media-query.media-query(large) {
            padding: 2.5rem 0;
        }
    }

    &--background &__primary {
        padding-left: 1rem;

        @include media-query.media-query(medium-down) {
            padding-right: 1rem;
        }

        @include media-query.media-query(medium) {
            padding-left: 1.5rem;
        }

        @include media-query.media-query(large) {
            padding-left: 2.5rem;
        }
    }

    &__secondary {
        position: relative;
        z-index: 1;
    }

    &__image {
        display: block;
        height: auto;
        width: 100%;
    }

    @include media-query.media-query(medium) {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 2rem;

        &__primary {
            grid-area: 1/1/2/7;
            margin-right: 0;

            > :last-child {
                margin-bottom: 0;
            }
        }

        &__secondary {
            grid-area: 1/7/2/13;
        }

        &--wide {
            .ds_feature-header__primary {
                grid-area: 1/1/2/9;
                margin-right: 0;
            }

            .ds_feature-header__secondary {
                grid-area: 1/9/2/13;
            }
        }
    }
}

.ds_reversed .ds_feature-header__primary,
.ds_reversed .ds_feature-header__primary a {
    color: colours.$ds_colour__text--reversed;
}


// ie
.ds_feature-header {
    @include media-query.media-query(medium) {
        display: -ms-grid;
        -ms-grid-columns: 1fr 2rem 1fr;

        &--wide {
            -ms-grid-columns: 2fr 2rem 1fr;
        }

        &__primary {
            -ms-grid-column: 1;
            -ms-grid-row-align: center;
        }

        &__secondary {
            -ms-grid-column: 3;
        }
    }
}
