<div class="ds_wrapper">
    <header class="ds_feature-header  {{ params.modifiers }}">
        <div class="ds_feature-header__content">
            <h1 class="ds_feature-header__title">
                Design standards
            </h1>
            {% if params.nosummary %}
            {% else %}
            <p>
                The patterns included here have been developed for use by government, public sector and
                third sector non-commercial organisations in Scotland.
            </p>
            {% endif %}
        </div>

        <div class="ds_feature-header__media">
            <img class="ds_feature-header__image" alt="" src="/assets/images/placeholders/thistles.jpg" />
        </div>
    </header>
</div>
