@use "../../helpers/headings/headings";
@use "../../helpers/media-query/media-query";
@use "../../helpers/spacing/spacing";
@use "../../settings/type/type";

/*------------------------------------*\
    LEADER
\*------------------------------------*/

.ds_leader,
.ds_leader-first-paragraph > p:first-child {
    @include headings.large-size;
    @include spacing.responsive-margin(5, bottom);

    font-weight: type.$light;
    line-height: 2rem;

    @include media-query.media-query(medium) {
        line-height: 2.5rem;
    }
}
