/*------------------------------------*\
    BADGE
\*------------------------------------*/

.ds_badge {
    @include ds_root-size--fixed;
    background: $ds_colour__text;
    border-radius: 50%;
    color: $ds_colour__background--primary;
    font-weight: $bold;
    display: inline-block;
    height: 1.5rem;
    text-align: center;
    width: 1.5rem;
}