/*------------------------------------*\
    SITE FOOTER
\*------------------------------------*/

$site-footer__background: $color__brand--primary !default;
$site-footer__link-highlight: $color__brand--secondary !default;




.#{$pl-prefix}site-footer {
    background-color: $site-footer__background;
    color: $color__white;
    font-size: $small-size;
    line-height: 21px;
    padding-bottom: 35px;
    padding-top: 21px;

    &__site-items {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-size: $small-size--fixed;
        font-weight: $bold;
        list-style-type: none;
        margin: 0 0 21px;
        padding-bottom: 21px;
    }

    &__copyright {
        &-logo {
            display: block;
            margin-bottom: 7px;
            width: 35px;

            @include fancy-underscore();

            img {
                width: 100%;
            }
        }
    }

    &__org {
        max-width: 150px;
        position: relative;
    }

    &__org-link {
        display: block;

        @include fancy-underscore();
    }

    .#{$pl-prefix}site-footer__org-link,
    .#{$pl-prefix}site-footer__copyright-logo {
        color: currentColor !important;
    }
}

.#{$pl-prefix}site-items {
    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

@include media-query(medium) {


    .#{$pl-prefix}site-footer {
        &__copyright {
            padding-left: 45px;
            position: relative;

            &-logo {
                position: absolute;
                left: 0;
                top: 2px;
            }
        }
    }

    @supports (display: grid) {
        .#{$pl-prefix}site-footer {
            &__content {
                display: grid;
                grid-gap: 0 30px;
                grid-template-columns: repeat(12, 1fr);
                grid-template-areas: 'a a a a a a a a a a a a'
                                     'b b b b b b b b . c c c';
            }

            &__site-items {
                grid-area: a;
            }

            &__copyright {
                grid-area: b;
            }

            &__org {
                grid-area: c;
                justify-self: right;
                width: 100%;

                &-logo {
                    display:block;
                    width: 100%;
                }
            }
        }
    }
}
