/*------------------------------------*\
    CURRENCY WRAPPER
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

@use "../form.settings" as form-settings;

.ds_currency-wrapper {
    position: relative;

    &::before {
        @include helpers.ds_large-size;
        content: '£';
        height: form-settings.$input-size;
        font-weight: settings.$bold;
        line-height: form-settings.$input-size !important;
        pointer-events: none;
        position: absolute;
        text-align: center;
        top: 0;
        width: form-settings.$input-size;
    }

    &[data-symbol]::before {
        content: attr(data-symbol);
    }

    & > .ds_input {
        padding-left: 2.5rem;
    }

    & > .ds_input:focus {
        padding-left: 2.4375rem;
    }


}
