/*------------------------------------*\
    CURRENCY WRAPPER
\*------------------------------------*/

$input-height: 48px;

.#{$pl_prefix}currency-wrapper {
    position: relative;

    &::before {
        content: '£';
        height: $input-height;
        font-size: $large-size;
        font-weight: bold;
        line-height: $input-height;
        pointer-events: none;
        position: absolute;
        text-align: center;
        top: 0;
        width: $input-height;
    }

    &[data-symbol]::before {
        content: attr(data-symbol);
    }

    & > .#{$pl_prefix}input {
        padding-left: 40px;
    }

    & > .#{$pl_prefix}input:focus {
        padding-left: 39px;
    }
}
