<div class="ds_currency-wrapper" {%- if params.currency %} data-symbol="{{ params.currency }}"{%- endif %}>
    <input class="ds_input {%- if params.size %} {{ params.size }}{%- endif %}" type="text" id="price" />
</div>