/*------------------------------------*\
    VISIBILITY
\*------------------------------------*/

@mixin visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.visually-hidden {
    @include visually-hidden;
}

.fully-hidden {
    display: none !important;
}
