$pl-prefix: 'ds_';

@import "accordion/accordion";
@import "breadcrumbs/breadcrumbs";
@import "category-header/category-header";
@import "category-item/category-item";
@import "category-item/category-item--card";
@import "category-lists/category-lists";
@import "contact-details/contact-details";
@import "content-label/content-label";
@import "information-text/information-text";
@import "metadata/metadata";
@import "notification-banner/notification-banner";
@import "page-header/page-header";
@import "pagination/pagination";
@import "search-result/search-result";
@import "search-results/search-results";
@import "sequential-navigation/sequential-navigation";
@import "side-navigation/side-navigation";
@import "site-navigation/site-navigation";
@import "site-branding/site-branding";
@import "site-footer/site-footer";
@import "site-header/site-header";
@import "site-search/site-search";
@import "tag/tag";
@import "warning-text/warning-text";
