/*------------------------------------*\
    IMAGE TEXT
\*------------------------------------*/

.ds_cb--card-text {
    @extend %ds_cb--image-video;

    .ds_cb__text {

        @include ds_media-query(medium) {
            float: left;
            @include ds_colwidth(6);

            @supports(display: grid) {
                grid-column: span 6;
            }
        }

        @include ds_media-query(large) {
            float: left;
            @include ds_colwidth(8);

            @supports(display: grid) {
                grid-column: span 8;
            }
        }
    }

    .ds_cb__card {

        @include ds_media-query(medium) {
            float: left;
            @include ds_colwidth(6);
    
            @supports(display: grid) {
                grid-column: span 6;
            }
        }

        @include ds_media-query(large) {
            float: left;
            @include ds_colwidth(4);
    
            @supports(display: grid) {
                grid-column: span 4;
            }
        }
    }
}