<div class="ds_cb  ds_cb--card-text
{%- if params.fullwidth %}  ds_cb--fullwidth{% endif -%}">
    <div class="ds_wrapper">
        <div class="ds_cb__inner">
            <div class="ds_cb__text">
                {{ params.content | safe }}
            </div>
            <div class="ds_cb__card">
                {% render '@card', params.card -%}
            </div>
        </div>
    </div>
</div>