/*------------------------------------*\
    BUTTON GROUP
\*------------------------------------*/

.ds_button-group {
    @include ds_block-margins;
    @include ds_responsive-spacing(2, 'gap');

    display: flex;
    flex-wrap: wrap;

    // Remove margins as the group handles the layout
    .ds_button {
        align-content: center;
        margin: 0;
    }

    // Links and text buttons are vertically centred but not stretched to match the height of all buttons
    a:not(.ds_button),
    .ds_link {
        align-self: center;
    }

    // Mobile size behaviour
    @include ds_media-query(small-down) {

        // Default is to stack on mobile
        flex-direction: column;
        .ds_button {
            width: 100%;
        }
        // Modifier to keep buttons in a row
        &--inline {
            flex-direction: row;
            flex-wrap: nowrap;

            .ds_button {
                flex-grow: 1;
                width: auto;
            }

            // Links and text buttons take up minimal space
            .ds_link {
                min-width: fit-content;
            }
        }
        // Centre align icon button label text when stacked
        &:not(.ds_button-group--inline){
            .ds_button--has-icon {
                padding-right: $button__height;
                padding-left: $button__height;
            }
        }
    }
}