/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

$button__border-width: 2px !default;
$button__outline-width: 3px !default;
$button__padding--x: 16px !default;
$link__border-width: 0.16em !default;



///
/// [1] renders an outline/border in windows high contrast mode
///
.ds_button {
    @include ds_small-size;
    @include ds_button-sizing;
    @include ds_high-contrast-button;

    background: $ds_colour__button__background;
    border: 0;
    border-radius: 0;
    color: $ds_colour__button;
    cursor: pointer;
    display: inline-block;
    font-weight: $bold;
    line-height: 1.5rem;
    outline: 2px solid transparent; /// [1]
    outline-offset: -2px; /// [1]
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color $transition-out-time;

    @include ds_responsive-margin(4, bottom);

    // Margins wont collapse as inline-block.
    // Assume block margins (step 4) on preceding element/component so no top margin is needed on ds_button
    margin-top: 0;


    &:hover {
        background-color: $ds_colour__button--hover__background;
        color: $ds_colour__button;
        outline-color: transparent;
        transition-duration: $transition-in-time;
    }

    &:focus {
        background-color: $ds_colour__button--focus__background;
        box-shadow: 0 $link__border-width $ds_colour__link--focus__shadow;
        color: $ds_colour__button--focus;
        outline: 0;
        transition-duration: 0s;

        @include ds_high-contrast-focus(4px);
    }

    // ICONS ON BUTTONS
    .ds_icon {
        pointer-events: none;
    }

    &[disabled] {
        background-color: $ds_colour__button--disabled__background;
        box-shadow: none;
        color: $ds_colour__button;
        font-weight: $normal;
        outline: none;
        pointer-events: none;
    }
}

.ds_reversed .ds_button {
    background-color: $ds_colour__button;
    color: $ds_colour__button__background;

    &:focus,
    &:hover:focus {
        background-color: $ds_colour__blocklink-bg--focus;
    }

    &:hover {
        background-color: $ds_colour__blocklink-bg--hover;
    }

    &--secondary {
        background-color: transparent;
        border-color: currentColor;
        color: $ds_colour__button;

        &:hover:not(:focus) {
            background-color: rgba(0, 0, 0, 0.3);
            color: $ds_colour__button;
            outline-color: currentColor;
        }
    }
}

.ds_button {
    &--secondary {
        background-color: $ds_colour__button--secondary__background;
        color: $ds_colour__button--secondary;
        outline: 2px solid currentColor;
        outline-offset: -2px;

        &:hover:not(:focus) {
            background-color: $ds_colour__button--secondary--hover__background;
            color: $ds_colour__button--secondary--hover;
            outline: 2px solid currentColor;
            outline-offset: -2px;
        }
    }

    &--cancel {
        background-color: $ds_colour__button--cancel__background;
        color: $ds_colour__button--cancel;
        outline: 2px solid currentColor;
        outline-offset: -2px;

        &:hover:not(:focus) {
            background-color: $ds_colour__button--cancel--hover__background;
            color: $ds_colour__button--cancel;
            outline: 2px solid currentColor;
            outline-offset: -2px;
        }
    }
}


// SIZE VARIANTS
.ds_button {
    &--small {
        @include ds_small-size;
        @include ds_button-sizing--small;
    }
}

// WIDTH VARIANTS
.ds_button {
    &--fixed {
        width: 12.5rem;

        &.ds_button--small {
            width: 10rem;
        }
    }

    &--max {
        max-width: 30rem;
        width: 100%;
    }
}

// BUTTONS WITH ICONS
// n.b. icon sizing is included in the ds_button-sizing mixins
.ds_button {
    .ds_icon {
        bottom: 0;
        box-sizing: content-box;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    &--has-icon {
        padding-right: calc(#{$button__height} + #{$button__padding--x});
    }

    &--has-icon--left {
        padding-left: calc(#{$button__height} + #{$button__padding--x});
        padding-right: #{$button__padding--x};

        .ds_icon {
            left: 0;
            right: auto;
        }
    }
}
