{%- if params.icon -%}
    {%- set moduleIcon = ["<svg class=\"ds_icon\" aria-hidden=\"true\" role=\"img\"><use href=\"", params.icon | path, "\"></use></svg>"] | join %}
{%- endif -%}
{%- if params.iconPosition == 'before' -%}
    {%- set moduleSlotBefore = moduleIcon | safe %}
{%- endif -%}
{%- if params.iconPosition == 'after' -%}
    {%- set moduleSlotAfter = moduleIcon | safe %}
{%- endif -%}
{%- if params.iconOnly -%}
    {%- set moduleSlotPrimary = moduleIcon | safe %}
    {%- set moduleSlotBefore = ["<span class=\"visually-hidden\">", params.label, "</span>"] | join | safe %}
{%- elseif params.label -%}
    {%- set moduleSlotPrimary = params.label %}
{%- endif -%}
<{{ params.type }} {%- if params.link %} href="{{ params.link }}" {%- endif %} {%- if params.disabled %} disabled="true" {%- endif %} class="ds_button {%- if params.modifiers %} {{ params.modifiers }}{%- endif -%}{%- if params.iconPosition %} ds_button--has-icon{% endif -%}{%- if params.iconPosition == 'before' %} ds_button--has-icon--left{% endif -%}">{{ moduleSlotBefore }}{{ moduleSlotPrimary }}{{ moduleSlotAfter }}</{{ params.type }}>
