/*------------------------------------*\
    CATEGORY ITEM
    Navigation elements for different levels of category navigation. Includes classes for layout of these elements in a list.
\*------------------------------------*/

// modifiable vars
$category-item__border-colour--hover: $ds_colour__link--hover !default;
$category-item__link-colour: $ds_colour__link !default;

$border-width-size: 4px;




.#{$pl-prefix}category-item {

    @include blocklink('.#{$pl-prefix}category-item__link');

    padding: 12px 16px 12px;
    text-decoration: none;
    transition: background-color $transition-out-time, border-color $transition-out-time;
    width: 100%;

    > :last-child {
        margin-bottom: 0;
    }

    &__title {
        @include large-size;
        line-height: 28px;
        margin: 0 0 16px;
    }

    .#{$pl-prefix}category-item__link::after {
        left: #{$border-width-size * -1};
    }

    &__link {
        color: $category-item__link-colour;

        &::before {
            background-color: mix($ds_colour__border--highlight, $ds_colour__grey--lighter, 30%);
            bottom: 0;
            content: '';
            left: #{$border-width-size * -1};
            position: absolute;
            top: 0;
            width: $border-width-size;
        }

        &:focus::before {
            content: none;
        }

        &:hover::before {
            background-color: $category-item__border-colour--hover;
        }
    }

    &__summary {
        @include small-size;
        color: $ds_colour__text--secondary;
        line-height: 24px;
        margin: 0;
    }

    &:hover &__summary {
        color: $ds_colour__text;
    }
}

.#{$pl-prefix}card {
    > .#{$pl-prefix}category-item {
        padding-top: 24px;
        padding-bottom: 24px;
        position: static;
    }

    .#{$pl-prefix}category-item__link::before {
        left: 0;
        right: 0;
        bottom: 0;
        top: 100%;
        transition: top 0.2s;
        width: 100%;
    }

    .#{$pl-prefix}category-item__link:hover::before {
        top: calc(100% - 4px);
    }

    .#{$pl-prefix}category-item__link::after {
        left: 0;
    }
}

@include media-query(medium) {
    .#{$pl-prefix}category-item {
        &__title {
            line-height: 32px;
        }
    }

    .#{$pl-prefix}card {
        > .#{$pl-prefix}category-item {
            min-height: 192px;
        }
    }
}
