/*------------------------------------*\
    CATEGORY ITEM
    Navigation elements for different levels of category navigation. Includes classes for layout of these elements in a list.
\*------------------------------------*/

// modifiable vars
$category-item__border-colour--hover: $colour__link--hover !default;
$category-item__link-colour: $colour__link !default;

$border-width-size: 3px;
$border-width-size--pinned: 21px;




.#{$pl-prefix}category-item {

    @include blocklink('.#{$pl-prefix}category-item__link');

    padding: 10px 15px 11px;
    text-decoration: none;
    transition: background-color $transition-out-time, border-color $transition-out-time;
    width: 100%;

    :last-child {
        margin-bottom: 0;
    }

    &__title {
        font-size: $large-size;
        line-height: 21px;
        margin: 0 0 14px;
    }

    .#{$pl-prefix}category-item__link::after {
        left: #{$border-width-size * -1};
    }

    &__link {
        color: $category-item__link-colour;

        &::before {
            background-color: mix($colour__border--highlight, $colour__grey--lighter, 30%);
            bottom: 0;
            content: '';
            left: #{$border-width-size * -1};
            position: absolute;
            top: 0;
            width: $border-width-size;
        }

        &:active::before,
        &:focus::before {
            content: none;
        }

        &:hover::before {
            background-color: $category-item__border-colour--hover;
        }
    }

    &__summary {
        font-size: $small-size;
        color: $colour__text--secondary;
        line-height: 21px;
        margin: 0;
    }

    &:hover &__summary {
        color: $colour__text;
    }
}

.#{$pl-prefix}card {
    > .#{$pl-prefix}category-item {
        padding-top: 21px;
        padding-bottom: 21px;
        position: static;
    }

    .#{$pl-prefix}category-item__link::before {
        left: 0;
        right: 0;
        bottom: 0;
        top: 100%;
        transition: top 0.2s;
        width: 100%;
    }

    .#{$pl-prefix}category-item__link:hover::before {
        top: calc(100% - 3px);
    }

    .#{$pl-prefix}category-item__link::after {
        left: 0;
    }
}

@include media-query(medium) {
    .#{$pl-prefix}category-item {
        &__title {
            line-height: 28px;
        }
    }

    .#{$pl-prefix}card {
        > .#{$pl-prefix}category-item {
            min-height: 186px;
        }
    }
}

// "Pinned" modifier styling
.#{$pl-prefix}category-item--pinned {
    padding-left: #{15px + $border-width-size--pinned - $border-width-size};

    .#{$pl-prefix}category-item__link {
        &::before {
            background-color: $colour__border--highlight;
            color: $colour__white;
            text-align: center;
            width: $border-width-size--pinned;
        }

        &:hover::before {
            background-color: $colour__link--hover;
        }
    }

    .#{$pl-prefix}category-item__pinned-icon {
        position: absolute;
        width: 19px;
        height: 19px;
        left: -2px;
        top: 10px;
        z-index: 1;

        fill: white;

        @include media-query(medium) {
            top: 13px;
        }
    }

    .#{$pl-prefix}category-item__link:focus,
    .#{$pl-prefix}category-item__link:active {
        .#{$pl-prefix}category-item__pinned-icon {
            fill: $colour__link--focus;
        }
    }

    &.#{$pl-prefix}category-item--card {
        .#{$pl-prefix}category-item__link {
            &::before {
                top: 0;
                background-position-y: 21px;

                @include media-query(medium) {
                    background-position-y: 25px;
                }
            }
        }

        .#{$pl-prefix}category-item__pinned-icon {
            left: 1px;
            top: 20px;

            @include media-query(medium) {
                top: 24px;
            }
        }

    }
}
