<{{ params.itemTag }} class="ds_category-item">
    <h2 class="ds_category-item__title">
        <a href="{{ params.link }}" class="ds_category-item__link">{{ params.heading }}</a>
    </h2>
    {%- if params.content %}
    <p class="ds_category-item__summary">{{ params.content }}</p>
    {%- endif %}
</{{ params.itemTag }}>