/*------------------------------------*\
    LINK LIST
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_link-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include helpers.ds_media-query(medium-down) {
        .ds_link-item + .ds_link-item {
            @include helpers.ds_responsive-margin(3, top);
        }
    }

    @include helpers.ds_media-query(medium) {
        display: grid;
        gap: 1.5rem 2rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        &-2-items {
            grid-template-columns: repeat(2, minmax(0, 1fr));    
        }
    }

    &--no-border {
        @include helpers.ds_media-query(medium) {
            .ds_link-item {
                border-bottom: none !important; 
                @include helpers.ds_responsive-padding (3, bottom);
            }
        }
    }
}