/*------------------------------------*\
    LINK LIST
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_link-list {
    @include helpers.ds_layout();
    list-style: none;
    margin: 0;
    padding: 0;

    @include helpers.ds_media-query(medium-down) {
        .ds_link-item + .ds_link-item {
            @include helpers.ds_responsive-margin(3, top);
        }
    }

    @include helpers.ds_media-query(medium) {
        .ds_link-item {
            float: left;
            @include helpers.ds_colwidth(4);

            &:nth-child(3n+1) {
                clear: left;
                margin-left: 0;
            }
        }

        @supports(display: grid) {
            display: grid;
            row-gap: 1.5rem;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &--no-border {
        @include helpers.ds_media-query(medium) {
            .ds_link-item {
                border-bottom: none !important; 
                @include helpers.ds_responsive-padding (3, bottom);
            }
        }
    }

    &-2-items {
        @include helpers.ds_media-query(medium) {
            .ds_link-item {
                float: left;
                @include helpers.ds_colwidth(6);

                &:nth-child(2n+1) {
                    clear: left;
                    margin-left: 0;
                }
            }

            @supports(display: grid) {
                display: grid;
                row-gap: 1.5rem;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}