@use "../../base/helpers/functions/functions";
@use "../../base/helpers/layout/layout";
@use "../../base/helpers/media-query/media-query";
@use "../../base/helpers/spacing/spacing";

/*------------------------------------*\
    LINK LIST
\*------------------------------------*/

.ds_link-list {
    @include layout.layout();
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-query.media-query(medium-down) {
        .ds_link-item + .ds_link-item {
            @include spacing.responsive-margin(3, top);
        }
    }

    @include media-query.media-query(medium) {
        .ds_link-item {
            float: left;
            @include layout.colwidth(4);

            &:nth-child(3n+1) {
                clear: left;
                margin-left: 0;
            }
        }

        @supports(display: grid) {
            display: grid;
            row-gap: 1.5rem;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
