{%- if params.containerStart %}
    {{ params.containerStart | safe}}
{%- endif -%}
<nav aria-label="Navigation heading">
    <ul class="ds_link-list">
        {%- for item in params.items -%}
            {% render '@link-item', item -%}
        {% endfor %}
    </ul>
</nav>
{%- if params.containerEnd %}
    {{ params.containerEnd | safe}}
{%- endif -%}