/*------------------------------------*\
    SELECT
\*------------------------------------*/

///
/// [1] renders an outline/border in windows high contrast mode
///
.ds_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: inset 0 0 0 2px currentColor;
    min-height: 48px;
    outline: 2px solid transparent; /// [1]
    outline-offset: -2px; /// [1]
    padding: 8px;
    width: 100%;

    &:focus {
        @include focus-outline;
        box-shadow: inset 0 0 0 4px currentColor;
    }
}

///
/// [1] renders an outline/border in windows high contrast mode
///
.ds_select-arrow {
    background: $ds_colour__button__background;
    bottom: 0;
    content: '';
    outline: 2px solid transparent; /// [1]
    outline-offset: -2px; /// [1]
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;

    &::before {
        bottom: 0;
        color: $ds_colour__white;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        @include ds_chevron(down, 12px);
        right: 18px;
        top: 15px;
    }
}

.ds_select:focus + .ds_select-arrow {
    background-color: $ds_colour__button--focus__background;

    &::before {
        color: $ds_colour__button--focus;
    }
}

.ds_select-wrapper {
    border-radius: 0;
    display: block;
    margin-bottom: 24px;
    min-height: 48px;
    padding: 0;
    position: relative;
    width: 100%;
}

/// Error state
/// [1] legacy, former class name
.ds_select-wrapper {
    &.ds_input--error .ds_select, /// [1]
    .ds_select--error,
    .ds_input--error {
        box-shadow: inset 0 0 0 4px $ds_colour__state--negative;

        &:focus {
            box-shadow: inset 0 0 0 4px currentColor;
        }
    }
}

/// [1] legacy, former class name
.ds_select-wrapper.ds_input--error { /// [1]
    padding: 0;
}
