/*------------------------------------*\
    SELECT
\*------------------------------------*/

.ds_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    min-height: 48px;
    padding: 8px;
    width: 100%;

    &:focus {
        box-shadow: 0 0 0 1px $ds_colour__input--spot inset;
        outline: 2px solid $ds_colour__input--focus__outline;
        outline-offset: 2px;
    }
}

.ds_select-arrow {
    background: $ds_colour__button__background;
    bottom: 0;
    content: '';
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;

    &::before {
        bottom: 0;
        color: $ds_colour__white;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        @include ds_chevron(down, 16px);
        right: 8px;
        top: 8px;
    }
}

.ds_select:focus + .ds_select-arrow {
    background-color: $ds_colour__button--focus__background;

    &::before {
        color: $ds_colour__button--focus;
    }
}

.ds_select-wrapper {
    border-radius: 0;
    display: block;
    margin-bottom: 24px;
    min-height: 48px;
    outline: 2px solid currentColor;
    outline-offset: -2px;
    padding: 0;
    position: relative;
    width: 100%;
}

/// [1] legacy, former class name
.ds_select-wrapper {
    &.ds_input--error, /// [1]
    &.ds_select--error {
        @include ds_field-error;
    }
}
