/*------------------------------------*\
    SELECT
\*------------------------------------*/

.#{$pl_prefix}select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $ds_colour__white;
    border-radius: 0;
    border: 0;
    bottom: 0;
    height: 44px;
    left: 0;
    padding: 8px;
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;

    &:focus {
        box-shadow: 0 0 0 1px $ds_colour__input--spot inset;
        outline: 2px solid $ds_colour__input--focus__outline;
        outline-offset: 2px;
    }
}

.#{$pl_prefix}select-arrow {
    background: $ds_colour__button__background;
    bottom: -2px;
    content: '';
    pointer-events: none;
    position: absolute;
    right: -2px;
    top: -2px;
    width: 48px;

    &::before {
        bottom: 0;
        color: $ds_colour__white;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        @include chevron(down, 16px);
        right: 8px;
        top: 8px;
    }
}

.#{$pl_prefix}select:focus + .#{$pl_prefix}select-arrow {
    background-color: $ds_colour__button--focus__background;

    &::before {
        color: $ds_colour__button--focus;
    }
}

.#{$pl_prefix}select-wrapper {
    border: 2px solid currentColor;
    border-radius: 0;
    display: block;
    margin-bottom: 24px;
    min-height: 48px;
    padding: 0;
    position: relative;
    width: 100%;
    
    &--error {
        border-color: $ds_colour__state--negative;
        border-width: $field-border-width--error;
        padding: 4px;

        &:focus {
            border-color: currentColor;
            box-shadow: none;
        }
    }
}

.#{$pl_prefix}select-wrapper.#{$pl_prefix}select--error {
    min-height: #{$field-border-width--error + 48px};
}
