/*------------------------------------*\
    VISIBILITY
\*------------------------------------*/

@use "../../helpers";

.visually-hidden {
    @include helpers.ds_visually-hidden;
}

.fully-hidden {
    display: none !important;
}
