$ds_blocklink__outline-width: 0 !default;
$ds_link__current-underline-thickness: 0.16em !default;
$ds_link__outline-width: 0.125em !default;
$ds_link__underline-offset: 0.16em !default;
$ds_link__underline-thickness: auto !default;
$ds_link__underline-offset--hover: $ds_link__underline-offset !default;
$ds_link__underline-thickness--hover: 0.16em !default;