@use "../../base/helpers/colours/colours" as colours2;
@use "../../base/helpers/headings/headings";
@use "../../base/helpers/media-query/media-query";
@use "../../base/helpers/spacing/spacing";
@use "../../base/helpers/visibility/visibility";
@use "../../base/settings/colours/colours";
@use "../../base/settings/type/type";

/*------------------------------------*\
    SEARCH RESULT
\*------------------------------------*/

.ds_search-result {
    margin: 0;
    padding: 0;
    @include spacing.responsive-padding(2, top);
    @include spacing.responsive-padding(3, bottom, $tuning: -0.0625rem);

    &:first-child {
        padding-top:0;
    }

    & + &:not(&--promoted) {
        border-top: 0.0625rem colours.$ds_colour__border solid;
    }

    &--promoted + &:not(&--promoted) {
        margin-top: -0.0625rem;
    }

    &--promoted {
        @include spacing.responsive-padding(3, bottom);
        padding-top: 0;

        &-content {
            background: colours.$ds_colour__background--secondary;
            border-left: 0.25rem solid colours.$ds_colour__brand;
            @include spacing.responsive-padding(1, top);
            @include spacing.responsive-padding(2, left);
            @include spacing.responsive-padding(2, right);
            @include spacing.responsive-padding(2, bottom);
        }

        &-title {
            @include spacing.responsive-margin(1, bottom);
            @include headings.tiny-size;
            color: colours.$ds_colour__text--secondary;
            font-weight: type.$bold;
        }

        @include colours2.checkAndFixDescendantLinkColour(colours.$ds_colour__link, colours.$ds_colour__background--secondary, 'promoted search result');
    }

    &__title {
        @include headings.h3-size;
        margin: 0 !important;
        @include spacing.responsive-margin(1, bottom, true);

        &:last-child {
            margin-bottom: 0 !important; // only needed if title is the only part of the result
        }
    }

    &__sub-title {
        @include headings.h4-size;
        margin: 0;
        @include spacing.responsive-margin(1, bottom);
    }

    &__summary {
        @include headings.root-size;
        margin: 0;
    }

    &__metadata {
        @include spacing.responsive-margin(1, top);
        @include headings.tiny-size;
        margin-bottom: 0;
    }

    &__has-media {
        display: flex;
    }

    &__media-wrapper {
        @include spacing.responsive-padding(2, right);
    }

    &__media {
        width: rem;

        @include media-query.media-query(small) {
            width: 8rem;
        }
    }

    &__context {
        margin: 0;
        padding: 0;
        @include spacing.responsive-margin(2, top);
        @include spacing.responsive-padding(2, left);
        @include headings.small-size(0.25rem); // Use 4px type grid

        &-key {
            color: colours.$ds_colour__text--secondary;
            margin: 0;
            padding: 0;
            position: relative;

            &:before {
                border-left: 0.25rem solid colours.$ds_colour__brand;
                bottom: 0;
                content: '';
                left: -1rem;
                position: absolute;
                top: 0;
            }
        }

        &-value {
            margin: 0;
            padding: 0;
            @include spacing.responsive-margin(1, top);
        }
    }

    &__sublinks {
        margin-bottom: 0;
        @include spacing.responsive-margin(2, top);

        &-title {
            @include visibility.visually-hidden;
        }
    }
}
