/*------------------------------------*\
    SEARCH FACETS
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_facets {
    @include helpers.ds_small-size;

    &__list {
        margin-bottom: 1.5rem;
    }

    &__clear-button {
        margin: 0 0 1.5rem;
        min-height: 2.5rem;
        padding: 0.5rem 2.75rem 0.5rem 0.75rem;
        position: relative;

        .ds_facet__button-icon {
            color: currentColor;
            position: absolute;
        }
    }
}

.ds_facet-group {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
    padding: 1rem;

    &:nth-child(odd) {
        background: rgba(0,0,0,0.028);
    }

    &:nth-child(even):last-child {
        padding-bottom: 0;
    }
}

.ds_facet-wrapper {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
    margin: 0;
}

/// [1] IE 11 and pre-Chromium Edge
/// [2] unsetting margin set in [1]
.ds_facet {
    @include helpers.ds_high-contrast-button($selector: '.ds_facet');

    line-height: 1.5rem;
    margin: 0 0.5rem; /// [1]
    min-height: 2.5rem;
    outline: 0.125rem solid currentColor;
    outline-offset: -0.125rem;
    padding: 0.5rem 2.75rem 0.5rem 0.75rem;
    position: relative;
    text-align: center;
    transition: background-color 0.2s;

    @supports (gap: 0) { /// [2]
        margin: 0;
    }

    &:hover {
        background: settings.$ds_colour__button--cancel--hover__background;
    }

    &:focus-within {
        @include helpers.ds_focus;
        @include helpers.ds_focus--button;
    }

    &:focus-within &__button-icon {
        color: currentColor;
    }

    &__button {
        background-color: transparent;
        border: none;
        bottom: 0;
        left: 0;
        outline: none;
        padding: 0.4375rem 0.75rem 0.4375rem 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;

        &:focus {
            background-color: transparent;
            filter: none;
            outline: none;
        }
    }

    &__button-icon {
        color: settings.$ds_colour__text--secondary;
        fill: currentColor;
        height: 1.5rem;
        margin-left: 0.5rem;
        min-width: 1.5rem;
        pointer-events: none;
        vertical-align: middle;
        width: 1.5rem;

        @include helpers.ds_media-query-high-contrast {
            color: currentColor;
        }
    }
}
