/*------------------------------------*\
    SEARCH RESULTS
\*------------------------------------*/

%ds_search-results__suggestions {
    ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;

        li {
            display: inline-block;

            &:not(:last-child)::after {
                content: ',';
                margin-left: -2px;
            }
        }
    }
}

.ds_search-results {

    &__suggestions {
        @extend %ds_search-results__suggestions;
    }

    &__title {
        @include ds_root-size;
        margin-top: 0 !important;
        @include ds_responsive-margin(1, bottom, $important: true);
        font-weight: $normal;

        &-count,
        &-query {
            font-weight: $bold;
        }
    }

    &__suggestions + &__title {
        @include ds_responsive-margin(2, top, $important: true);
    }    

    &__list {
        list-style-type: none;
        margin: 0;
        @include ds_responsive-margin(4, bottom);
    }

    &__related {
        @include ds_small-size;
        @include ds_block-margins;
        @include ds_last-child-no-margin;
        @include ds_responsive-padding(2);
        background: $ds_colour__grey--lighter;

        &-title {
            @include ds_root-size;
            margin: 0;
            @include ds_responsive-margin(1, bottom);
        }
    }
}


// Legacy class name
.ds_search-suggestions {
    @extend %ds_search-results__suggestions;
}