/*------------------------------------*\
    SEARCH RESULTS
\*------------------------------------*/

$search-results-related-background: $ds_colour__background--secondary;

.ds_search-results {
    margin-top: 0.5rem;

    &__title {
        @include ds_root-size;
        @include ds-responsive-margin(1, bottom);
        font-weight: $normal;
        margin-top: 0 !important;

        &-query {
            font-weight: $bold;
        }
    }

    &__suggestions + &__title {
        @include ds_responsive-margin(2, top, $important: true);
    }

    &__list {
        border-bottom: 1px $ds_colour__border solid;
        list-style-type: none;
        margin: 0;
        @include ds_responsive-margin(4, bottom);
    }

    &__related {
        @include ds_small-size;
        @include ds_block-margins;
        @include ds_last-child-no-margin;
        @include ds_responsive-padding(2);
        background: $search-results-related-background;

        &-title {
            @include ds_root-size;
            margin: 0;
            @include ds_responsive-margin(1, bottom);
        }

        @include checkAndFixDescendantLinkColour($ds_colour__link, $ds_colour__background--secondary, 'related search results');
    }

    &__divider {
        margin-top: -1px;
        margin-bottom: 1.5rem;
    }
}

.ds_search-results.js-initialised .js-apply-sort {
    display: none;
}
