/*------------------------------------*\
    SEARCH RESULTS
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

$search-results-related-background: settings.$ds_colour__background--secondary;

.ds_search-results {
    margin-top: 0.5rem;

    &__title {
        @include helpers.ds_root-size;
        @include helpers.ds-responsive-margin(1, bottom);
        font-weight: settings.$normal;
        margin-top: 0 !important;

        &-query {
            font-weight: settings.$bold;
        }
    }

    &__suggestions + &__title {
        @include helpers.ds_responsive-margin(2, top, $important: true);
    }

    &__list {
        border-bottom: 0.0625rem settings.$ds_colour__border solid;
        list-style-type: none;
        margin: 0;
        @include helpers.ds_responsive-margin(4, bottom);
    }

    &__related {
        background: $search-results-related-background;
        @include helpers.ds_small-size;
        @include helpers.ds_block-margins;
        @include helpers.ds_last-child-no-margin;
        @include helpers.ds_responsive-padding(2);

        &-title {
            margin: 0;
            @include helpers.ds_root-size;
            @include helpers.ds_responsive-margin(1, bottom);
        }

        @include helpers.checkAndFixDescendantLinkColour(settings.$ds_colour__link, settings.$ds_colour__background--secondary, 'related search results');
    }

    &__divider {
        margin-top: -0.0625rem;
        margin-bottom: 1.5rem;
    }
}

.ds_search-results.js-initialised .js-apply-sort {
    display: none;
}
