@use "../../base/helpers/block-margins/block-margins";
@use "../../base/helpers/colours/colours" as colours2;
@use "../../base/helpers/headings/headings";
@use "../../base/helpers/last-child-no-margin/last-child-no-margin";
@use "../../base/helpers/spacing/spacing";
@use "../../base/settings/colours/colours";
@use "../../base/settings/type/type";

/*------------------------------------*\
    SEARCH RESULTS
\*------------------------------------*/

$search-results-related-background: colours.$ds_colour__background--secondary;

.ds_search-results {
    margin-top: 0.5rem;

    &__title {
        @include headings.root-size;
        @include spacing.responsive-margin(1, bottom);
        font-weight: type.$normal;
        margin-top: 0 !important;

        &-query {
            font-weight: type.$bold;
        }
    }

    &__suggestions + &__title {
        @include spacing.responsive-margin(2, top, $important: true);
    }

    &__list {
        border-bottom: 0.0625rem colours.$ds_colour__border solid;
        list-style-type: none;
        margin: 0;
        @include spacing.responsive-margin(4, bottom);
    }

    &__related {
        @include headings.small-size;
        @include block-margins.block-margins;
        @include last-child-no-margin.last-child-no-margin;
        @include spacing.responsive-padding(2);
        background: $search-results-related-background;

        &-title {
            @include headings.root-size;
            margin: 0;
            @include spacing.responsive-margin(1, bottom);
        }

        @include colours2.checkAndFixDescendantLinkColour(colours.$ds_colour__link, colours.$ds_colour__background--secondary, 'related search results');
    }

    &__divider {
        margin-top: -0.0625rem;
        margin-bottom: 1.5rem;
    }
}

.ds_search-results.js-initialised .js-apply-sort {
    display: none;
}
