/*------------------------------------*\
    PAGE SETUP
    anchor footer to bottom of the viewport on short pages
\*------------------------------------*/

html {
    min-height: 100%;
    position: relative;
}

.ds_page {
    min-height: calc(100vh - 360px);
    margin-bottom: 360px;
}

.ds_site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@supports (display: grid) {
    .ds_page {
        display: grid;
        margin-bottom: 0;
        min-height: 100vh;
        grid-template:
            'page-top' auto
            'page-middle' 1fr
            'page-bottom' auto;

        &__top {
            grid-area: page-top;
        }

        &__middle {
            grid-area: page-middle;
        }

        &__bottom {
            grid-area: page-bottom;
        }
    }

    .ds_site-footer {
        position: static;
    }
}

/*------------------------------------*\
    CATEGORY PAGE LAYOUT
\*------------------------------------*/

.ds_page__middle {
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
}

.category-lower {
    padding-bottom: 72px;
    background: $ds_colour__grey--lighter;
    border-top: 1px solid $ds_colour__grey--light;
    margin-top: -1px;
}
