@use "../../base/helpers/colours/colours" as colours2;
@use "../../base/helpers/functions/functions";
@use "../../base/helpers/media-query/media-query";
@use "../../base/helpers/spacing/spacing";
@use "../../base/settings/colours/colours";
@use "../../base/settings/type/type";

/*------------------------------------*\
    FILE DOWNLOAD
\*------------------------------------*/

$file-download-background-colour: colours.$ds_colour__background--secondary !default;

.ds_file-download {
    @include spacing.responsive-margin(4, bottom);
    @include spacing.responsive-margin(4, top);
    @include spacing.responsive-padding(2);
    background-color: $file-download-background-colour;
    display: flex;

    @include colours2.checkAndFixDescendantLinkColour(colours.$ds_colour__link, $file-download-background-colour, 'file download');

    &--highlighted {
        @include spacing.responsive-padding(2, left, $tuning: -0.25rem);
        border-left: 0.25rem solid colours.$ds_colour__brand;
    }

    &__thumbnail {
        @include spacing.responsive-margin(2, right);
    }

    &__thumbnail-image {
        display: block;
        max-width: 100%;
        outline: 0.0625rem solid colours.$ds_colour__border;
        outline-offset: -0.0625rem;
    }

    &__thumbnail-image[src*=".svg"] {
        outline: none;
    }

    &__thumbnail-link {
        display: block;
        width: 4rem;
    }

    &__content {
        flex-grow: 1;
    }

    &__title {
        display: inline-block;
        font-weight: type.$bold;
        @include spacing.responsive-margin(1, bottom);
    }

    .ds_metadata {
        line-height: 1.5rem;
    }
}

@include media-query.media-query(medium) {
    .ds_file-download {

        &__thumbnail-link {
            width: 5rem;
        }
    }
}
