.ds_file-download {
    background-color: $ds_colour__grey--lighter;
    display: flex;
    padding: px-to-rem(16px);

    @include ds_responsive-margin(4, bottom);
    @include ds_responsive-margin(4, top);

    &--highlighted {
        border-left: 4px solid $ds_colour__brand;
        padding-left: px-to-rem(12px);
    }

    &__thumbnail {
        margin-right: px-to-rem(16px);
    }

    &__thumbnail-image {
        display: block;
        max-width: 100%;
        outline: 1px solid $ds_colour__border;
        outline-offset: -1px;
    }

    &__thumbnail-image[src*=".svg"] {
        outline: none;
    }

    &__thumbnail-link {
        display: block;
        width: px-to-rem(64px);
    }

    &__content {
        flex-grow: 1;
    }

    &__title {
        display: inline-block;
        font-weight: $bold;
        @include ds_responsive-margin(1, bottom);
    }

    .ds_metadata {
        line-height: px-to-rem(24px);
    }
}

@include ds_media-query(medium) {
    .ds_file-download {

        &__thumbnail-link {
            width: px-to-rem(80px);
        }
    }
}
