/*------------------------------------*\
    FILE DOWNLOAD
\*------------------------------------*/

$file-download-background-colour: $ds_colour__background--secondary !default;

.ds_file-download {
    @include ds_responsive-margin(4, bottom);
    @include ds_responsive-margin(4, top);
    @include ds_responsive-padding(2);
    background-color: $file-download-background-colour;
    display: flex;

    @include checkAndFixDescendantLinkColour($ds_colour__link, $file-download-background-colour, 'file download');

    &--highlighted {
        @include ds_responsive-padding(2, left, $tuning: -4px);
        border-left: 4px solid $ds_colour__brand;
    }

    &__thumbnail {
        @include ds_responsive-margin(2, right);
    }

    &__thumbnail-image {
        display: block;
        outline: 1px solid $ds_colour__border;
        outline-offset: -1px;
    }

    &__thumbnail-image[src*=".svg"] {
        outline: none;
    }

    &__thumbnail-link {
        display: block;
        width: px-to-rem(64px);
    }

    &__content {
        flex-grow: 1;
    }

    &__title {
        display: inline-block;
        font-weight: $bold;
        @include ds_responsive-margin(1, bottom);
    }

    .ds_metadata {
        line-height: px-to-rem(24px);
    }
}

@include ds_media-query(medium) {
    .ds_file-download {

        &__thumbnail-link {
            width: px-to-rem(80px);
        }
    }
}
