<div class="ds_file-download  {%- if params.highlighted == "true" %}  ds_file-download--highlighted{%- endif -%}">
    <div class="ds_file-download__thumbnail">
        <a class="ds_file-download__thumbnail-link" aria-hidden="true" tabindex="-1" href="#">
            <span class="visually-hidden">Document cover image</span>
            {%- if params.image %}
                <img class="ds_file-download__thumbnail-image" src="/assets/images/placeholders/document-thumbnail.png" alt="">
            {% else %}
                <img class="ds_file-download__thumbnail-image  ds_file-download__thumbnail-image--generic" src="/assets/images/documents/svg/pdf.svg" alt="">
            {%- endif %}
        </a>
    </div>

    <div class="ds_file-download__content">
        <p class="ds_file-download__title" id="file-title-1">National Autism Post-Diagnostic Support Service: Evaluation of pilot programme 1st Dec 2020 - 1st June 2021</p>

        <div id="file-download-1" class="ds_file-download__details">
            <dl class="ds_metadata  ds_metadata--inline">
                <div class="ds_metadata__item">
                    <dt class="ds_metadata__key  visually-hidden">File type</dt>
                    <dd class="ds_metadata__value">53 page PDF<span class="visually-hidden">,</span></dd>
                </div>

                <div class="ds_metadata__item">
                    <dt class="ds_metadata__key  visually-hidden">File size</dt>
                    <dd class="ds_metadata__value">3.0 MB</dd>
                </div>
            </dl>
        </div>

        <div>
            <a aria-hidden="true" aria-labelledby="file-title-1" aria-describedby="file-download-1" href="#" class="ds_file-download__button  ds_button  ds_button--small  {% if params.highlighted != "true" %}ds_button--secondary{% endif %}  ds_no-margin">
                Download
            </a>
        </div>
    </div>
</div>
