/*------------------------------------*\
    HIDE THIS PAGE
\*------------------------------------*/

@use 'sass:color';
@use "../../base/helpers";
@use "../../base/settings";

$hide-this-page-background-color: settings.$ds_colour__red;
$hide-this-page-background-color--hover: color.adjust(settings.$ds_colour__red, $lightness: -15%);

.ds_hide-page {
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1000;

    &__button {
        background-color: $hide-this-page-background-color;
        position: static;
        margin: 0;
        width: 100%;

        &:hover:not(:focus) {
            background-color: $hide-this-page-background-color--hover;

            & + .ds_hide-page__text {
                border-color: $hide-this-page-background-color--hover;
            }
        }

        &:focus {
            filter: none;

            & + .ds_hide-page__text {
                border-color: settings.$ds_colour__link--focus__shadow;
                position: relative;
            }
        }

        &::before {
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }

    &__text {
        background-color: rgba(255, 255, 255, 0.9);
        border: 0.125rem solid $hide-this-page-background-color;
        border-top-width: 0.1875rem;
        margin-bottom: 0;
        margin-top: -0.1875rem;
        padding: 0.5rem 0.5rem 0.375rem;
        @include helpers.ds_tiny-size;
    }

    .js-enabled-text {
        display: none;
    }
}

@include helpers.ds_media-query(medium-down) {
    .ds_has-hide-page .ds_page,
    .ds_page:has(.ds_hide-page) {
        margin-top: 2.5rem;
    }

    .ds_hide-page__button {
        // override items set in ds_button
        height: 2.5rem;
        min-height: 2.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media only screen and (hover: hover) {
    .js-enabled .js-enabled-text {
        display: block;
    }

    .ds_has-hide-page .ds_page {
        margin-top: 4.5rem;
    }
}

@include helpers.ds_media-query(medium) {
    .ds_hide-page {
        left: auto;
        @include helpers.ds_block-margins;

        @supports (position: sticky) and (display: grid) {
            bottom: 0.5rem;
            position: sticky;
        }
    }

    .ds_has-hide-page .ds_page {
        margin-top: 0;
    }
}

@supports (display: grid) {
    .ds_hide-page {
        width: 100%;

        @include helpers.ds_media-query(medium) {
            align-self: start;
            grid-area: 1/9/3/13;
            right: 0.5rem;
            top: 0.5rem;
        }

        @include helpers.ds_media-query(large) {
            grid-area: 1/10/3/13;
        }
    }
}

/**
  This "reverse" order follows GOV UK reasoning, where it assumed that it's better to have scroll
  padding unnecessarily than risking not having it when it's needed.
*/
@supports (position: sticky) {
    html {
        scroll-padding-top: 6.5rem;

        &:not(:has(.ds_hide-page)) {
            scroll-padding-top: 0;
        }
    }
}
