/*------------------------------------*\
    HIDE THIS PAGE
\*------------------------------------*/

.#{$pl-prefix}hide-page {
    background-color: $ds_colour__grey--light;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 1000;

    @supports (display: grid) {
        width: 100%;
    }

    @supports (position: sticky) {
        position: sticky;
    }

    &--largescreen {
        display: none;
        @include block-margins;
        outline: 1px solid #ebebeb;
        outline-offset: -1px;

        align-self: start;
        grid-area: q;
        right: 8px;
        top: 8px;

        @supports (position: sticky) {
            bottom: 8px;
        }
    }

    & ~ .#{$pl-prefix}page {
        margin-top: 80px;

        @supports (position: sticky) {
            margin-top: 0;
        }
    }

    &__button {
        background-color: $ds_colour__red--base;
        margin: 0;
        width: 100%;
    }

    &__text {
        @include tiny-size;
        margin-bottom: 0;
    }

    .js-enabled-text {
        display: none;
    }
}

@media only screen and (hover: hover) {
    .js-enabled .js-enabled-text {
        display: block;
    }
}

@include media-query(medium) {
    .ds_hide-page {
        background-color: rgba(255, 255, 255, 0.9);
        display: none;

        &--largescreen {
            display: block;
        }

        & ~ .#{$pl-prefix}page {
            margin-top: 0;
        }
    }
}
