/*------------------------------------*\
    HIDE THIS PAGE
\*------------------------------------*/

.ds_has-hide-page .ds_page,
.ds_page:has(.ds_hide-page) {
    margin-top: 56px;
}

.ds_hide-page {
    background-color: $ds_colour__grey--light;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1000;

    &__button {
        background-color: $ds_colour__red;
        margin: 0;
        width: 100%;

        &:hover:not(:focus) {
            background-color: darken($ds_colour__red, 15%);
        }
    }

    &__text {
        @include ds_tiny-size;
        margin-bottom: 0;
    }

    .js-enabled-text {
        display: none;
    }
}

@media only screen and (hover: hover) {
    .js-enabled .js-enabled-text {
        display: block;
    }

    .ds_has-hide-page .ds_page {
        margin-top: 80px;
    }
}

@include ds_media-query(medium) {
    .ds_hide-page {
        @include ds_block-margins;
        background-color: rgba(255, 255, 255, 0.9);
        left: auto;
        outline: 1px solid #ebebeb;
        outline-offset: -1px;

        @supports (position: sticky) and (display: grid) {
            bottom: 8px;
            position: sticky;
        }

        &__text {
            margin: 8px 0;
        }
    }

    .ds_has-hide-page .ds_page {
        margin-top: 0;
    }
}

@supports (display: grid) {
    .ds_hide-page {
        width: 100%;

        @include ds_media-query(medium) {
            align-self: start;
            grid-area: 1/9/3/13;
            right: 8px;
            top: 8px;
        }

        @include ds_media-query(large) {
            grid-area: 1/10/3/13;
        }
    }
}
