<div class="ds_quick-exit">
    <div class="ds_quick-exit__box">
        <a href="https://www.google.com/" class="ds_button  ds_button--max  ds_quick-exit__button  js-quick-exit">Hide page</a>
        <p class="ds_quick-exit__message">Use this button or the <b>Esc</b> key to jump to the home page.</p>
    </div>
</div>

<div class="ds_quick-exit  ds_quick-exit--mobile">
    <div class="ds_quick-exit__box">
        <a href="https://www.google.com/" class="ds_button  ds_button--max  ds_quick-exit__button  js-quick-exit">Hide page</a>
        <p class="ds_quick-exit__message">Use this button or the <b>Esc</b> key to jump to the home page.</p>
    </div>
</div>
