/*------------------------------------*\
    #WARNING TEXT
\*------------------------------------*/

/// [1] compensate for border
.ds_warning-text {
    border: 1px solid currentColor;
    border-width: 1px 0;
    font-weight: $bold;
    padding-left: 72px;
    padding-right: 16px;
    position: relative;

    @include ds_block-margins;
    @include ds_last-child-no-margin;
    @include ds_responsive-padding(4, top, false, -1px); /// 1
    @include ds_responsive-padding(4, bottom, false, -1px); /// 1

    &:first-child {
        margin-top: 0;
    }
}

.ds_warning-text__icon {
    $warning-text-icon-size: 2rem;
    @include ds_high-contrast-outline;
    border: 2px solid $ds_colour__text;
    border-radius: 50%;
    display: inline-block;
    height: $warning-text-icon-size;
    left: 1.5rem;
    line-height: 1;
    padding: 2px;
    position: absolute;
    text-align: center;
    top: calc(1.25rem - 3px);
    width: $warning-text-icon-size;

    &::before {
        content: '';
        background-image: url($iconsfile + "#priority_high");
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    // Change to solid background and invert icon to white
    @supports (filter: invert(100%)){
        & {
            background: $ds_colour__text;
            border: 0;
            top: calc(1.25rem - 1px);
        }

        &::before {
            filter: invert(100%);
        }
    }
}

.ds_warning-text__text {
    @include ds_last-child-no-margin;
}

@include ds_media-query(medium) {
    .ds_warning-text {
        padding-right: 4.5rem;
    }

    .ds_warning-text__icon {
        top: calc(2rem - 3px);

        @supports (filter: invert(100%)){
            top: calc(2rem - 1px);
        }
    }
}
