/*------------------------------------*\
    #WARNING TEXT
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

/// [1] compensate for border
.ds_warning-text {
    border: 0.0625rem solid currentColor;
    border-width: 0.0625rem 0;
    font-weight: settings.$bold;
    padding-left: 4.5rem;
    padding-right: 1rem;
    position: relative;

    @include helpers.ds_block-margins;
    @include helpers.ds_last-child-no-margin;
    @include helpers.ds_responsive-padding(4, top, false, -0.0625rem); /// 1
    @include helpers.ds_responsive-padding(4, bottom, false, -0.0625rem); /// 1

    &:first-child {
        margin-top: 0;
    }
}

.ds_warning-text__icon {
    $warning-text-icon-size: 2rem;
    @include helpers.ds_high-contrast-outline;
    border: 0.125rem solid settings.$ds_colour__text;
    border-radius: 50%;
    display: inline-block;
    height: $warning-text-icon-size;
    left: 1.5rem;
    line-height: 1;
    padding: 0.125rem;
    position: absolute;
    text-align: center;
    top: 1.0625rem;
    width: $warning-text-icon-size;

    &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%' viewBox='0 0 24 24' width='100%' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='19' r='2'/%3E%3Cpath d='M10 3h4v12h-4z'/%3E%3C/svg%3E");
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    // Change to solid background and invert icon to white
    @supports (filter: invert(100%)){
        & {
            background: settings.$ds_colour__text;
            border: 0;
            top: 1.1875rem;
        }

        &::before {
            filter: invert(100%);
        }
    }
}

.ds_warning-text__text {
    @include helpers.ds_last-child-no-margin;
}

@include helpers.ds_media-query(medium) {
    .ds_warning-text {
        padding-right: 4.5rem;
    }

    .ds_warning-text__icon {
        top: 1.8125rem;

        @supports (filter: invert(100%)){
            top: 1.9375rem;
        }
    }
}
