/*------------------------------------*\
    #WARNING TEXT
\*------------------------------------*/

/// [1] compensate for border
.ds_warning-text {
    border: 1px solid currentColor;
    border-width: 1px 0;
    font-weight: $bold;
    padding-left: 72px;
    padding-right: 16px;
    position: relative;

    @include ds_block-margins;
    @include ds_last-child-no-margin;
    @include ds_reponsive-padding(4, top, false, -1px); /// 1
    @include ds_reponsive-padding(4, bottom, false, -1px); /// 1

    &:first-child {
        margin-top: 0;
    }
}

.ds_warning-text__icon {
    $warning-text-icon-size: 32px;

    background: $ds_colour__text;
    border-radius: 50%;
    color: $ds_colour__white;
    display: inline-block;
    height: $warning-text-icon-size;
    font-size: $warning-text-icon-size;
    font-weight: 700;
    left: 24px;
    line-height: $warning-text-icon-size;
    position: absolute;
    text-align: center;
    top: 20px;
    width: $warning-text-icon-size;

    &::before {
        content: '!';
        display: block;
        height: #{$warning-text-icon-size - 4px};
    }
}

.ds_warning-text__text {
    @include ds_last-child-no-margin;
}

@include ds_media-query(medium) {
    .ds_warning-text {
        padding-right: 72px;
    }

    .ds_warning-text__icon {
        top: 31px;
    }
}
