/*------------------------------------*\
    #WARNING TEXT
\*------------------------------------*/

/// [1] compensate for border
.ds_warning-text {
    border: 1px solid currentColor;
    border-width: 1px 0;
    font-weight: $bold;
    padding: 23px 16px 23px 72px; /// [1]
    position: relative;

    @include ds_block-margins;

    > :last-child {
        margin-bottom: 0;
    }

    &:first-child {
        margin-top: 0;
    }
}

.ds_warning-text__icon {
    $warning-text-icon-size: 32px;

    background: $ds_colour__text;
    border-radius: 50%;
    color: $ds_colour__white;
    display: inline-block;
    height: $warning-text-icon-size;
    font-size: $warning-text-icon-size;
    font-weight: 700;
    left: 24px;
    line-height: $warning-text-icon-size;
    position: absolute;
    text-align: center;
    top: 20px;
    width: $warning-text-icon-size;


    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        &::before {
            content: '';
            display: block;
            height: #{$warning-text-icon-size - 4px};
            margin: 2px;

            $octothorpe: '#';
            @include ds_icon-mask(#{$iconsfile}#{$octothorpe}priority_high);
        }
    }
}

.ds_warning-text__text > :last-child {
    margin-bottom: 0;
}

@include ds_media-query(medium) {
    /// [1] compensate for border
    .ds_warning-text {
        padding: 31px 72px 31px 72px; /// [1]
    }

    .ds_warning-text__icon {
        top: 31px;
    }
}
