<div class="ds_warning-text">
    <strong class="ds_warning-text__icon" aria-hidden="true"></strong>
    <strong class="visually-hidden">{{ params.label }}</strong>
    <div class="ds_warning-text__text">{{ params.content | safe }}</div>
</div>