/*------------------------------------*\
    TABS
\*------------------------------------*/

$tab__background-colour: $ds_colour__background--secondary !default;
$tab__background-colour--current: $ds_colour__background--primary !default;
$tab__link-colour: $ds_colour__text !default;
$tab__link-colour--current: $ds_colour__text !default;
$tab__border-width: 2px !default;
$tab__border-width--current: 3px !default;
$tab__padding--vertical: 12px !default;
$tab__padding--horizontal: 16px !default;
$tab__gap: 8px !default;
$tab__toggle-colour: $ds_colour__link !default;
$tab__toggle-colour--hover: $ds_colour__link--hover !default;

.ds_tabs {
    @include ds_responsive-margin(4, bottom);

    // Default title style matches contents list heading
    &__title {
        @include ds_h3-size;
        margin: 0;
        padding: 0;
        @include ds_responsive-margin(1, bottom);
    }

    // Default list style matches contents list
    &__list {
        @include ds_small-size;
        @include ds_responsive-margin(6, bottom);
        list-style: none;
        margin-left: 0;
        padding-left: 32px;
    }

    &__tab {
        position: relative;

        &::before {
            background: currentColor;
            content: "—";
            height: 1px;
            left: -32px;
            overflow: hidden;
            position: absolute;
            top: 12px;
            width: 20px;
        }

        &.ds_current {
            font-weight: $bold;
        }
    }

    // Add space between stacked content blocks
    &__content + &__content {
        @include ds_responsive-margin(3, top);
    }


    &.ds_tabs--links {

        // Change to dropdown menu when tabs are links and javascript is initialised
        .ds_tabs__navigation.js-initialised {

            // Dropdown menu
            @include ds_media-query(medium-down) {

                @include ds_responsive-margin(4, bottom);

                .ds_tabs {

                    &__toggle {
                        @include ds_blocklink;

                        background-color: $ds_colour__background--primary;
                        border: 2px solid $ds_colour__border--faint;
                        color: $tab__toggle-colour;
                        font-weight: $bold;
                        margin: 0;
                        padding: 14px 38px 14px 14px;
                        text-align: left;
                        text-decoration: none;
                        width: 100%;

                        &:hover:not(:focus) {
                            color: $tab__toggle-colour--hover;
                        }

                        &::after {
                            @include ds_chevron(down, 0.75em);
                            border-width: 0px 0px 3px 3px;
                            position: absolute;
                            right: 16px;
                            top: 17px;
                            transition: transform 0.2s;
                            pointer-events: none;
                        }

                        &:focus {
                            // focus state encompasses border
                            border: 0;
                            padding: 16px 40px 16px 16px;

                            &::after {
                                right: 18px;
                                top: 19px;
                            }
                        }

                        // Hide menu after button
                        & + .ds_tabs__list {
                            display: none;
                        }

                        // Change button state and open menu
                        &[aria-expanded="true"] {

                            border-bottom: 0;
                            color: $tab__link-colour;
                            padding-bottom: 16px; // increased to take up space from removed border

                            &:not(:focus){
                                background-color: $ds_colour__link--current__background;
                            }

                            &:hover:not(:focus) {
                                background-color: $ds_colour__blocklink-bg--hover;
                            }

                            &::after {
                                top: 23px;
                                transform: rotate(-225deg);
                            }

                            &:focus::after {
                                top: 25px;
                            }

                            & + .ds_tabs__list {
                                display: block;
                            }
                        }

                    }

                    &__list {
                        @include ds_root-size;
                        border: 2px solid $ds_colour__border--faint;
                        border-top: 0;
                        margin: 0;
                        padding: 8px 6px 6px 6px;
                    }

                    &__tab {
                        margin: 0 0 2px 0;
                        padding: 0;

                        &::before {
                            display: none;
                        }

                        &-link {
                            @include ds_blocklink;
                            padding: 11px 16px; // 11px so 2px margin keeps to grid
                            text-decoration: none;
                        }

                        &.ds_current {

                            font-weight: $normal;

                            .ds_tabs__tab-link:not(:focus) {
                                background-color: $ds_colour__link--current__background;
                                border-left: 2px solid $ds_colour__brand;
                                color: $tab__link-colour--current;
                                padding-left: 14px;
                            }

                        }
                    }

                    &__title {
                        display: none;
                    }

                    &__current {
                        @include ds_responsive-margin(1, top);
                    }

                }
            }
        }

        @include ds_media-query(medium) {
            .ds_tabs {
            // Hide toggle button when not needed
                &__toggle {
                    display: none;
                }

                // Hide current page label when not needed
                &__current {
                    display: none;
                }
            }

        }
    }

    // Change to tab layout when dynamic tabs initialised or when tabs are links
    &.js-initialised,
    &.ds_tabs--links {

        .ds_tabs {

            // Tabs format
            @include ds_media-query(medium) {

                &__list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: $tab__gap;
                    margin: 0;
                    padding: 0;
                }

                &__tab-link {
                    @include ds_blocklink;// Not fully using typical blocklink styling so requires overrides
                    color: $tab__link-colour;
                    display: inline-block;
                    padding: $tab__padding--vertical $tab__padding--horizontal;

                    &:hover {
                        color: $ds_colour__link--hover;
                    }

                    &:focus {
                        color: $ds_colour__link--focus;
                    }
                }

                &__tab {

                    &::before {
                        display: none;
                    }

                    background-color: $tab__background-colour;
                    margin: 0;

                    &.ds_current {
                        background-color: $tab__background-colour--current;
                        font-weight: $normal;
                        margin-bottom: -$tab__border-width !important;

                        .ds_tabs__tab-link {
                            border-top: $tab__border-width--current solid $ds_colour__border--highlight;
                            border-left: $tab__border-width solid $ds_colour__border;
                            border-right: $tab__border-width solid $ds_colour__border;
                            border-bottom: 0;
                            color: $tab__link-colour--current;
                            padding: calc(#{$tab__padding--vertical} - #{$tab__border-width--current}) calc(#{$tab__padding--horizontal} - #{$tab__border-width}) calc(#{$tab__padding--vertical} + #{$tab__border-width});
                            text-decoration: none;

                            &:focus {
                                border: 0;
                                color: $ds_colour__focus;
                                padding: $tab__padding--vertical $tab__padding--horizontal calc(#{$tab__padding--vertical} + #{$tab__border-width});
                            }
                        }
                    }

                    &:focus-within {
                        margin-bottom: -$tab__border-width !important;

                        .ds_tabs__tab-link {
                            padding: $tab__padding--vertical $tab__padding--horizontal calc(#{$tab__padding--vertical} + #{$tab__border-width}) ;
                        }
                    }

                }

                &__title {
                    @include ds_visually-hidden;
                }

                &__content {
                    border-top: $tab__border-width solid $ds_colour__border;
                    margin: 0;
                    @include ds_responsive-padding(3, top, $tuning: -$tab__border-width);

                    &--bordered {
                        border: $tab__border-width solid $ds_colour__border;
                        @include ds_responsive-padding(3, top, $tuning: -$tab__border-width);
                        @include ds_responsive-padding(2, right, $tuning: -$tab__border-width);
                        @include ds_responsive-padding(3, bottom, $tuning: -$tab__border-width);
                        @include ds_responsive-padding(2, left, $tuning: -$tab__border-width);
                        @include ds_last-child-no-margin;
                    }
                }

                // Hide content that is not in view
                &__content--hidden {
                    display: none;
                }

            }
        }
    }

    // Different behaviour when tab not interactive
    &.ds_tabs--links {
        // When tabs format
        @include ds_media-query(medium) {
            .ds_tabs__tab {

                &.ds_current {

                    .ds_tabs__tab-link {

                        &:hover {
                            background-color: inherit;
                            color: inherit;
                        }
                    }
                }
            }
        }
    }

}
