/*------------------------------------*\
    TABS
\*------------------------------------*/

$tab__background-colour: $ds_colour__grey--lighter !default;
$tab__background-colour--current: $ds_colour__white !default;
$tab__link-colour: $ds_colour__text;
$tab__link-colour--current: $ds_colour__text; 
$tab__border-width: 2px !default;
$tab__border-width--current: 3px !default;
$tab__padding--vertical: 12px !default;
$tab__padding--horizontal: 16px !default;
$tab__gap: 8px !default;

.ds_tabs {
    @include ds_responsive-margin(4, bottom);  

    // Default title style matches contents list heading
    &__title {
        font-size: px-to-rem($root-font-size);
        line-height: line-height-on-grid($root-font-size);
        margin: 0;
        padding: 0;
        @include ds_responsive-margin(2, bottom);            
        font-weight: $normal;

        // Adjust to keep the same...
        @include ds_media-query(medium) {
            font-size: px-to-rem($root-font-size, $root-font-size--medium);
            line-height: line-height-on-grid($root-font-size);
        }
    }

    // Default list style matches contents list
    &__list {
        @include ds_small-size;
        @include ds_responsive-margin(6, bottom);   
        list-style: none;
        margin-left: 0;
        padding-left: 32px;
    }

    &__tab {
        position: relative;

        &::before {
            background: currentColor;
            content: "—";
            height: 1px;
            left: -32px;
            overflow: hidden;
            position: absolute;
            top: 12px;
            width: 20px;
        }

        &.ds_current {
            font-weight: $bold;
        }
    }

    // Add space between stacked content blocks
    &__content + &__content {
        @include ds_responsive-margin(3, top); 
    }

    // Change to dropdown menu when tabs are links
    &.ds_tabs--links {

        .ds_tabs {

            // Dropdown menu
            @include ds_media-query(medium-down) {
            
                &__list {
                    margin: 0;
                    padding: 0;
                }

                &__tab {

                    &::before {
                        display: none;
                    }
                }
            
            }
        }
    }

    // Change to tab layout when dynamic tabs initialised or when tabs are links
    &.js-initialised,
    &.ds_tabs--links {

        .ds_tabs {

            // Tabs format
            @include ds_media-query(medium) {

                &__list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: $tab__gap;
                    margin: 0;
                    padding: 0;
                }
            
                &__tab-link { 
                    @include ds_blocklink;// Not fully using typical blocklink styling so requires overrides
                    color: $tab__link-colour;
                    display: inline-block;
                    padding: $tab__padding--vertical $tab__padding--horizontal;

                    &:hover {
                        color: $ds_colour__link--hover;
                    }

                    &:focus {
                        color: $ds_colour__link--focus;
                    }
                }
            
                &__tab {

                    &::before {
                        display: none;
                    }

                    background-color: $tab__background-colour;
                    margin: 0;

                    &.ds_current {
                        background-color: $tab__background-colour--current;
                        font-weight: $normal;
                        margin-bottom: -$tab__border-width !important;

                        .ds_tabs__tab-link {
                            border-top: $tab__border-width--current solid $ds_colour__border--highlight;
                            border-left: $tab__border-width solid $ds_colour__border;
                            border-right: $tab__border-width solid $ds_colour__border;
                            border-bottom: 0;
                            color: $tab__link-colour--current;
                            padding: calc($tab__padding--vertical - $tab__border-width--current) calc($tab__padding--horizontal - $tab__border-width) calc($tab__padding--vertical + $tab__border-width);
                            text-decoration: none;

                            &:focus {
                                border: 0;
                                padding: $tab__padding--vertical $tab__padding--horizontal calc($tab__padding--vertical + $tab__border-width);
                            }
                        }
                    }

                    &:focus-within {
                        margin-bottom: -$tab__border-width !important;

                        .ds_tabs__tab-link {
                            padding: $tab__padding--vertical $tab__padding--horizontal calc($tab__padding--vertical + $tab__border-width);
                        }
                    }            
                    
                }

                &__title {
                    @include ds_visually-hidden;
                }

                &__content {
                    border-top: $tab__border-width solid $ds_colour__border;
                    margin: 0;
                    @include ds_responsive-padding(3, top);
    
                    &--bordered {
                        border: $tab__border-width solid $ds_colour__border;
                        @include ds_responsive-padding(3, top);
                        @include ds_responsive-padding(2, right);
                        @include ds_responsive-padding(3, bottom);
                        @include ds_responsive-padding(2, left);
                        @include ds_last-child-no-margin;
                    }
                }

                // Hide content that is not in view
                &__content--hidden {
                    display: none;
                }

            }
        }
    }

}