<div class="ds_tabs">
    <input type="checkbox" class="fully-hidden js-toggle-tabs" id="show-tabs" aria-controls="tabs-root" />
    <label class="ds_tabs__expand  ds_link" for="show-tabs"><span class="visually-hidden">Current tab</span> Tab 1 <span class="ds_side-navigation__expand-indicator"></span></label>
    <ul class="ds_tabs__list">
        <li class="ds_tabs__tab ds_current">
            <a class="ds_tabs__tab-link" href="#tab-1">Tab 1</a>
        </li>
        <li class="ds_tabs__tab">
            <a class="ds_tabs__tab-link" href="#tab-2">Tab 2</a>
        </li>
        <li class="ds_tabs__tab">
            <a class="ds_tabs__tab-link" href="#tab-3">Tab 3</a>
        </li>
        <li class="ds_tabs__tab">
            <a class="ds_tabs__tab-link" href="#tab-4">Tab 4</a>
        </li>
    </ul>
    <div class="ds_tabs__content">
        This is the tab content
    </div>
</div>