<p>First tab component</p>
<div class="ds_tabs {%- if params.links %}  ds_tabs--links{% endif %}" {%- if params.dynamic %} data-module="ds-tabs"{% endif %}>
    <nav class="ds_tabs__navigation" aria-labelledby="ds_tabs__title">
    <h2 id="ds_tabs__title" class="ds_tabs__title">{{ params.heading }}</h2>
    {%- if params.tabs %}
    <ul class="ds_tabs__list">
        {%- for tab in params.tabs %}
        <li class="ds_tabs__tab {%- if tab.current %}  ds_current{%- endif %}" {%- if tab.current %}aria-current="page"{%- endif %}>
            {%- if tab.tabLink %}
            <a class="ds_tabs__tab-link" href="{{ tab.tabLink }}">{{ tab.tabTitle }}</a>
            {%- else %}
            <a class="ds_tabs__tab-link" href="#{{ tab.tabId }}">{{ tab.tabTitle }}</a>
            {%- endif %}
        </li>
        {%- endfor %}
    </ul>
    </nav>
    {%- for tab in params.tabs %}
    {%- if tab.tabContent %}
    <div class="ds_tabs__content {%- if tab.tabContentBorder %}  ds_tabs__content--bordered{%- endif %}" id="{{ tab.tabId }}">
        {{ tab.tabContent | safe }}
    </div>
    {%- endif %}
    {%- endfor %}
    {%- endif %}
</div>
<p>Second tab component</p>
<div class="ds_tabs {%- if params.links %}  ds_tabs--links{% endif %}" {%- if params.dynamic %} data-module="ds-tabs"{% endif %}>
    <nav class="ds_tabs__navigation" aria-labelledby="ds_tabs__title2">
    <h2 id="ds_tabs__title2" class="ds_tabs__title">{{ params.heading }}</h2>
    {%- if params.tabs %}
    <ul class="ds_tabs__list">
        {%- for tab in params.tabs %}
        <li class="ds_tabs__tab {%- if tab.current %}  ds_current{%- endif %}" {%- if tab.current %}aria-current="page"{%- endif %}>
            {%- if tab.tabLink %}
            <a class="ds_tabs__tab-link" href="{{ tab.tabLink }}2">{{ tab.tabTitle }}</a>
            {%- else %}
            <a class="ds_tabs__tab-link" href="#{{ tab.tabId }}2">{{ tab.tabTitle }}</a>
            {%- endif %}
        </li>
        {%- endfor %}
    </ul>
    </nav>
    {%- for tab in params.tabs %}
    {%- if tab.tabContent %}
    <div class="ds_tabs__content {%- if tab.tabContentBorder %}  ds_tabs__content--bordered{%- endif %}" id="{{ tab.tabId }}2">
        {{ tab.tabContent | safe }}
    </div>
    {%- endif %}
    {%- endfor %}
    {%- endif %}
</div>