<div class="ds_tabs" data-module="ds-tabs">
    <!--
    <input type="checkbox" class="fully-hidden js-toggle-tabs" id="show-tabs" aria-controls="tabs-root" />
    <label class="ds_tabs__expand  ds_link" for="show-tabs"><span class="visually-hidden">Current tab</span> Tab 1 <span class="ds_side-navigation__expand-indicator"></span></label>
    -->
    {%- if params.tabs %}
    <ul class="ds_tabs__list">
        {%- for tab in params.tabs %}
        <li class="ds_tabs__tab {%- if tab.current %} ds_current{%- endif %}">
            <a class="ds_tabs__tab-link" href="#{{ tab.tabId }}">{{ tab.tabTitle }}</a>
        </li>
        {%- endfor %}
    </ul>
    {%- for tab in params.tabs %}
    <div class="ds_tabs__content" id="{{ tab.tabId }}">
        {{ tab.tabContent | safe }}
    </div>
    {%- endfor %}
    {%- endif %}
</div>