<div class="ds_tabs" {%- if params.dynamic %} data-module="ds-tabs"{% endif %}>
    {%- if not params.dynamic %}
    <nav aria-labelledby="ds_tabs__title">
    <h2 id="ds_tabs__title" class="ds_tabs__title">{{ params.heading }}</h2>
    {%- endif %}
    {%- if params.tabs %}
    <ul class="ds_tabs__list">
        {%- for tab in params.tabs %}
        <li class="ds_tabs__tab {%- if tab.current %}  ds_current{%- endif %}" {%- if tab.current %}aria-current="page"{%- endif %}>
            {%- if tab.tabLink %}
            <a class="ds_tabs__tab-link" href="{{ tab.tabLink }}">{{ tab.tabTitle }}</a>
            {%- else %}
            <a class="ds_tabs__tab-link" href="#{{ tab.tabId }}">{{ tab.tabTitle }}</a>
            {%- endif %}
        </li>
        {%- endfor %}
    </ul>
    {%- if not params.dynamic %}
    </nav>
    {%- endif %}
    {%- for tab in params.tabs %}
    {%- if tab.tabContent %}
    <div class="ds_tabs__content" id="{{ tab.tabId }}">
        {{ tab.tabContent | safe }}
    </div>
    {%- endif %}
    {%- endfor %}
    {%- endif %}
</div>