<div class="ds_tab-container  ds_tab-container--3">
    <p class="visually-hidden">You can use the cursor keys to select tabs.</p>

    <input class="ds_tab__radio" type="radio" checked name="tabs" id="tab1">
    <div class="ds_tab__header"><label id="tab1-label" aria-controls="tab1-content" role="tab" class="ds_tab__label" for="tab1">"Moonshot" concerns</label></div>
    <div id="tab1-content" class="ds_tab__content" role="tabpanel" aria-labelledby="tab1-label">
        <h2>Concerns over Boris Johnson's 'moonshot' testing plans</h2>
        <p>Scientists and health professionals have raised doubts about Prime Minister Boris Johnson's "Operation Moonshot" plan for mass coronavirus testing.</p>
        <p>The PM hopes millions of Covid-19 tests - including some giving results within minutes - could be processed daily.</p>
        <p>But experts say there are issues with laboratory capacity for current tests, while the technology for more rapid tests "does not, as yet, exist".</p>
        <p>The British Medical Journal says leaked memos show the plan could cost £100bn.</p>
        <p>Speaking after his announcement that gatherings in England are to be restricted to six people from Monday, Mr Johnson said the government was "working hard" to increase testing capacity to 500,000 tests a day by the end of October.</p>
        <p>And he said that "in the near future" he wanted to start using testing "to identify people who are negative - who don't have coronavirus and who are not infectious - so we can allow them to behave in a more normal way, in the knowledge they cannot infect anyone else".</p>
    </div>

    <input class="ds_tab__radio" type="radio" name="tabs" id="tab2">
    <div class="ds_tab__header"><label id="tab2-label" aria-controls="tab2-content" role="tab" class="ds_tab__label" for="tab2">COVID-19 app</label></div>
    <div id="tab2-content" class="ds_tab__content" role="tabpanel" aria-labelledby="tab2-label">
        <h2>Scotland's Covid-19 contact tracing app goes live</h2>
        <p>Scotland's new contact tracing app to help combat the spread of coronavirus has gone live.</p>
        <p>The Scottish government has said the software will support the Test and Protect system and is "another tool in the fight against Covid-19".</p>
        <p>The Protect Scotland app lets people know if they have been in close contact with someone who later tests positive.</p>
        <p>It can be downloaded for free onto a smart phone from Apple's App Store or Google Play.</p>
        <p>First Minister Nicola Sturgeon has urged as many people as possible to get involved in the new tracing scheme.</p>
    </div>

    <input class="ds_tab__radio" type="radio" name="tabs" id="tab3">
    <div class="ds_tab__header"><label id="tab3-label" aria-controls="tab3-content" role="tab" class="ds_tab__label" for="tab3">Climate change rail</label></div>
    <div id="tab3-content" class="ds_tab__content" role="tabpanel" aria-labelledby="tab3-label">
        <h2>Climate change impact on railways accelerating</h2>
        <p>Network Rail has admitted that the impact of climate change on its network "is an area that is accelerating faster than our assumptions".</p>
        <p>It said a fatal derailment near Stonehaven on 12 August showed that the industry must improve its response to extreme weather.</p>
        <p>The driver, conductor and a passenger died when the Aberdeen to Glasgow service crashed after heavy rain.</p>
        <p>An interim report said the train hit washed-out rocks and gravel.</p>
        <p>The report by Network Rail assessed the current controls and management of thousands of miles of earthworks - the sloped ground beside railway tracks.</p>
    </div>
</div>

<div id="breakpoint-tests">
    <div id="bp-small"></div>
    <div id="bp-medium"></div>
    <div id="bp-large"></div>
    <div id="bp-xlarge"></div>
</div>

<script>
window.ds_patterns = window.ds_patterns || {};

window.ds_patterns.breakpoint = function(size) {
    var breakElement = document.getElementById('bp-' + size);
    return window.getComputedStyle(breakElement, null).display === 'block';
}
</script>
