/*------------------------------------*\
    CATEGORY HEADER
\*------------------------------------*/

// modifiable vars
$category-header__title-colour: $colour__text !default;

// fixed vars
$category-header__summary-size: 1.25rem;




.#{$pl-prefix}category-header {
    margin-top: 14px;
    margin-bottom: 28px;

    &__header {
        border-left: 4px solid $colour__border--highlight;
        margin-bottom: 28px;
        padding-left: 20px;
    }

    /**
     * [1] plus [2] gives a multiple of seven to maintain vertical rhythm
     */
    &__title {
        color: $category-header__title-colour;
        margin-bottom: 10px; /* [1] */
    }

    &__summary {
        font-size: $category-header__summary-size;
        font-weight: 700;
        line-height: 28px;

        :last-child {
            margin-bottom: 4px; /* [2] */
        }
    }

    &__media {
        display: block;
        margin: 0 auto;
        max-height: 350px;
        max-width: 320px;
    }
}

.#{$pl-prefix}reversed .#{$pl-prefix}category-header {
    color: $colour__white;

    &__title {
        color: $colour__white;
    }
}

.#{$pl-prefix}category-header {
    @include layout();
}

.#{$pl-prefix}category-header {
    grid-gap: $grid-gap-y $grid-gap-x;
}

@include media-query(medium) {
    .#{$pl-prefix}category-header {
        &__header {
            float: left;
            @include colwidth(8);
            margin: 42px 0;
        }

        &__media-container {
            float: left;
            @include colwidth(4);
        }

        &__summary {
            line-height: 35px;
        }
    }
}

@supports(display: grid) {
    .#{$pl-prefix}category-header__header {
        margin-bottom: 0;
    }

    @include media-query(medium) {
        .#{$pl-prefix}category-header {
            align-items: center;
            grid-template-columns: repeat(12, 1fr);

            &__header {
                float: none;
                grid-column: 1 / span 8;
                margin: 42px 0;
            }

            &__media-container {
                float: none;
                grid-column: 9 / span 4;
                margin-right: 0;
                max-width: 100%;
            }
        }
    }
}
