/*------------------------------------*\
    CATEGORY HEADER
\*------------------------------------*/

// modifiable vars
$category-header__title-colour: $ds_colour__text !default;




.ds_category-header {
    padding-top: 16px;
    padding-bottom: 32px;

    &__header {
        margin-bottom: 32px;
    }

    &__title {
        color: $category-header__title-colour;
        font-weight: $light;
        margin-bottom: 8px;
    }

    &__summary {
        line-height: 24px;

        > :last-child {
            margin-bottom: 8px;
        }
    }

    &__media {
        display: block;
        margin: 0 auto;
        max-height: 360px;
        max-width: 320px;

        @include ds_media-query(medium) {
            max-width: 100%;
        }
    }
}

.ds_reversed .ds_category-header {
    color: $ds_colour__text--reversed;

    &__title {
        color: $ds_colour__text--reversed;
    }
}

.ds_category-header {
    @include ds_layout();
}

.ds_category-header {
    grid-gap: $grid-gap-y $grid-gap-x;
}

@include ds_media-query(medium) {
    .ds_category-header {
        &__header {
            float: left;
            @include ds_colwidth(8);
            margin: 40px 0;
        }

        &__media-container {
            float: left;
            @include ds_colwidth(4);
        }

        &__summary {
            line-height: 32px;
        }
    }
}

@supports(display: grid) {
    .ds_category-header__header {
        margin-bottom: 0;
    }

    @include ds_media-query(medium) {
        .ds_category-header {
            align-items: center;
            grid-template-columns: repeat(12, 1fr);

            &__header {
                float: none;
                grid-column: 1 / span 8;
                margin: 40px 0;
            }

            &__media-container {
                float: none;
                grid-column: 9 / span 4;
                margin-right: 0;
            }
        }
    }
}
