@use "../../base/helpers/layout/layout";
@use "../../base/helpers/media-query/media-query";
@use "../../base/settings/colours/colours";
@use "../../base/settings/grid/grid";
@use "../../base/settings/type/type";

/*------------------------------------*\
    CATEGORY HEADER
\*------------------------------------*/

// modifiable vars
$category-header__title-colour: colours.$ds_colour__text !default;




.ds_category-header {
    padding-top: 1rem;
    padding-bottom: 2rem;

    &__header {
        margin-bottom: 2rem;
    }

    &__title {
        color: $category-header__title-colour;
        font-weight: type.$light;
        margin-bottom: 0.5rem;
    }

    &__summary {
        line-height: 1.5rem;

        > :last-child {
            margin-bottom: 0.5rem;
        }
    }

    &__media {
        display: block;
        margin: 0 auto;
        height: auto;
        max-height: 22.5rem;
        max-width: 20rem;

        @include media-query.media-query(medium) {
            max-width: 100%;
        }
    }
}

.ds_reversed .ds_category-header {
    color: colours.$ds_colour__text--reversed;

    &__title {
        color: colours.$ds_colour__text--reversed;
    }
}

.ds_category-header {
    @include layout.layout();
}

.ds_category-header {
    grid-gap: grid.$grid-gap-y grid.$grid-gap-x;
}

@include media-query.media-query(medium) {
    .ds_category-header {
        &__header {
            float: left;
            @include layout.colwidth(8);
            margin: 2.5rem 0;
        }

        &__media-container {
            float: left;
            @include layout.colwidth(4);
        }

        &__summary {
            line-height: 2rem;
        }
    }
}

@supports(display: grid) {
    .ds_category-header__header {
        margin-bottom: 0;
    }

    @include media-query.media-query(medium) {
        .ds_category-header {
            align-items: center;
            grid-template-columns: repeat(12, 1fr);

            &__header {
                float: none;
                grid-column: 1 / span 8;
                margin: 2.5rem 0;
            }

            &__media-container {
                float: none;
                grid-column: 9 / span 4;
                margin-right: 0;
            }
        }
    }
}
