{%- if params.reversed -%}
<div class="ds_reversed" style="background-color:#002d54;{%- if params.breadcrumbsList %} overflow:hidden;{%- endif -%}">
{%- endif -%}
{%- if params.breadcrumbsList -%}
<div class="ds_wrapper">
    {% render '@breadcrumbs', params.breadcrumbsList -%}
</div>
{%- endif -%}
<div class="ds_wrapper">
    <div class="ds_category-header">
        <header class="ds_category-header__header">
            <h1 class="ds_category-header__title">{{ params.heading }}</h1>
            <div class="ds_category-header__summary">
                {{ params.summary | safe }}
            </div>
        </header>
        {% if params.image %}
        <div class="ds_category-header__media-container">
            <img class="ds_category-header__media" src="{{ params.image }}" alt="{{ params.imageAlt }}" />
        </div>
        {% endif %}
    </div>
</div>
{%- if params.reversed -%}
</div>
{%- endif -%}
