/*------------------------------------*\
    BACK LINK
\*------------------------------------*/

.ds_back-link {
    align-items: center;
    display: inline-flex;
    margin: 16px 0 16px 16px;
    position: relative;
    @include ds_small-size;

    &::before {
        @include ds_chevron(left, 0.5em);
        border-width: 0 0 2px 2px;
        left: -14px;
        position: absolute;
    }
}
