/*------------------------------------*\
    BACK LINK
\*------------------------------------*/

.ds_back-link {
    @include ds_small-size;
    align-items: center;
    display: inline-flex;
    margin: 1rem 0;
    padding-left: 1rem;
    position: relative;

    &::before {
        @include ds_chevron(left, 0.5em);
        border-width: 0 0 0.125em 0.125em;
        left: 0.125em;
        position: absolute;
    }
}
