{%- if params.dataAttribute -%}
    {% set moduleDataMaxLength = ["data-maxlength=\"", params.maxLength, "\" "] | join %}
{%- else -%}
    {% set moduleMaxLength = ["maxlength=\"", params.maxLength, "\" "] | join %}
{%- endif -%}
{%- if params.threshold -%}
    {% set moduleDataThreshold = ["data-threshold=\"", params.threshold, "\" "] | join %}
{%- endif -%}
<div class="ds_question" {{ moduleDataMaxLength | safe }}{{ moduleDataThreshold | safe }}data-module="ds-character-count">
    <label class="ds_label" for="textinput1-character-limit">{{ params.label }}</label>
    <input {{ moduleMaxLength | safe }}class="ds_input{{ params.modifiers }}" type="text" id="textinput1-character-limit" />
</div>