/*------------------------------------*\
    QUESTION
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_question {

    @include helpers.ds_responsive-margin(4, bottom);

    &--error {
        border-left: 0.25rem solid settings.$ds_colour__state--negative;
        padding-left: 1.25rem;
    }

    &__message,
    &__error-message {
        @include helpers.ds_responsive-margin(2, bottom);
    }

    &__error-message {
        color: settings.$ds_colour__state--negative;
        font-weight: settings.$bold;
    }

    // Remove bottom margin from last element if within a fieldset to prevent double margin
    & > fieldset {
        @include helpers.ds_last-child-no-margin;
    }
}
