<div class="ds_question {% if params.error %} ds_question--error{%- endif %}">
{% if fields %}
    {% for field in fields %}
        {% if field.label %}
            {% render '@label', field.label %}
        {% endif %}
        {% if field.hint %}
            {% render '@hint-text', field.hint %}
        {% endif %}
        {% if field.textInput.params.error %}
            <p class="ds_question__error-message">{{field.textInput.params.errorMessage}}</p>
        {% endif %}
        {% if field.textInput %}
            {% render '@text-input', field.textInput %}
        {% endif %}
    {% endfor %}
{% else %}
    {% if params.label %}
        {% render '@label', params.label %}
    {% endif %}
    {% if params.hint %}
        {% render '@hint-text', params.hint %}
    {% endif %}
    {% if params.error %}
        <p class="ds_question__error-message">{{params.errorMessage}}</p>
    {% endif %}
    {% if params.textInput %}
        {% render '@text-input', params.textInput %}
    {% endif %}
{% endif %}
</div>
