/// Data visualisation colour palette

$ds_datavis__dark-blue:     #002d54;
$ds_datavis__teal:          #2b9c93;
$ds_datavis__purple:        #6a2063;
$ds_datavis__orange:        #e5682a;
$ds_datavis__dark-green:    #0b4c0b;
$ds_datavis__green:         #5d9f3c;
$ds_datavis__brown:         #592c20;
$ds_datavis__pink:          #ca72a2;
