/*------------------------------------*\
    LEADER
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_leader,
.ds_leader-first-paragraph > p:first-child {
    @include helpers.ds_large-size;
    @include helpers.ds_responsive-margin(5, bottom);

    font-weight: settings.$light;
    line-height: 2rem;

    @include helpers.ds_media-query(medium) {
        line-height: 2.5rem;
    }
}
