/*------------------------------------*\
    LEADER
\*------------------------------------*/

.ds_leader,
.ds_leader-first-paragraph > p:first-child {
    @include ds_large-size;
    @include ds_responsive-margin(5, bottom);

    font-weight: $light;
    line-height: 2rem;

    @include ds_media-query(medium) {
        line-height: 2.5rem;
    }
}
