///
/// High contrast focus
///
///

@mixin ds_high-contrast-focus($width: 2px) {
    @include ds_media-query-high-contrast {
        outline-color: highlight !important;
        outline-style: solid !important;
        outline-width: $width !important;

        @content;
    }
}

@mixin ds_high-contrast-outline($width: 2px) {
    @include ds_media-query-high-contrast {
        outline: $width solid currentColor !important;
        outline-offset: #{$width * -1} !important;
    }
}

@mixin ds_high-contrast-link {
    @include ds_media-query-high-contrast {
        &:is(:enabled, :link, summary) {
            color: LinkText !important;
            text-decoration-line: underline !important;

            &:focus,
            &:active {
                outline: 2px solid highlight !important;
            }
        }
    }
}

@mixin ds_high-contrast-button {
    @include ds_media-query-high-contrast {
        &:is(:enabled, :link) {
            color: ButtonText !important;
            text-decoration-line: none !important;

            &:hover {
                outline: 2px solid highlight !important;
            }

            &:focus,
            &:active {
                outline: 4px solid highlight !important;
            }
        }
    }
}
