///
/// High contrast focus
///
///

@mixin ds_high-contrast-button($border-width: 0.125rem) {
    @include ds_media-query-high-contrast {
        &:is(:enabled, :link) {
            transition-duration: 0s;

            &:hover {
                outline: $border-width solid highlight !important;
            }

            &:focus,
            &:active {
                outline-offset: -$border-width !important;
                outline-width: $border-width * 2 !important;
            }
        }
    }
}

@mixin ds_high-contrast-link {
    @include ds_media-query-high-contrast {
        &:is(:enabled, :link) {
            color: linkText !important;

            &:not(:focus) {
                text-decoration-line: underline !important;
            }
        }
    }
}

@mixin ds_high-contrast-outline($width: 0.125em, $inset: true, $color: canvastext) {
    @include ds_media-query-high-contrast {
        outline: max(0.125rem, $width) solid $color !important;
        @if inset == true {
            outline-offset: calc(max(0.125rem, $width) * -1) !important;
        }
    }
}




@mixin ds_high-contrast-link-style {
    @include ds_high-contrast-link;
    @debug "Mixin 'ds_high-contrast-link-style' has been renamed to 'ds_high-contrast-link'. This alias will be removed in a future version of the Design System.";
}
