/*------------------------------------*\
    SIDE NAVIGATION
\*------------------------------------*/

$side-nav-spacing-unit: 15px;
$side-nav-outline-width: 3px;




.#{$pl-prefix}side-navigation {
    @include block-margins;

    border: 1px solid $color__border--light;
    position: relative;

    &__expand {
        @include blocklink;

        background-color: $color__white;
        color: $color__brand--primary;
        cursor: pointer;
        font-weight: $bold;
        padding: 14px 45px 14px 15px;
        position: sticky;
        top: 0;
        z-index: 2;
        text-decoration: none;
        transition: box-shadow $transition-in-time;

        &--shadow {
            box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
        }

        &:hover:not(:active) {
            background-color: $color__link--hover__background;
        }

        &:hover .side-navigation__expand-indicator {
            color: $color__link--hover;
        }
    }

    &__expand-indicator {
        @include indicator();
    }

    #show-side-navigation:focus ~ .#{$pl-prefix}side-navigation__expand {
        outline: $side-nav-outline-width solid $color__link--focus__outline;
    }

    #show-side-navigation:checked ~ .#{$pl-prefix}side-navigation__expand .#{$pl-prefix}side-navigation__expand-indicator {
        @include indicator--open();
    }

    #show-side-navigation:checked ~ .#{$pl-prefix}side-navigation__expand:not(:hover) {
        background-color: $color__link--current__background;
        color: $color__link--current;
    }

    #show-side-navigation:checked ~ &__list--root {
        display: block;
    }

    &__list {
        list-style-type: none;
        margin-bottom: 0;
        margin-left: #{$side-nav-outline-width * -1};
        padding: 0 $side-nav-outline-width;

        &--root {
            display: none;
            margin: 7px #{15px - $side-nav-outline-width};
        }
    }

    &__list &__list {
        margin-left: #{$side-nav-spacing-unit * 2};
    }

    &__item {
        position: relative;
        margin-bottom: 0;

        &--has-children {
            > .#{$pl-prefix}side-navigation__link:after {
                color: $color__grey--medium;
                left: $side-nav-spacing-unit;
                position: absolute;
                top: 18px;
                z-index: 1;

                @include chevron(right, 12px, 2px);
            }

            &--expanded > .#{$pl-prefix}side-navigation__link:after {
                @include chevron(down, 12px, 2px);
                top: 15px;
            }
        }
    }

    &__list &__list &__list &__link {
        padding-left: #{$side-nav-spacing-unit * 2};

        &:before {
            background: $color__grey--light;
            bottom: 7px;
            content: '';
            left: 14px;
            position: absolute;
            right: 100%;
            width: 3px;
            top: 7px;
        }

        &:hover,
        &:focus,
        &.#{$pl-prefix}current {
            &:before {
                background: $color__brand--primary
            }
        }
    }

    /**
     * [1] vertical padding combines with the margin to form a multiple of seven
     */
    &__link {
        @include blocklink;

        margin-bottom: 3px;
        padding: 13px 42px 12px #{$side-nav-spacing-unit * 3}; /* [1] */
        position: relative;
        text-decoration: none;

        &:hover,
        &.#{$pl-prefix}current {
            position: relative;

            &:before {
                background: $color__brand--primary;
                bottom: 0;
                content: '';
                position: absolute;
                left: -3px;
                top: 0;
                width: 3px;
            }
        }
    }
}

@include media-query(medium-down) {
    .js-enabled .ds_side-navigation {
        .#{$pl-prefix}side-navigation__list--root {
            margin: 0 15px;
            max-height: 0;
            overflow: hidden;
            transition: max-height $transition-in-time, padding $transition-in-time;
        }

        #show-side-navigation:checked ~ .#{$pl-prefix}side-navigation__list--root {
            padding-bottom: 7px;
            padding-top: 7px;
        }
    }
}

@include media-query(medium) {
    .#{$pl-prefix}side-navigation {
        border-width: 0;
        font-size: $small-size;
        line-height: 21px;
        margin-top: 0;

        &__expand {
            display: none;
        }

        &__list--root {
            display: block !important;
            margin: 0;
            max-height: unset;
        }

        &__item--has-children:before {
            margin-top: 2px;
        }

        &__link:hover,
        &__link.#{$pl-prefix}current {
            &:before {
                left: -3px;
            }
        }

        #show-side-navigation {
            display: none;
        }
    }
}
