#bp-small,
#bp-medium,
#bp-large,
#bp-xlarge {
    display: none;
}

@include media-query(small) {
    #bp-small {
        display: block;
    }
}

@include media-query(medium) {
    #bp-medium {
        display: block;
    }
}

@include media-query(large) {
    #bp-large {
        display: block;
    }
}

@include media-query(xlarge) {
    #bp-xlarge {
        display: block;
    }
}
