@use "../../settings/type/type";
@use "../functions/functions";
@use "../media-query/media-query";
@use "../spacing/spacing";

///
/// Heading size mixins
///

@mixin h1-size($type-grid: 0.5rem) {
    font-size: type.$h1-size;
    line-height: functions.line-height-on-grid(type.$h1-size, 1.3, $grid: $type-grid);

    @include media-query.media-query(medium) {
        font-size: type.$h1-size--medium;
        line-height: functions.line-height-on-grid(type.$h1-size--medium, 1.3, $grid: $type-grid);
    }
}

@mixin h2-size($type-grid: 0.5rem) {
    font-size: type.$h2-size;
    line-height: functions.line-height-on-grid(type.$h2-size, 1.3, $grid: $type-grid);

    @include media-query.media-query(medium) {
        font-size: type.$h2-size--medium;
        line-height: functions.line-height-on-grid(type.$h2-size--medium, 1.3, $grid: $type-grid);
    }
}

@mixin h3-size($type-grid: 0.5rem) {
    font-size: type.$h3-size;
    line-height: functions.line-height-on-grid(type.$h3-size, 1.3, $grid: $type-grid);

    @include media-query.media-query(medium) {
        font-size: type.$h3-size--medium;
        line-height: functions.line-height-on-grid(type.$h3-size--medium, $grid: $type-grid);
    }
}

@mixin h4-size($type-grid: 0.5rem) {
    font-size: type.$h4-size;
    line-height: functions.line-height-on-grid(type.$h4-size, $grid: $type-grid);

    @include media-query.media-query(medium) {
        font-size: type.$h4-size--medium;
        line-height: functions.line-height-on-grid(type.$h4-size--medium, $grid: $type-grid);
    }
}

@mixin h5-size($type-grid: 0.5rem) {
    font-size: type.$h5-size;
    line-height: functions.line-height-on-grid(type.$h5-size, $grid: $type-grid);

    @include media-query.media-query(medium) {
        font-size: type.$h5-size--medium;
        line-height: functions.line-height-on-grid(type.$h5-size--medium, $grid: $type-grid);
    }
}

@mixin tiny-size($type-grid: 0.5rem) {
    font-size: type.$tiny-size;
    line-height: functions.line-height-on-grid(type.$tiny-size, $grid: $type-grid);

    @include media-query.media-query(medium) {
        font-size: type.$tiny-size--medium;
        line-height: functions.line-height-on-grid(type.$tiny-size--medium, $grid: $type-grid);
    }
}

@mixin small-size($type-grid: 0.5rem) {
    font-size: type.$small-size;
    line-height: functions.line-height-on-grid(type.$small-size, $grid: $type-grid);

    @include media-query.media-query(medium) {
        font-size: type.$small-size--medium;
        line-height: functions.line-height-on-grid(type.$small-size--medium, $grid: $type-grid);
    }
}

@mixin small-size--fixed($type-grid: 0.5rem) {
    font-size: type.$small-size--fixed;
    line-height: functions.line-height-on-grid(type.$small-size--fixed, $grid: $type-grid);
}

@mixin large-size($type-grid: 0.5rem) {
    font-size: type.$large-size;
    line-height: functions.line-height-on-grid(type.$large-size, $grid: $type-grid);

    @include media-query.media-query(medium) {
        font-size: type.$large-size--medium;
        line-height: functions.line-height-on-grid(type.$large-size--medium, $grid: $type-grid);
    }
}

@mixin root-size($type-grid: 0.5rem) {
    font-size: type.$root-font-size;
    line-height: functions.line-height-on-grid(type.$root-font-size, $grid: $type-grid);

    @include media-query.media-query(medium) {
        font-size: type.$root-font-size--medium;
        line-height: functions.line-height-on-grid(type.$root-font-size--medium, $grid: $type-grid);
    }
}




///
/// Heading style mixins
///
@mixin h1-style {
    @include h1-size;
    @include spacing.responsive-margin(4, bottom);
    font-weight: type.$bold;
}

@mixin h2-style {
    @include h2-size;
    @include spacing.responsive-margin(2, bottom);
    font-weight: type.$bold;
}

@mixin h3-style {
    @include h3-size;
    @include spacing.responsive-margin(2, bottom);
    font-weight: type.$bold;
}

@mixin h4-style {
    @include h4-size;
    @include spacing.responsive-margin(2, bottom);
    font-weight: type.$bold;
}

@mixin h5-style {
    @include h5-size;
    @include spacing.responsive-margin(1, bottom);
    font-weight: type.$bold;
}
