/*------------------------------------*\
    PADDING MODIFIERS
    Deprecated, prefer use of padding override classes e.g. ds_!_padding--0, ds_!_padding-bottom--0
\*------------------------------------*/

@use "../../helpers";

.ds_no-padding {
    @include helpers.ds_responsive-padding(0, null, true);
}

.ds_no-padding--top {
    @include helpers.ds_responsive-padding(0, top, true);
}

.ds_no-padding--right {
    @include helpers.ds_responsive-padding(0, right, true);
}

.ds_no-padding--bottom {
    @include helpers.ds_responsive-padding(0, bottom, true);
}

.ds_no-padding--left {
    @include helpers.ds_responsive-padding(0, left, true);
}

.ds_no-padding--vertical {
    @include helpers.ds_responsive-padding(0, top, true);
    @include helpers.ds_responsive-padding(0, bottom, true);
}

.ds_no-padding--horizontal {
    @include helpers.ds_responsive-padding(0, left, true);
    @include helpers.ds_responsive-padding(0, right, true);
}
