/// Breakpoints in px and rem
/// small - 480px / 30rem
/// medium - 768px / 48rem
/// large - 992px / 62rem
/// xlarge - 1200px / 75rem

// DEPRECATED - medium-portrait and medium-landscape will be removed in a future version

$ds_breakpoints: (
    small: '(min-width: 30rem)',
    medium: '(min-width: 48rem)',
    large: '(min-width: 62rem)',
    xlarge: '(min-width: 75rem)',

    small-down: '(max-width: 29.9375rem)',
    medium-down: '(max-width: 47.9375rem)',
    large-down: '(max-width: 61.9375rem)',
    small-to-medium: '(min-width: 30rem) and (max-width: 47.9375rem)',
    medium-to-large: '(min-width: 48rem) and (max-width: 61.9375rem)',
    large-to-xlarge: '(min-width: 62rem) and (max-width: 74.9375rem)',
    xlarge-up: '(min-width: 75rem)',

    medium-portrait: '(min-width: 768px) and (orientation: portrait) and (max-width : 1024px)',
    medium-landscape: '(min-width: 768px) and (orientation: landscape)  and (max-width : 1024px)'
) !default;
