$ds_breakpoints: (
    small: '(min-width: 480px)',
    medium: '(min-width: 768px)',
    large: '(min-width: 992px)',
    xlarge: '(min-width: 1200px)',

    small-down: '(max-width: 479px)',
    medium-down: '(max-width: 767px)',
    large-down: '(max-width: 991px)',
    small-to-medium: '(min-width: 480px) and (max-width: 767px)',
    medium-to-large: '(min-width: 768px) and (max-width: 991px)',
    large-to-xlarge: '(min-width: 992px) and (max-width: 1199px)',
    xlarge-up: '(min-width: 1200px)',

    medium-portrait: '(min-width: 768px) and (orientation: portrait) and (max-width : 1024px)',
    medium-landscape: '(min-width: 768px) and (orientation: landscape)  and (max-width : 1024px)'
) !default;
