/*------------------------------------*\
    BRANDING
\*------------------------------------*/

// modifiable vars
$site-logo__height: 32px !default;
$site-logo__height--medium: 40px !default;
$site-branding-padding: 12px;
$site-branding-title-spacing: 24px;
$site-branding-title-spacing--medium: 48px;




.ds_site-branding {
    overflow: hidden;
    padding: $site-branding-padding 0;
    position: relative;

    &__logo {
        height: $site-logo__height;
        margin-right: px-to-rem($site-branding-title-spacing);
    }

    &__logo-image {
        height: $site-logo__height;
        pointer-events: none;
        width: auto;
    }

    &__link {
        color: currentColor;
        display: inline-block;
        position: relative;
        text-decoration: none;

        @include ds_fancy-underscore;
    }

    &__title {
        font-weight: $light;
        line-height: px-to-rem(24px);

        &::before {
            background: $ds_colour__brand;
            bottom: $site-branding-padding;
            content: '';
            position: absolute;
            margin-left: px-to-rem($site-branding-title-spacing * -0.5);
            top: $site-branding-padding;
            width: 1px;
        }
    }

    &__logo,
    &__title {
        float: left;
    }

}

@include ds_media-query (medium) {
    .ds_site-branding {
        &__link {
            margin-bottom: 0;
        }

        &__logo {
            height: $site-logo__height--medium;
            margin-right: px-to-rem($site-branding-title-spacing--medium);
        }

        &__logo-image {
            height: $site-logo__height--medium;
        }

        &__title {

            &::before {
                margin-left: px-to-rem($site-branding-title-spacing--medium * -0.5);
            }
        }
    }
}

@supports (display: flex) {
    .ds_site-branding {
        align-items: center;
        display: flex;
        flex-flow: wrap;
        gap: px-to-rem(16px) 0;

        &__logo,
        &__title {
            float: none;
        }
    }
}
