<div class="ds_site-branding">
    {%- if params.logo %}
    <a class="ds_site-branding__logo ds_site-branding__link" href="{{ params.logoLink }}">
        <img class="ds_site-branding__logo-image" src="{{ params.logo }}" alt="{{ params.logoAlt }}" width="{{ params.logoWidth }}" height="{{ params.logoHeight }}" />
    </a>
    {%- endif %}
    {%- if params.title %}
    <div class="ds_site-branding__title">
        {%- if params.titleLink %}
        <a href="{{ params.titleLink }}" class="ds_site-branding__link">{{ params.title | safe  }}</a>
        {%- else %}
        {{ params.title | safe }}
        {%- endif %}
    </div>
    {%- endif %}
</div>