/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

$button__border-width: 2px !default;
$button__outline-width: 3px !default;
$button__height: 49px !default;
$button__height--small: 42px !default;
$button__padding--x: 20px !default;




button,
input[type="button"],
input[type="submit"],
.#{$pl-prefix}button {
    background: $color__button__background;
    border: 0;
    color: $color__button;
    cursor: pointer;
    display: inline-block;
    font-weight: $bold;
    line-height: 21px;
    outline-width: 0;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color $transition-out-time;

    @include block-margins;

    &:hover,
    &:focus,
    &:active {
        outline-width: 0;
    }

    // this order is important. we want active to take precedence over focus and focus to take precedence over hover
    &:hover {
        background-color: $color__button--hover__background;
        color: $color__button;
        transition-duration: $transition-in-time;
    }

    &:focus {
        background-color: $color__button--focus__background;
        box-shadow: 0 $link__border-width $color__link--focus__shadow;
        color: $color__button--focus;
        outline-color: $color__button--focus__background;
    }

    &:active,
    &:hover:active {
        background-color: $color__button--active__background;
        box-shadow: 0 $link__border-width $color__link--active__shadow;
        color: $color__button--active;
        outline-color: $color__button--active__background;
        transition-duration: 0s;
    }
}

.#{$pl-prefix}button {
    &--secondary {
        background-color: $color__button--secondary__background;
        color: $color__button--secondary;
        outline: 2px solid currentColor;
        outline-offset: -2px;

        &:hover,
        &:focus,
        &:active {
            outline-width: 2px;
        }

        &:hover {
            background-color: $color__button--secondary--hover__background;
            color: $color__button--secondary--hover;

            &:not(:focus) {
                outline-color: currentColor;
            }
        }

        &:focus:not(:active) {
            background-color: $color__button--focus__background;
            color: $color__button--secondary--focus;
        }
    }

    &--cancel {
        background-color: $color__button--cancel__background;
        color: $color__button--cancel;
        outline: 2px solid currentColor;
        outline-offset: -2px;

        &:hover,
        &:focus,
        &:active {
            outline-width: 2px;
        }

        &:hover {
            background-color: $color__button--cancel--hover__background;
            color: $color__button--cancel;

            &:not(:focus) {
                outline-color: currentColor;
            }
        }

        &:focus:not(:active) {
            background-color: $color__button--focus__background;
            color: $color__button--focus;
        }
    }
}

// SIZE VARIANTS
.#{$pl-prefix}button {
    &--small {
        font-size: $small-size;
        padding-top: 10px;
        padding-bottom: 11px;
    }
}

// WIDTH VARIANTS
.#{$pl-prefix}button {
    &--fixed {
        width: 200px;

        &.#{$pl-prefix}button--small {
            width: 160px;
        }
    }

    &--max {
        max-width: 480px;
        width: 100%;
    }
}

// STACKED BUTTONS
.#{$pl-prefix}button-group {
    @include block-margins;

    > .#{$pl-prefix}button {
        margin: 0 0 21px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// ICONS ON BUTTONS
.#{$pl-prefix}button {
    &--has-icon {
        padding-right: calc(#{$button__height} + #{$button__padding--x});
        position: relative;

        > .#{$pl-prefix}icon {
            bottom: 0;
            padding: 14px;
            position: absolute;
            right: 0;
            top: 0;
            width: $button__height;
        }
    }

    &--small.#{$pl-prefix}button--has-icon {
        padding-right: calc(#{$button__height--small} + #{$button__padding--x});

        > .#{$pl-prefix}icon {
            height: $button__height--small;
            padding: 10px;
            width: $button__height--small;
        }
    }
}

@supports (display: grid) {
    .#{$pl-prefix}button {
        &--has-icon {
            display: inline-grid;
            grid-gap: $button__padding--x - 7px;
            grid-template-columns: 1fr $button__height;
            margin-right: 0;
            padding-right: 0;

            > .#{$pl-prefix}icon {
                display: block;
                height: $button__height;
                margin: -14px 0;
                position: static;
                width: $button__height;
            }
        }

        &--small.#{$pl-prefix}button--has-icon {
            grid-gap: $button__padding--x - 11px;
            grid-template-columns: 1fr $button__height--small;
            padding-right: 0;

            > .#{$pl-prefix}icon {
                margin: -10px 0 -11px;
                padding: 10px;
                width: $button__height--small;
            }
        }
    }
}

// ICON-ONLY BUTTONS
.#{$pl-prefix}button--icon-only {
    height: $button__height;
    padding: 14px;
    width: $button__height;

    &.#{$pl-prefix}button--small {
        height: $button__height--small;
        padding: 10px;
        width: $button__height--small;
    }
}
