/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

$button__border-width: 2px !default;
$button__outline-width: 3px !default;




button,
input[type="button"],
input[type="submit"],
.#{$pl-prefix}button {
    background: $color__button__background;
    border: 0;
    color: $color__button;
    cursor: pointer;
    display: inline-block;
    font-weight: $bold;
    outline-width: 0;
    padding: 11px 25px 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color $transition-out-time;

    &:hover,
    &:focus,
    &:active {
        outline-width: 0;
    }

    // this order is important. we want active to take precedence over focus and focus to take precedence over hover
    &:hover {
        background-color: $color__button--hover__background;
        color: $color__button;
        transition-duration: $transition-in-time;
    }

    &:focus {
        background-color: $color__button--focus__background;
        box-shadow: 0 $link__border-width $color__link--focus__shadow;
        color: $color__button--focus;
        outline-color: $color__button--focus__background;
    }

    &:active,
    &:hover:active {
        background-color: $color__button--active__background;
        box-shadow: 0 $link__border-width $color__link--active__shadow;
        color: $color__button--active;
        outline-color: $color__button--active__background;
        transition-duration: 0s;
    }
}

.#{$pl-prefix}button {
    &--secondary {
        background-color: $color__button--secondary__background;
        color: $color__button--secondary;
        outline: 2px solid currentColor;
        outline-offset: -2px;
        padding: #{(11px - $button__border-width)} #{23px - $button__border-width} #{(10px - $button__border-width)};

        &:hover,
        &:focus,
        &:active {
            outline-width: 2px;
        }

        &:hover {
            background-color: $color__button--secondary--hover__background;
            color: $color__button--secondary--hover;

            &:not(:focus) {
                outline-color: currentColor;
            }
        }

        &:focus:not(:active) {
            background-color: $color__button--focus__background;
            color: $color__button--secondary--focus;
        }
    }

    &--cancel {
        background-color: $color__button--cancel__background;
        color: $color__button--cancel;
        outline: 2px solid currentColor;
        outline-offset: -2px;
        padding: #{(11px - $button__border-width)} #{23px - $button__border-width} #{(10px - $button__border-width)};

        &:hover,
        &:focus,
        &:active {
            outline-width: 2px;
        }

        &:hover {
            background-color: $color__button--cancel--hover__background;
            color: $color__button--cancel;

            &:not(:focus) {
                outline-color: currentColor;
            }
        }

        &:focus:not(:active) {
            background-color: $color__button--focus__background;
            color: $color__button--focus;
        }
    }
}

.#{$pl-prefix}button--small {
    font-size: 0.85rem;
    padding: 2px 13px 1px;
}
