/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

$button__border-width: 2px !default;
$button__outline-width: 3px !default;




button,
input[type="button"],
input[type="submit"],
.#{$pl-prefix}button {
    background: $color__button__background;
    border: 0;
    color: $color__button;
    cursor: pointer;
    display: inline-block;
    font-weight: $bold;
    padding: 11px 25px 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color $transition-out-time;

    // this order is important. we want active to take precedence over focus and focus to take precedence over hover
    &:hover {
        background-color: $color__button--hover__background;
        color: $color__button;
        transition-duration: $transition-in-time;

        &:not(:focus) {
            outline-width: 0;
        }
    }

    &:focus {
        outline: $button__outline-width solid $color__button--focus__outline;
    }

    &:active,
    &:hover:active {
        background-color: $color__button--active__background;
        color: $color__button--active;
        outline-color: $color__button--active__outline;
        transition-duration: 0s;
    }
}

.#{$pl-prefix}button {
    &--secondary {
        background-color: $color__button--secondary__background;
        border: $button__border-width solid currentColor;
        color: $color__button--secondary;
        padding: #{(11px - $button__border-width)} #{23px - $button__border-width} #{(10px - $button__border-width)};

        &:hover {
            background-color: $color__button--secondary--hover__background;
            color: $color__button--secondary--hover;
        }

        &:focus:not(:active) {
            color: $color__button--secondary--focus;
        }
    }

    &--cancel {
        background-color: $color__button--cancel__background;
        border: $button__border-width solid currentColor;
        color: $color__button--cancel;
        padding: #{(11px - $button__border-width)} #{23px - $button__border-width} #{(10px - $button__border-width)};

        &:hover {
            background-color: $color__button--cancel--hover__background;
            color: $color__button--cancel;
        }

        &:focus:not(:active) {
            color: $color__button--cancel;
        }
    }
}

.#{$pl-prefix}button--small {
    font-size: 0.85rem;
    padding: 2px 13px 1px;
}
