/*------------------------------------*\
    ABBREVIATIONS
    Improved display of abbreviation styling with better readability than browser default
\*------------------------------------*/

/*
 * [1] consider limiting this in scope to <article> elements or some other containing element to
 * reduce risk of unintended side-effects
 * [2] only apply this if there is a title attribute
 */
/* [1] */
abbr, acronym {
    &[title] { /* [2] */
        position: relative;
        text-decoration: none;

        &::after {
            border-bottom: 1px dotted currentColor;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: calc(100% - 2px);
        }
    }
}
