/*------------------------------------*\
    HORIZONTAL RULE
\*------------------------------------*/

@use "../../settings";
@use "../../helpers";

/// [1] compensate for border
hr {
    border: none;
    border-top: 0.0625rem solid settings.$ds_colour__border;

    @include helpers.ds_responsive-margin(4, top);
    @include helpers.ds_responsive-margin(4, bottom, false, -0.0625rem); /// [1]
}
