/*------------------------------------*\
    PREFILLED VALUE LIST
\*------------------------------------*/

@use "../../base/helpers";

.ds_prefilled-value-list {

    &__key {
        margin: 0;
        padding: 0;
    }

    &__value {
        margin: 0;
        padding: 0;
        @include helpers.ds_responsive-margin(3, bottom);
    }

}