/*------------------------------------*\
    PREFILLED VALUE LIST
\*------------------------------------*/

.ds_prefilled-value-list {
    &__key {
        margin: 0;
        padding: 0;
        @include ds_responsive-margin(1, bottom);
    }

    &__value {
        margin: 0;
        padding: 0;
        @include ds_responsive-margin(3, bottom);

        @include ds_media-query(medium) {
            display: flex;

            &-actions {
                @include ds_responsive-margin(3, left);
            }
        }
    }
}
