<dl class="ds_prefilled-value-list" {%- if params.label %} aria-label="{{ params.label }}"{%- endif %}>
  {%- for item in params.list %}
  <dt class="ds_prefilled-value-list__key">{{ item.label }}</dt>
  <dd class="ds_prefilled-value-list__value">
    <div>{{ item.value }}</div>
    {%- if item.editLink %}
    <button class="ds_link  ds_prefilled-value-list__value-actions">Change <span class="visually-hidden">your answer for: <q>{{ item.label }}</q></span></button>
    {%- endif %}
  </dd>
  {%- endfor %}
</dl>