/*------------------------------------*\
    LINK LIST
    Support for between 1 and 9 items
\*------------------------------------*/

.ds_cb--link-list {

    @include ds_responsive-padding(3, top);
    @include ds_responsive-padding(4, bottom);

    .ds_cb__inner {
        grid-template-columns: 1fr;
    }

    // Add extra space if following content
    * + .ds_link-list {
        @include ds_responsive-margin(3, top);
    }

    // Background theming style changes
    &[class*="ds_cb--bg-"] {
        .ds_link-item {
            border-bottom: 1px currentColor solid;
        }

        .ds_metadata {
            color: currentColor;
        }
    }
}