<div class="ds_cb  ds_cb--link-list
{%- if params.background %}  ds_cb--bg-{{ params.background }}{% endif -%}
{%- if params.foreground %}  ds_cb--fg-{{ params.foreground }}{% endif -%}
{%- if params.fullwidth %}  ds_cb--fullwidth{% endif -%}
{%- if params.modifier %}  {{ params.modifier }}{% endif -%}
{%- if params.neutralLinks %}  ds_cb--neutral-links{% endif -%}">
    <div class="ds_wrapper">
        <div class="ds_cb__inner"> 
            <nav {%- if params.heading %} aria-labelledby="ds_cb--link-list__title"{%- else %} aria-label="Navigation heading"{% endif -%}>
                {%- if params.heading %}
                <{{ params.heading.level}} id="ds_cb--link-list__title">{{ params.heading.label}}</{{ params.heading.level}}>
                {%- endif -%}
                {%- if params.content %}
                {{ params.content | safe}}
                {% endif -%}
                <ul class="ds_link-list">
                    {%- for item in params.items -%}
                        {% render '@link-item', item -%}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>