{%- if params.status %}
<h2 id="task-list-status" class="ds_task-list-status-heading">{{ params.status }}</h2>
{%- endif -%}
{%- if params.statusDescription %}
<nav aria-labelledby="task-list-status" class="ds_task-list-status">
    <p>{{ params.statusDescription }}</p>
    <p><a href="{{ params.statusLink }}">{{ params.statusLinkLabel }}</a></p>
</nav>
{%- endif -%}
{%- set listtype = "ul"%}
{%- if params.ordered %}
    {% set listtype = "ol" %}
{%- endif -%}
{%- for group in params.groups -%}
<h2>{{ group.heading }}</h2>
<{{ listtype }} class="ds_task-list-group {%- if params.ordered %}  ds_task-list-group--ordered{% endif %}">
{%- for tasklist in group.lists -%}
    <li class="ds_task-list-group__section">{% render '@task-list', tasklist -%}</li>
{% endfor %}
</{{ listtype }}>
{% endfor %}