/*------------------------------------*\
    RADIO BUTTONS
\*------------------------------------*/

.#{$pl_prefix}radio {
    @include ds_radiocheckboxstates(true, 1px);

    &__label::after {
        @supports(display: grid) {
            background-color: $ds_colour__input--spot;
            background-image: none;
        }

        $octothorpe: '#';
        @include ds_icon-mask(#{$iconsfile}#{$octothorpe}radio);
    }
}
