/*------------------------------------*\
    RADIO BUTTONS
\*------------------------------------*/

.#{$pl_prefix}radio {
    @include radiocheckboxstates(true, 1px);

    /*
     * [1] for IE11 support, use image without clip path
     */
    &__label::after {
        -webkit-mask-image: url(#{$iconsfile}#radio-40);
        mask-image: url(#{$iconsfile}#radio-40);
        background-image: url(#{$iconsfile}#radio-40); /* [1] */

        @supports(display: grid) {
            background-color: $ds_colour__input--spot;
            background-image: none;
        }
    }
}
