/*------------------------------------*\
    RADIO BUTTONS
\*------------------------------------*/

@use "../../base/helpers";

@use "../form.mixins" as form-mixins;

.ds_radio {
    @include form-mixins.ds_radiocheckboxstates(true, 0.0625rem);

    &__label::after {
        top: 0.375rem;
        left: 0.625rem;
        width: 0;
        height: 0;
        border: 0.625rem solid currentColor;
        border-radius: 50%;
        background: currentColor;
    }

    &--small &__label::after {
        border-width: 0.375rem;
        left: 0.875rem;
        top: 0.625rem;
    }
}

@include helpers.ds_media-query(medium) {
    .ds_radio {
        &__label::after {
            top: 0.625rem;
        }

        &--small &__label::after {
            top: 0.875rem;
        }
    }
}
