<div class="ds_question {%- if params.error %} ds_question--error{%- endif %}">
    <fieldset {%- if params.hint %} aria-describedby="ds_hint"{%- endif %}>
        <legend>{{ params.legend }}</legend>
        {%- if params.hint %}
        <p class="ds_hint-text" id="ds_hint">{{ params.hint }}</p>
        {%- endif %}
        {%- if params.error %}
        <p class="ds_question__error-message">{{ params.error }}</p>
        {%- endif %}
        <div class="ds_field-group {%- if params.inline %} ds_field-group--inline{%- endif %}">
            {%- for radio in params.radios %}
            <div class="ds_radio {%- if radio.small %} ds_radio--small{%- endif %}">
                <input class="ds_radio__input" id="{{ radio.id }}" type="radio" name="{{ params.groupId }}" {%- if radio.value %} value="{{ radio.value }}"{%- endif %} {%- if radio.hint %} aria-describedby="{{ radio.id }}_hint"{%- endif %}/>
                <label class="ds_radio__label" for="{{ radio.id }}">{{ radio.label}}</label>
                {%- if radio.hint %}
                <p class="ds_hint-text" id="{{ radio.id }}_hint">{{ radio.hint }}</p>
                {%- endif %}
            </div>
            {%- endfor %}
        </div>
    </fieldset>
</div>