@use "../../base/helpers/functions/functions";
@use "../../base/helpers/headings/headings";
@use "../../base/helpers/high-contrast/high-contrast";
@use "../../base/helpers/media-query/media-query";
@use "../../base/helpers/spacing/spacing";
@use "../../base/settings/colours/colours";
@use "../../base/settings/type/type";

/*------------------------------------*\
    TASK LIST
\*------------------------------------*/

.ds_task-list {
    list-style-type: none;
    margin: -0.125rem 0 0 0; // Negative top margin to offset top border of first task
    padding: 0;

    &__task {
        align-items: center;
        border-top: 0.125rem colours.$ds_colour__border--faint solid;
        display: flex;
        gap: 0.5rem 2rem;
        justify-content: space-between;
        margin: 0;
        @include spacing.responsive-padding(2, top);
        @include spacing.responsive-padding(2, bottom, $tuning: -0.125rem);

        &:last-child {
            border-bottom: 0.125rem colours.$ds_colour__border--faint solid;
        }

        // Stack at small size
        @include media-query.media-query(small-down) {
            @include spacing.responsive-padding(3, bottom, $tuning: -0.125rem);
            align-items: flex-start;
            flex-direction: column;
        }

        &-details {
            max-width: 100%;
        }

        // remove heading styles
        &-heading {
            @include headings.root-size;
            font-weight: type.$normal;
            margin: 0;
        }

        &-link {
            text-decoration: underline;
        }

        &-summary {
            margin: 0;
            @include spacing.responsive-margin(1, top);
        }

        // Deprecated - use ds_tag component instead
        &-status {
            @include headings.small-size;
            @include high-contrast.high-contrast-outline;
            background-color: colours.$ds_colour__background--tertiary;
            font-weight: type.$bold;
            padding: 0.25rem 1rem;
            white-space: nowrap;

            &--complete {
                background: colours.$ds_colour__background--primary;
                color: colours.$ds_colour__state--positive;
                border: 0.125rem colours.$ds_colour__state--positive solid;
                padding: 0.125rem 1rem;
            }
        }
    }

    &-heading {
        @include headings.h3-style;
        display: inline-block;
    }

    &-intro {
        @include spacing.responsive-margin(2, bottom);
    }

    // Add top margin if following inline heading
    &-heading + &-intro {
        //@include ds_responsive-margin(1, top);
    }
    // Include tuning for top border of tasks
    &-heading + & {
        @include spacing.responsive-margin(1, top, $tuning: -0.125rem);
    }
}

.ds_task-list-group {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__section,
    &__section:last-child {
        margin: 0;
        padding: 0;
        @include spacing.responsive-margin(5, bottom);

        @include media-query.media-query(small-down) {
            @include spacing.responsive-margin(6, bottom);
        }
    }

    &--ordered {
        list-style-position: inside;
        list-style-type: decimal;

        .ds_task-list-group__section::marker {
            @include headings.h3-size;
            font-weight: type.$bold;
        }
    }
}

.ds_task-list-status {
    @include spacing.responsive-margin(5, bottom);

    @include media-query.media-query(small-down) {
        @include spacing.responsive-margin(6, bottom);
    }

    > p {
        @include spacing.responsive-margin(1, bottom);
    }

    &-heading {
        @include headings.h3-style;
    }
}


// Deprecated - use ds_tag component instead
@include media-query.media-query-high-contrast {
    /*
     * [1] This is a little hacky but it does serve to differentiate the "complete" status.
     *     And happens to be green by default.
     */
    .ds_task-list__task-status--complete {
        color: GrayText; // 1
    }
}
