/*------------------------------------*\
    TASK LIST
\*------------------------------------*/

.ds_task-list {
    list-style-type: none;
    margin: -2px 0 0 0; // Negative top margin to offset top border of first task
    padding: 0;

    &__task {
        align-items: center;
        border-top: 2px $ds_colour__border--faint solid;
        display: flex;
        gap: 0.5rem 2rem;
        justify-content: space-between;
        margin: 0;
        @include ds_responsive-padding(2, top);
        @include ds_responsive-padding(2, bottom, $tuning: -2px);

        &:last-child {
            border-bottom: 2px $ds_colour__border--faint solid;
        }

        // Stack at small size
        @include ds_media-query(small-down) {
            @include ds_responsive-padding(3, bottom, $tuning: -2px);
            align-items: flex-start;
            flex-direction: column;
        }

        &-details {
            max-width: 100%;
        }

        // remove heading styles
        &-heading {
            @include ds_root-size;
            font-weight: $normal;
            margin: 0;
        }

        &-link {
            text-decoration: underline;
        }

        &-summary {
            margin: 0;
            @include ds_responsive-margin(1, top);
        }

        // Deprecated - use ds_tag component instead
        &-status {
            @include ds_small-size;
            @include ds_high-contrast-outline;
            background-color: $ds_colour__background--tertiary;
            font-weight: $bold;
            padding: px-to-rem(4px) px-to-rem(16px);
            white-space: nowrap;

            &--complete {
                background: $ds_colour__background--primary;
                color: $ds_colour__state--positive;
                border: 2px $ds_colour__state--positive solid;
                padding: px-to-rem(2px) px-to-rem(16px);
            }
        }
    }

    &-heading {
        @include ds_h3-style;
        display: inline-block;
    }

    &-intro {
        @include ds_responsive-margin(2, bottom);
    }

    // Add top margin if following inline heading
    &-heading + &-intro {
        //@include ds_responsive-margin(1, top);
    }
    // Include tuning for top border of tasks
    &-heading + & {
        @include ds_responsive-margin(1, top, $tuning: -2px);
    }
}

.ds_task-list-group {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__section,
    &__section:last-child {
        margin: 0;
        padding: 0;
        @include ds_responsive-margin(5, bottom);

        @include ds_media-query(small-down) {
            @include ds_responsive-margin(6, bottom);
        }
    }

    &--ordered {
        list-style-position: inside;
        list-style-type: decimal;

        .ds_task-list-group__section::marker {
            @include ds_h3-size;
            font-weight: $bold;
        }
    }
}

.ds_task-list-status {
    @include ds_responsive-margin(5, bottom);

    @include ds_media-query(small-down) {
        @include ds_responsive-margin(6, bottom);
    }

    > p {
        @include ds_responsive-margin(1, bottom);
    }

    &-heading {
        @include ds_h3-style;
    }
}


// Deprecated - use ds_tag component instead
@include ds_media-query-high-contrast {
    /*
     * [1] This is a little hacky but it does serve to differentiate the "complete" status.
     *     And happens to be green by default.
     */
    .ds_task-list__task-status--complete {
        color: GrayText; // 1
    }
}
