/*------------------------------------*\
    TASK LIST
\*------------------------------------*/

.ds_task-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__task {
        border-top: 2px $ds_colour__grey--light solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        @include ds_responsive-padding(2, top);
        @include ds_responsive-padding(2, bottom);

        &:last-child {
            border-bottom: 2px $ds_colour__grey--light solid;
        }

        // Stack at small size
        @include ds_media-query(small-down) {
            @include ds_responsive-padding(3, bottom);
            align-items: flex-start;
            flex-direction: column;
        }

        &-details {
            max-width: 100%;
        }

        &-summary {
            margin: 0;
            @include ds_responsive-margin(1, top);
        }

        &-status {
            @include ds_small-size;
            @include ds_responsive-margin(5, left);
            background-color: $ds_colour__grey--light;
            font-weight: $bold;
            padding: px-to-rem(4px) px-to-rem(16px);
            white-space: nowrap;

            @include ds_media-query(small-down) {
                margin-left: 0;
                @include ds_responsive-margin(1, top);
            }

            &--complete {
                background: $ds_colour__white;
                color: $ds_colour__state--positive;
                border: 2px $ds_colour__state--positive solid;
                padding: px-to-rem(2px) px-to-rem(16px);
            }
        }
    }

    &-heading {
        @include ds_h3-style;
        display: inline;
    }

    &-intro {
        @include ds_responsive-margin(1, bottom);
    }

    // Add top margin if following inline heading
    &-heading + &,
    &-heading + &-intro {
        @include ds_responsive-margin(1, top);
    }
}

.ds_task-list-group {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__section {
        margin: 0;
        padding: 0;
        @include ds_responsive-margin(5, bottom);

        &:last-child {
            @include ds_responsive-margin(4, bottom);
        }
    }

    &--ordered {
        list-style-position: inside;
        list-style-type: decimal;

        .ds_task-list-group__section::marker {
            @include ds_h3-size;
            font-weight: $bold;
        }
    }
}