{%- if params.listHeading %}
<{{ params.listHeading.level }} class="ds_task-list-heading">{{ params.listHeading.heading }}</{{ params.listHeading.level }}>
{%- endif %}
{%- if params.listIntro %}
<p class="ds_task-list-intro">{{ params.listIntro }}</p>
{%- endif %}
{%- if params.taskList %}
<ul class="ds_task-list">
    {%- for task in params.taskList %}
    <li class="ds_task-list__task" id="{{ task.id }}">
        <div class="ds_task-list__task-details">
            <{{ task.taskHeading.level }} class="ds_task-list__task-heading">   
                {% if task.taskLink %}<a class="ds_task-list__task-link" href="{{ task.taskLink }}">{%- endif -%}
                {{ task.taskHeading.heading }} <span class="visually-hidden">({{ task.statusLabel }})</span>
                {%- if task.taskLink %}</a>{%- endif %}
            </{{ task.taskHeading.level }}>
            {%- if task.taskContent -%}
            <p class="ds_hint-text  ds_task-list__task-summary">{{ task.taskContent }}</p>
            {%- endif %}
        </div>
        {% if task.statusLabel -%}
        <div class="ds_task-list__task-status {%- if task.complete %}  ds_task-list__task-status--complete{%- endif %}" aria-hidden="true">
            {{- task.statusLabel -}}
        </div>
        {%- endif %}
    </li>
    {%- endfor %}
</ul>
{%- endif -%}