/*------------------------------------*\
    HINT TEXT
\*------------------------------------*/

@use "../../base/settings";

.ds_hint-text {
    color: settings.$ds_colour__text--secondary;
    margin-bottom: 1rem;

    > * {
        margin-bottom: 0.5rem;
    }
}
