/*------------------------------------*\
    HINT TEXT
\*------------------------------------*/

.ds_hint-text {
    color: $ds_colour__text--secondary;
    margin-bottom: 1rem;

    > * {
        margin-bottom: 0.5rem;
    }
}
