/*------------------------------------*\
    HINT TEXT
\*------------------------------------*/

.ds_hint-text {
    color: $ds_colour__text--secondary;
    margin: -0.25rem 0 0.75rem;

    > * {
        margin-bottom: 0.5rem;
    }
}
