/*------------------------------------*\
    HEADINGS
\*------------------------------------*/

h1, .alpha {
    font-size: $h1-size;
    font-weight: $bold;
    line-height: 32px;
    margin-bottom: 32px;
    text-rendering: optimizeLegibility;
}

h2, h3, h4,
.beta, .gamma, .delta {
    font-weight: $bold;
    text-rendering: optimizeLegibility;
}

h2, .beta {
    font-size: $h2-size;
    line-height: 32px;
    margin-bottom: 8px;

    &:not(:first-child) {
        margin-top: 32px;
    }
}

h3, .gamma {
    font-size: $h3-size;
    line-height: 24px;
    margin-bottom: 8px;

    &:not(:first-child) {
        margin-top: 24px;
    }
}

h4, .delta {
    font-size: $h4-size;
    line-height: 24px;
}

h5, .epsilon {
    font-size: $h5-size;
    font-weight: $semibold;
    line-height: 32px;
}

@include media-query(medium) {
    h1, .alpha {
        font-size: $h1-size--medium;
        line-height: 56px;
    }

    h2, .beta {
        line-height: 40px;
        margin-bottom: 16px;

        &:not(:first-child) {
            margin-top: 40px;
        }
    }

    h3, .gamma {
        line-height: 32px;
    }
}
