/*------------------------------------*\
    LEADER
\*------------------------------------*/

.#{$pl-prefix}leader {
    font-size: $large-size;
    font-weight: $lighter;
    line-height: 32px;
    margin-bottom: 32px;

    &--first-paragraph {
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        margin-bottom: inherit;

        > p:first-child {
            font-size: $large-size;
            font-weight: $lighter;
            margin-bottom: 32px;
        }
    }
}

@include media-query(medium) {
    .#{$pl-prefix}leader {
        line-height: 40px;
        margin-bottom: 40px;

        &--first-paragraph {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            margin-bottom: inherit;

            > p:first-child {
                line-height: 40px;
                margin-bottom: 40px;
            }
        }
    }
}
