/*------------------------------------*\
    CONTENTS NAV
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_contents-nav {

    &__title {
        margin: 0;
        padding: 0;
        @include helpers.ds_h3-size;
        @include helpers.ds_responsive-margin(1, bottom);
    }

    &__list {
        list-style: none;
        margin-left: 0;
        padding-left: 2rem;
        @include helpers.ds_small-size;
        @include helpers.ds_responsive-margin(6, bottom);
    }

    &__item {
        position: relative;

        &::before {
            border-top: 0.0625rem solid currentColor;
            content: "";
            height: 0.0625rem;
            left: -2rem;
            overflow: hidden;
            position: absolute;
            top: 0.75rem;
            width: 1.25rem;
        }
    }

    &__link.ds_current {
        font-weight: settings.$bold;
    }
}
