@use "../../base/helpers/headings/headings";
@use "../../base/helpers/spacing/spacing";
@use "../../base/settings/type/type";

/*------------------------------------*\
    CONTENTS NAV
\*------------------------------------*/




.ds_contents-nav {

    &__title {
        @include headings.h3-size;
        margin: 0;
        padding: 0;
        @include spacing.responsive-margin(1, bottom);
    }

    &__list {
        @include headings.small-size;
        @include spacing.responsive-margin(6, bottom);
        list-style: none;
        margin-left: 0;
        padding-left: 2rem;
    }

    &__item {
        position: relative;

        &::before {
            border-top: 0.0625rem solid currentColor;
            content: "";
            height: 0.0625rem;
            left: -2rem;
            overflow: hidden;
            position: absolute;
            top: 0.75rem;
            width: 1.25rem;
        }
    }

    &__link.ds_current {
        font-weight: type.$bold;
    }
}
