<nav class="ds_contents-nav" aria-label="{{ params.label }}">
    <h2 class="ds_contents-nav__title">{{ params.heading }}</h2>
    <ul class="ds_contents-nav__list">
        {%- for section in params.sections -%}
        <li class="ds_contents-nav__item" {%- if section.current %} aria-current="page"{%- endif %}>
            {%- if section.link %}
            <a class="ds_contents-nav__link" href="{{ section.link }}">
                {{ section.label }}
            </a>
            {%- else %}
            <span class="ds_contents-nav__link  ds_current">
                {{ section.label }}
            </span>
            {%- endif %}
        </li>
        {%-  endfor %} 
    </ul>
</nav>