/*------------------------------------*\
    SMALL
\*------------------------------------*/

@use "../../helpers";

small,
.ds_small {
    @include helpers.ds_small-size;
}

.ds_tiny {
    @include helpers.ds_tiny-size;
}
