<p>This is regular text</p>
<p><small>This is small text</small></p>
<p><span class="ds_small">This is regular text styled to look like small text using a class</span></p>
<p><span class="ds_tiny">This is regular text styled to look like tiny text using a class</span></p>
