/*------------------------------------*\
    CONTACT
\*------------------------------------*/

.ds_cb--contact {

    .ds_cb__inner {
        @include ds_responsive-padding(4, top);
        @include ds_responsive-padding(4, bottom);

        .ds_contact-details {
            grid-column: span 12;
        }

        // Collapse bottom padding
        &.ds_\!_padding-bottom--0 {
            .ds_contact-details__list {
                > dl:last-of-type,
                > address:last-of-type,
                > address:last-of-type dl {
                    margin-bottom: 0;

                    &:last-child dd:last-of-type {
                        @include ds_last-child-no-margin;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    // Remove Contact Details specific heading style
    .ds_contact-details__title {
        display: block;
        padding: 0;
        position: relative;

        &::after {
            display: none;
        }
    }


}