<div class="ds_cb  ds_cb--contact
{%- if params.background %}  ds_cb--bg-{{ params.background }}{% endif -%}
{%- if params.foreground %}  ds_cb--fg-{{ params.foreground }}{% endif -%}
{%- if params.fullwidth %}  ds_cb--fullwidth{% endif -%}
{%- if params.modifier %}  {{ params.modifier }}{% endif -%}
{%- if params.neutralLinks %}  ds_cb--neutral-links{% endif -%}">
    <div class="ds_wrapper">
        {%- if params.heading %}
        <{{ params.heading.level}}>{{ params.heading.label}}</{{ params.heading.level}}>
        {%- endif -%}
        <address class="ds_cb__inner  ds_cb--contact__address"> 
            {%- if params.contactList %}
            <dl class="ds_contact-details__list">
                {%- for item in params.contactList -%}
                <div class="ds_contact-details__item">
                    <dt {%- if item.hideLabel %} class="visually-hidden"{%- endif -%}>{{ item.label }}</dt>
                    {%- for subitem in item.subitems -%}
                    <dd {%- if subitem.ignoreTranslate %} translate="no"{%- endif -%}{%- if subitem.socialItem %} class="ds_contact-details__social-item"{%- endif -%}>{{ subitem.content | safe }}</dd>
                    {% endfor -%} 
                </div>
                {% endfor -%}   
            </dl>
            {% endif -%}
            {%- if params.socialList %}
            <dl class="ds_contact-details__list">
                {%- for item in params.socialList -%}
                <div class="ds_contact-details__item">
                    <dt {%- if item.hideLabel %} class="visually-hidden"{%- endif -%}>{{ item.label }}</dt>
                    {%- for subitem in item.subitems -%}
                    <dd {%- if subitem.ignoreTranslate %} translate="no"{%- endif -%}{%- if subitem.socialItem %} class="ds_contact-details__social-item"{%- endif -%}>{{ subitem.content | safe }}</dd>
                    {% endfor -%} 
                </div>
                {% endfor -%}   
            </dl>
            {% endif -%}
        </address>
    </div>
</div>