/// VISIBILITY

@mixin ds_visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

@mixin visually-hidden {
    @include ds_visually-hidden
}
