/*------------------------------------*\
    PHASE BANNER
\*------------------------------------*/

.ds_phase-banner {
    @include ds_small-size;
    @include ds_responsive-padding(2, top, $tuning: -1px);
    @include ds_responsive-padding(2, bottom);
    background: $ds_colour__background--tertiary;
    border-top: 1px solid transparent;
    clear: both;

    &.no-bottom-margin {
        margin-bottom: 0;
    }

    &__content {
        display: table;
        margin-bottom: 0;
    }

    &__tag.ds_tag {
        @include ds_responsive-margin(2, right);
        @include ds_small-size;
    }

    &__text {
        display: table-cell;
    }

    @include checkAndFixDescendantLinkColour($ds_colour__link, $ds_colour__background--tertiary, 'phase banner');
}

@supports (display: flex) {
    .ds_phase-banner {

        &__content {
            align-items: baseline;
            display: flex;

            &--stacked {
                flex-direction: column;

                > *:not(:last-child) {
                    @include ds_responsive-margin(1, bottom);
                }
            }
        }
    }
}
