/*------------------------------------*\
    PHASE BANNER
\*------------------------------------*/

.#{$pl-prefix}phase-banner {
    background: $colour__grey--light;
    font-size: $small-size;
    line-height: 24px;
    padding: 16px 0;

    &.no-bottom-margin {
        margin-bottom: 0;
    }

    &__content {
        display: table;
        margin-bottom: 0;
    }

    &__tag {
        margin-right: 1em;
    }

    &__text {
        display: table-cell;
    }
}

@supports (display: flex) {
    .#{$pl-prefix}phase-banner {
        &__content {
            align-items: baseline;
            display: flex;

            &--stacked {
                flex-direction: column;

                > *:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
    }
}
