<div class="ds_phase-banner">
  <div class="ds_wrapper">
    <p class="ds_phase-banner__content">
      {% render '@tag', params.tag %}
      <span class="ds_phase-banner__text">{{ params.content | safe }}</span>
    </p>
  </div>
</div>