/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

$button__border-width: 2px !default;
$button__outline-width: 3px !default;
$button__height: 56px !default;
$button__height--small: 48px !default;
$button__padding--x: 16px !default;
$link__border-width: 3px;




button,
input[type="button"],
input[type="submit"],
.#{$pl-prefix}button {
    background: $ds_colour__button__background;
    border: 0;
    border-radius: 0;
    color: $ds_colour__button;
    cursor: pointer;
    display: inline-block;
    @include small-size;
    font-weight: $bold;
    line-height: 24px;
    min-height: $button__height;
    min-width: $button__height;
    outline-width: 0;
    padding: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color $transition-out-time;

    @include block-margins;

    &:hover {
        background-color: $ds_colour__button--hover__background;
        color: $ds_colour__button;
        transition-duration: $transition-in-time;
    }

    &:focus {
        background-color: $ds_colour__button--focus__background;
        box-shadow: 0 $link__border-width $ds_colour__link--focus__shadow;
        color: $ds_colour__button--focus;
        outline-color: $ds_colour__button--focus__background;
        outline-width: 0;

        transition-duration: 0s;
    }

    // ICONS ON BUTTONS
    .#{$pl-prefix}icon {
        pointer-events: none;
    }

    &[disabled] {
        background-color: $ds_colour__grey;
        box-shadow: none;
        color: $ds_colour__white;
        font-weight: $normal;
        outline: none;
        pointer-events: none;
    }
}

.#{$pl-prefix}reversed .#{$pl-prefix}button {
    background-color: $ds_colour__white;
    color: $ds_colour__button__background;

    &:focus,
    &:hover:focus {
        background-color: $ds_colour__blocklink-bg--focus;
    }

    &:hover {
        background-color: $ds_colour__blocklink-bg--hover;
    }

    &--secondary {
        background-color: transparent;
        border-color: currentColor;
        color: $ds_colour__white;

        &:hover:not(:focus) {
            background-color: rgba(255, 255, 255, 0.3);
            color: $ds_colour__white;
        }
    }
}

.#{$pl-prefix}button {
    &--secondary {
        background-color: $ds_colour__button--secondary__background;
        color: $ds_colour__button--secondary;
        outline: 2px solid currentColor;
        outline-offset: -2px;

        &:hover:not(:focus) {
            background-color: $ds_colour__button--secondary--hover__background;
            color: $ds_colour__button--secondary--hover;
            outline: 2px solid currentColor;
            outline-offset: -2px;
        }
    }

    &--cancel {
        background-color: $ds_colour__button--cancel__background;
        color: $ds_colour__button--cancel;
        outline: 2px solid currentColor;
        outline-offset: -2px;

        &:hover:not(:focus) {
            background-color: $ds_colour__button--cancel--hover__background;
            color: $ds_colour__button--cancel;
            outline: 2px solid currentColor;
            outline-offset: -2px;
        }
    }
}

// SIZE VARIANTS
.#{$pl-prefix}button {
    &--small {
        @include small-size;
        min-height: $button__height--small;
        min-width: $button__height--small;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

// WIDTH VARIANTS
.#{$pl-prefix}button {
    &--fixed {
        width: 200px;

        &.#{$pl-prefix}button--small {
            width: 160px;
        }
    }

    &--max {
        max-width: 480px;
        width: 100%;
    }
}

// STACKED BUTTONS
.#{$pl-prefix}button-group {
    @include block-margins;

    >.#{$pl-prefix}button {
        margin: 0 0 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// BUTTONS WITH ICONS
.#{$pl-prefix}button {
    .#{$pl-prefix}icon {
        bottom: 0;
        box-sizing: initial;
        height: 40px;
        padding: 8px;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
    }

    &--small {
        .#{$pl-prefix}icon {
            height: 32px;
            padding: 8px;
            width: 32px;
        }
    }

    &--has-icon {
        padding-right: calc(#{$button__height} + #{$button__padding--x});
    }

    &--has-icon--left {
        padding-left: calc(#{$button__height} + #{$button__padding--x});
        padding-right: #{$button__padding--x};

        .#{$pl-prefix}icon {
            left: 0;
            right: auto;
        }
    }
}
