/*------------------------------------*\
    NOTIFICATION BANNER
\*------------------------------------*/

// modifiable vars
$notification-banner__background-colour: $ds_colour__grey--dark !default;
$notification-banner__colour-icon-colour: $ds_colour__yellow !default;

// fixed vars
$notification-banner__close-padding: 4px;
$notification-banner__icon-padding: $notification-banner__close-padding;




.#{$pl-prefix}notification {
    background: $notification-banner__background-colour;
    color: $ds_colour__white;
    margin-bottom: 1px;

    &--large &__content {
        padding-top: 24px;
        padding-bottom: 32px;
    }

    /* [1] compensate for bottom margin on parent */
    &__content {
        justify-content: space-between;
        padding: 16px 0 15px; /* [1] */
        position: relative;

        &--has-close {
            padding-right: 40px;
        }
    }

    &__text {
        display: inline-block;
        margin-right: 16px;

        > :last-child {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__actions {
        margin-bottom: -16px;
        margin-top: 32px;
        text-align: center;

        > * {
            margin-bottom: 16px;
            margin-top: 0;
            white-space: nowrap;
            width: 100%;
        }
    }

    &__icon {
        display: block;
        float: left;
        height: 32px;
        line-height: 0;
        margin-left: -4px;
        margin-top: -4px;
        padding: 2px;
        width: 32px;

        + .#{$pl-prefix}notification__text {
            margin-left: 16px;

            @include media-query(medium) {
                margin-left: 40px;
            }
        }

        &--colour {
            color: $notification-banner__colour-icon-colour;
        }

        &--inverse {
            background-color: $ds_colour__white;
            border-radius: 100px;
            color: $notification-banner__background-colour;
        }

        &--inverse.#{$pl-prefix}notification__icon--colour {
            background-color: $notification-banner__colour-icon-colour;
        }
    }

    &__close {
        background: transparent;
        box-sizing: content-box;
        color: currentColor;
        display: none;
        font-size: $small-size--fixed;
        height: 40px;
        margin: 0;
        padding: 0;
        position: absolute;
        right: -8px;
        top: 8px;
        width: 40px;

        &:hover {
            background-color: transparent;
        }

        &:hover:not(:focus) {
            background-color: transparent;
            color: currentColor;
            outline: 2px solid currentColor;
        }
    }
}

@include media-query(medium) {
    .#{$pl-prefix}notification__close {
        top: 12px;
    }

    .#{$pl-prefix}notification__icon {
        margin-top: 0;
    }

    .#{$pl-prefix}notification__actions {
        text-align: left;

        > * {
            width: auto;
        }

        > *:not(last-child) {
            margin-right: 16px;
        }
    }
}

@supports(display: flex) {
    @include media-query(medium) {
        .#{$pl-prefix}notification__actions {
            align-items: center;
            display: inline-flex;
            flex-wrap: wrap;
            width: auto;

            > * {
                flex-basis: auto;
                flex-grow: initial;
            }
        }
    }
}

.js-enabled {
    .#{$pl-prefix}notification__close {
        display: block;
    }
}
