/*------------------------------------*\
    NOTIFICATION BANNER
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

// modifiable vars
$notification-banner__background-colour: settings.$ds_colour__text !default;
$notification-banner__background-colour--success: settings.$ds_colour__state--positive !default;
$notification-banner__colour-icon-colour: settings.$ds_colour__yellow !default;
$notification-banner__foreground-colour: settings.$ds_colour__white !default;

// fixed vars
$notification-banner__border-width: 0.0625rem; //1px
$notification-banner__close-padding: 0.25rem;
$notification-banner__icon-padding: $notification-banner__close-padding;

.ds_notification {
    background: $notification-banner__background-colour;
    border-bottom: $notification-banner__border-width solid $notification-banner__foreground-colour;
    color: settings.$ds_colour__text--reversed;

    &--success {
        background-color: $notification-banner__background-colour--success;
        color: $notification-banner__foreground-colour;
    }

    /// [1] compensate for bottom margin on parent
    &__content {
        padding: 1rem 0 #{1rem - $notification-banner__border-width}; /// [1]
        position: relative;

        @include helpers.ds_last-child-no-margin;

        &--has-close {
            padding-right: 2.5rem;
        }
    }

    &__text {
        display: inline-block;
        margin-right: 1rem;

        @include helpers.ds_last-child-no-margin;
    }

    &__actions {
        margin-top: 2rem;
        text-align: center;

        > * {
            margin-bottom: 1rem;
            margin-top: 0;
            white-space: nowrap;
            width: 100%;
        }
    }

    // specificity hack
    // DEPRECATED - ds_notification__actions - use ds_button-group instead
    .ds_notification__actions {
        margin-bottom: -1rem;
    }

    &__icon {
        display: block;
        position: absolute;
        height: 2rem;
        line-height: 0;
        margin-left: -0.25rem;
        margin-top: -0.25rem;
        padding: 0.125rem;
        width: 2rem;

        + .ds_notification__text {
            margin-left: 2.5rem;

            @include helpers.ds_media-query(medium) {
                margin-left: 4rem;
            }
        }

        &--colour {
            color: $notification-banner__colour-icon-colour;
        }

        &--inverse {
            background-color: settings.$ds_colour__text--reversed;
            border-radius: 6.25rem;
            color: $notification-banner__background-colour;
        }

        &--inverse.ds_notification__icon--colour {
            background-color: $notification-banner__colour-icon-colour;
        }
    }

    &__close {
        @include helpers.ds_link;
        @include helpers.ds_high-contrast-button;

        background: transparent;
        border-width: 0;
        color: currentColor;
        display: none;
        height: 2.5rem;
        padding: 0;
        position: absolute;
        right: -0.5rem;
        top: 0.5rem;
        width: 2.5rem;

        &:hover:not(:focus) {
            color: currentColor;
            outline: 0.125rem solid currentColor;
            outline-offset: -0.125rem;
        }

        > * {
            pointer-events: none;
        }
    }

    //ds_button-group to be used in place of ds_notification__actions
    .ds_button-group {
        //override margins
        @include helpers.ds_responsive-margin(4, top);
    }
}

@include helpers.ds_media-query(medium) {
    .ds_notification__close {
        top: 0.75rem;
    }

    .ds_notification__icon {
        margin-top: 0;
    }

    // DEPRECATED - ds_notification__actions - use ds_button-group instead
    .ds_notification__actions {
        text-align: left;

        > * {
            width: auto;
        }

        > *:not(last-child) {
            margin-right: 1rem;
        }
    }
}

.js-initialised {
    .ds_notification__close {
        display: block;
    }
}
