@use "../../base/helpers/last-child-no-margin/last-child-no-margin";
@use "../../base/helpers/links/links";
@use "../../base/helpers/media-query/media-query";
@use "../../base/helpers/spacing/spacing";
@use "../../base/settings/colours/colours";
@use "../../base/settings/type/type";

/*------------------------------------*\
    NOTIFICATION BANNER
\*------------------------------------*/

// modifiable vars
$notification-banner__background-colour: colours.$ds_colour__text !default;
$notification-banner__background-colour--success: colours.$ds_colour__state--positive !default;
$notification-banner__colour-icon-colour: colours.$ds_colour__yellow !default;
$notification-banner__foreground-colour: colours.$ds_colour__white !default;

// fixed vars
$notification-banner__close-padding: 0.25rem;
$notification-banner__icon-padding: $notification-banner__close-padding;

.ds_notification {
    background: $notification-banner__background-colour;
    border-bottom: 0.0625rem solid $notification-banner__foreground-colour;
    color: colours.$ds_colour__text--reversed;

    &--success {
        background-color: $notification-banner__background-colour--success;
        color: $notification-banner__foreground-colour;
    }

    /// [1] compensate for bottom margin on parent
    &__content {
        padding: 1rem 0 0.9375rem; /// [1]
        position: relative;

        @include last-child-no-margin.last-child-no-margin;

        &--has-close {
            padding-right: 2.5rem;
        }
    }

    &__text {
        display: inline-block;
        margin-right: 1rem;

        @include last-child-no-margin.last-child-no-margin;
    }

    &__actions {
        margin-top: 2rem;
        text-align: center;

        > * {
            margin-bottom: 1rem;
            margin-top: 0;
            white-space: nowrap;
            width: 100%;
        }
    }

    // specificity hack
    // deprecated - ds_notification__actions - use ds_button-group instead
    .ds_notification__actions {
        margin-bottom: -1rem;
    }

    &__icon {
        display: block;
        position: absolute;
        height: 2rem;
        line-height: 0;
        margin-left: -0.25rem;
        margin-top: -0.25rem;
        padding: 0.125rem;
        width: 2rem;

        + .ds_notification__text {
            margin-left: 2.5rem;

            @include media-query.media-query(medium) {
                margin-left: 4rem;
            }
        }

        &--colour {
            color: $notification-banner__colour-icon-colour;
        }

        &--inverse {
            background-color: colours.$ds_colour__text--reversed;
            border-radius: 6.25rem;
            color: $notification-banner__background-colour;
        }

        &--inverse.ds_notification__icon--colour {
            background-color: $notification-banner__colour-icon-colour;
        }
    }

    &__close {
        background: transparent;
        border-width: 0;
        box-sizing: content-box;
        color: currentColor;
        display: none;
        font-size: type.$small-size--fixed;
        height: 2.5rem;
        margin: 0;
        padding: 0;
        position: absolute;
        right: -0.5rem;
        top: 0.5rem;
        width: 2.5rem;

        min-height: 0;
        min-width: 0;

        &:focus {
            background-color: colours.$ds_colour__button--focus__background;
            box-shadow: 0 links.$link__border-width colours.$ds_colour__link--focus__shadow;
            color: colours.$ds_colour__button--focus;
            outline: 0;

            transition-duration: 0s;
        }

        &:hover:not(:focus) {
            background-color: transparent;
            color: currentColor;
            outline: 0.125rem solid currentColor;
        }

        > * {
            pointer-events: none;
        }
    }

    //ds_button-group to be used in place of ds_notification__actions
    .ds_button-group {
        //override margins
        @include spacing.responsive-margin(4, top);
    }
}

@include media-query.media-query(medium) {
    .ds_notification__close {
        top: 0.75rem;
    }

    .ds_notification__icon {
        margin-top: 0;
    }

    // deprecated - ds_notification__actions - use ds_button-group instead
    .ds_notification__actions {
        text-align: left;

        > * {
            width: auto;
        }

        > *:not(last-child) {
            margin-right: 1rem;
        }
    }
}

@supports(display: flex) {
    @include media-query.media-query(medium) {
        // deprecated - ds_notification__actions - use ds_button-group instead
        .ds_notification__actions {
            align-items: center;
            display: inline-flex;
            flex-wrap: wrap;
            width: auto;

            > * {
                flex-basis: auto;
                flex-grow: initial;
            }
        }
    }
}

.js-initialised {
    .ds_notification__close {
        display: block;
    }
}
