/*------------------------------------*\
    NOTIFICATION BANNER
\*------------------------------------*/

// modifiable vars
$notification-banner__background-colour: $ds_colour__text !default;
$notification-banner__background-colour--success: $ds_colour__state--positive !default;
$notification-banner__colour-icon-colour: $ds_colour__yellow !default;
$notification-banner__foreground-colour: $ds_colour__white !default;

// fixed vars
$notification-banner__close-padding: 4px;
$notification-banner__icon-padding: $notification-banner__close-padding;

.ds_notification {
    background: $notification-banner__background-colour;
    border-bottom: 1px solid $notification-banner__foreground-colour;
    color: $ds_colour__text--reversed;

    &--success {
        background-color: $notification-banner__background-colour--success;
        color: $notification-banner__foreground-colour;
    }

    /// [1] compensate for bottom margin on parent
    &__content {
        padding: 16px 0 15px; /// [1]
        position: relative;

        @include ds_last-child-no-margin;

        &--has-close {
            padding-right: 40px;
        }
    }

    &__text {
        display: inline-block;
        margin-right: 16px;

        @include ds_last-child-no-margin;
    }

    &__actions {
        margin-top: 32px;
        text-align: center;

        > * {
            margin-bottom: 16px;
            margin-top: 0;
            white-space: nowrap;
            width: 100%;
        }
    }

    // specificity hack
    // deprecated - ds_notification__actions - use ds_button-group instead
    .ds_notification__actions {
        margin-bottom: -16px;
    }

    &__icon {
        display: block;
        position: absolute;
        height: 32px;
        line-height: 0;
        margin-left: -4px;
        margin-top: -4px;
        padding: 2px;
        width: 32px;

        + .ds_notification__text {
            margin-left: 40px;

            @include ds_media-query(medium) {
                margin-left: 64px;
            }
        }

        &--colour {
            color: $notification-banner__colour-icon-colour;
        }

        &--inverse {
            background-color: $ds_colour__text--reversed;
            border-radius: 100px;
            color: $notification-banner__background-colour;
        }

        &--inverse.ds_notification__icon--colour {
            background-color: $notification-banner__colour-icon-colour;
        }
    }

    &__close {
        background: transparent;
        border-width: 0;
        box-sizing: content-box;
        color: currentColor;
        display: none;
        font-size: $small-size--fixed;
        height: 40px;
        margin: 0;
        padding: 0;
        position: absolute;
        right: -8px;
        top: 8px;
        width: 40px;

        min-height: 0;
        min-width: 0;

        @include ds_high-contrast-button;

        &:focus {
            background-color: $ds_colour__button--focus__background;
            box-shadow: 0 $link__border-width $ds_colour__link--focus__shadow;
            color: $ds_colour__button--focus;
            outline: 0;

            transition-duration: 0s;
        }

        &:hover:not(:focus) {
            background-color: transparent;
            color: currentColor;
            outline: 2px solid currentColor;
        }

        > * {
            pointer-events: none;
        }
    }

    //ds_button-group to be used in place of ds_notification__actions
    .ds_button-group {
        //override margins
        @include ds_responsive-margin(4, top);
    }
}

@include ds_media-query(medium) {
    .ds_notification__close {
        top: 12px;
    }

    .ds_notification__icon {
        margin-top: 0;
    }

    // deprecated - ds_notification__actions - use ds_button-group instead
    .ds_notification__actions {
        text-align: left;

        > * {
            width: auto;
        }

        > *:not(last-child) {
            margin-right: 16px;
        }
    }
}

@supports(display: flex) {
    @include ds_media-query(medium) {
        // deprecated - ds_notification__actions - use ds_button-group instead
        .ds_notification__actions {
            align-items: center;
            display: inline-flex;
            flex-wrap: wrap;
            width: auto;

            > * {
                flex-basis: auto;
                flex-grow: initial;
            }
        }
    }
}

.js-initialised {
    .ds_notification__close {
        display: block;
    }
}
