<div {%- if params.id %} id="{{ params.id }}" {%- endif %} class="ds_notification ds_reversed{%- if params.modifiers %} {{ params.modifiers }}{%- endif -%}" data-module="ds-notification">
    <div class="ds_wrapper">
        <div class="ds_notification__content{%- if params.dismissButton %} ds_notification__content--has-close{%- endif %}">
            {%- if params.heading %}
            <h2 class="visually-hidden">{{ params.heading }}</h2>
            {%- endif %}
            {%- if params.icon %}
            <span class="ds_notification__icon {%- if params.iconInverse %} ds_notification__icon--inverse{% endif %}{%- if params.iconColour %} ds_notification__icon--colour{% endif %}" aria-hidden="true">
                {{ params.icon | safe }}
            </span>
            {%- endif %}
            {%- if params.content %}
            <div class="ds_notification__text">
                {{ params.content | safe }}    
            </div>
            {%- endif %}
            {%- if params.dismissButton %}
            <button class="ds_notification__close js-close-notification" type="button">
                <span class="visually-hidden">Close this notification</span>
                <svg class="ds_icon ds_icon--fill" aria-hidden="true" role="img"><use href="{{ '/assets/images/icons/icons.stack.svg#close' | path }}"></use></svg>
            </button>
            {%- endif %}
        </div>
    </div>
</div>