<div id="withclose" class="ds_notification" data-module="ds-notification">
    <div class="ds_wrapper">
        <div class="ds_notification__content  ds_notification__content--has-close">
            <div class="ds_notification__text">
                <span class="ds_notification__icon" aria-hidden="true">
                    <svg class="ds_icon" aria-hidden="true" role="img"><use xlink:href="/assets/images/icons/icons.stack.svg#bang-21"></use></svg>
                </span>
                <p>We need to tell you about <a data-banner="banner-link" href="#">something</a></p>
            </div>

            <button data-banner="banner-close" class="ds_notification__close  js-close-notification" type="button">
                <span class="visually-hidden">Close this notification</span>
                <svg data-banner="banner-close" class="ds_icon" role="img"><use xlink:href="/assets/patternlib/images/icons/icons.stack.svg#close-21"></use></svg>
            </button>
        </div>
    </div>
</div>

<div id="withoutclose" class="ds_notification" data-module="ds-notification">
    <div class="ds_wrapper">
        <div class="ds_notification__content  ds_notification__content--has-close">
            <div class="ds_notification__text">
                <span class="ds_notification__icon" aria-hidden="true">
                    <svg class="ds_icon" aria-hidden="true" role="img"><use xlink:href="/assets/images/icons/icons.stack.svg#bang-21"></use></svg>
                </span>
                <p>We need to tell you about <a data-banner="banner-link" href="#">something</a></p>
            </div>
        </div>
    </div>
</div>
