.ds_cb__inner {
    position: relative;
}

// colors

$cb_colors: (
    'white'     $ds_colour__white       'normal',
    'grey'      $ds_colour__grey--light 'normal',
    'blue'      $ds_colour__blue        'reversed',
    'darkblue'  $ds_colour__blue--darker 'reversed',
    'teal'      $ds_colour__teal        'dark',
    'darkteal'  $ds_colour__dark-teal   'reversed',
    'green'     $ds_colour__green       'dark',
    'darkgreen' $ds_colour__dark-green  'reversed',
    'orange'    $ds_colour__orange      'dark',
    'red'       $ds_colour__red         'reversed',
    'pink'      $ds_colour__pink        'reversed',
    'purple'    $ds_colour__purple      'reversed',
    'brown'     $ds_colour__brown       'reversed',
    'black'     $ds_colour__black       'black'
);

%texttheme-reversed {
    color: white;

    a:not(:hover):not(:focus):not(.ds_button) {
        color: currentColor;
        text-decoration: underline;
    }

    // Button theming
    .ds_button:not(:hover):not(:focus) {
        background-color: transparent;
        color: currentColor;
        outline: 2px solid currentColor;
        outline-offset: -2px;
    }
    .ds_button:hover:not(:focus) {
        background-color: rgba($ds_colour__black, 20%);
        color: currentColor;
        outline: 2px solid currentColor;
        outline-offset: -2px;
    }
}

%texttheme-dark {
    color: $ds_colour__black;

    a:not(:hover):not(:focus):not(.ds_button) {
        color: currentColor;
        text-decoration: underline;
    }

    // Button theming
    .ds_button:not(:hover):not(:focus) {
        background-color: transparent;
        color: currentColor;
        outline: 2px solid currentColor;
        outline-offset: -2px;
    }
    .ds_button:hover:not(:focus) {
        background-color: rgba($ds_colour__white, 20%);
        color: currentColor;
        outline: 2px solid currentColor;
        outline-offset: -2px;
    }
}

%texttheme-black {
    color: $ds_colour__white;

    a:not(:hover):not(:focus):not(.ds_button) {
        color: currentColor;
        text-decoration: underline;
    }

    // Button theming
    .ds_button:not(:hover):not(:focus) {
        background-color: transparent;
        color: currentColor;
        outline: 2px solid currentColor;
        outline-offset: -2px;
    }
    .ds_button:hover:not(:focus) {
        background-color: rgba($ds_colour__white, 20%);
        color: currentColor;
        outline: 2px solid currentColor;
        outline-offset: -2px;
    }
}

.ds_cb {

    // All heading links are underlined as default in content blocks
    h1,
    h2,
    h3,
    h4 {
        a:not(:hover):not(:focus) {
            text-decoration: underline;
        }
    }

    @each $color in $cb_colors {
        $name: nth($color, 1);
        $hex: nth($color, 2);
        $texttheme: nth($color, 3);

        &--fullwidth.ds_cb--bg-#{$name},
        &:not(&--fullwidth).ds_cb--bg-#{$name} .ds_wrapper {
            background-color: #{$hex};
        }

        &--bg-#{$name} {
            @if ($texttheme == 'reversed') {
                @extend %texttheme-reversed;
            }

            @if ($texttheme == 'dark') {
                @extend %texttheme-dark;
            }

            @if ($texttheme == 'black') {
                @extend %texttheme-black;
            }
        }

        // foreground theming
        &--fg-#{$name}:not([class*="ds_cb--bg-"]),
        &--fg-#{$name}.ds_cb--bg-white {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: #{$hex};
            }
            // Coloured icon in Page header aside content block
            &.ds_cb--page-title__aside {
                .ds_icon {
                    fill: #{$hex};
                }
            }
        }

        // Option to replace default links with neutral colour if transparent, white or light grey background
        &--neutral-links:not([class*="ds_cb--bg-"]),
        &--neutral-links.ds_cb--bg-white,
        &--neutral-links.ds_cb--bg-grey {
            a:not(:hover):not(:focus):not(.ds_button) {
                color: $ds_colour__text;
            }
        }
    }
}

// subcomponents

.ds_cb__inner > :last-of-type,
.ds_cb__text > :last-child {
    margin-bottom: 0;
}

.ds_cb__inner {
    @include ds_layout();

    > * + * {
        @include ds_responsive-margin(4, top);
    }

    @include ds_media-query(medium) {
        > * + * {
            margin-top: 0;
        }

        @supports(display: grid) {
            grid-gap: 0 px-to-rem(32px);
            grid-template-columns: repeat(12, 1fr);
        }
    }
}

.ds_cb__text {
    position: relative;

    @include ds_media-query(medium) {
        float: left;
        @include ds_colwidth(6);

        &:last-of-type:first-of-type {
            float: none;
            @include ds_colwidth(8);
        }

        &--center:last-of-type:first-of-type {
            @include ds_colpush(2);
        }

        &--right:last-of-type:first-of-type {
            @include ds_colpush(4);
        }

        @supports(display: grid) {
            grid-column: span 6;

            &:last-of-type:first-of-type {
                grid-area: 1/1/1/9;
                width: auto;
            }

            &--center:last-of-type:first-of-type {
                grid-area: 1/3/1/11;
                margin-left: 0;
            }

            &--right:last-of-type:first-of-type {
                grid-area: 1/5/1/13;
                margin-left: 0;
            }
        }
    }
}

.ds_cb__poster {
    overflow: auto;

    img,
    iframe,
    video {
        display: block;
        float: right;
        height: auto;
        max-width: 100%;
    }

    &:first-of-type {
        img,
        iframe,
        video {
            float: left;
        }
    }

    @include ds_media-query(medium-down) {
        img,
        iframe,
        video {
            float: none;
        }
    }

    @include ds_media-query(medium) {
        float: left;
        @include ds_colwidth(6);

        @supports(display: grid) {
            grid-column: span 6;
        }
    }
}

// Placeholder for image and video blocks
%ds_cb--image-video {
    @include ds_responsive-padding(4, top);
    @include ds_responsive-padding(4, bottom);

    // this is ugly but using flex for this means we can put the image under the text in IE11
    @include ds_media-query(medium-down) {
        .ds_cb__inner {
            display: flex;
            flex-direction: column;
        }

        .ds_cb__poster:first-of-type {
            order: 2;
            margin-top: px-to-rem(24px);
        }

        .ds_cb__text:last-child {
            margin-top: 0;
        }
    }
}
