/*------------------------------------*\
    CARD
\*------------------------------------*/

.#{$pl-prefix}card {
    background-color: $colour__white;
    display: block;
    padding: 0;
    position: relative;
    transition: background-color 0.2s, outline-color 0.2s;
    z-index: 1;

    @include box-shadow;

    > :last-child {
        margin-bottom: 0;
    }

    &--has-hover:hover {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    }

    &__media {
        background-color: $colour__text;
        height: 0;
        margin-bottom: 0;
        overflow: hidden;
        padding-bottom: calc(900%/16);
        pointer-events: none;
        position: relative;
        z-index: 1;

        //2.35:1 image ratio
        &--235 {
            padding-bottom: calc(10000%/235);
        }
    }

    &__image {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
    }

    &__content {
        padding: 24px 16px;

        > :first-child {
            margin-top: 0;
        }
    }

    // specificity hack
    .#{$pl-prefix}card__content {
        position: static;
    }

    &__cover-link {

        &::after {
            bottom: 0;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: background-color 0.2s;
            z-index: 0;
        }
    }

    &--small {
        font-size: $small-size--fixed;
        line-height: 24px;

        h2 {
            font-size: 1.105263rem;
            line-height: 32px;
            margin-bottom: 0;
        }
    }

    &--transparent {
        background-color: transparent;
        box-shadow: none;

        .#{$pl-prefix}card__content {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &--padding {
        padding: 16px;
    }

    &--has-hover &__cover-link:hover::after {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    }
}

@supports(object-fit: contain) {
    .#{$pl-prefix}card__image {
        object-fit: cover;
        width: 100%;
    }
}

@supports(mix-blend-mode: darken) {
    .#{$pl-prefix}card__cover-link {
        outline: 0 !important;

        &:focus,
        &:hover {
            background-color: transparent;
            box-shadow: none;
            text-decoration: underline;
        }

        &::after {
            mix-blend-mode: darken;
        }
    }

    .#{$pl-prefix}card__cover-link:hover::after {
        background-color: $colour__link--hover__background;
    }

    .#{$pl-prefix}card__cover-link:focus::after {
        background-color: $colour__link--focus__background;
        box-shadow: inset 0 -3px $colour__link--focus__shadow;
        transition-duration: 0s;
    }
}
