@use "../../base/helpers/box-shadow/box-shadow";
@use "../../base/helpers/colours/colours" as colours2;
@use "../../base/helpers/functions/functions";
@use "../../base/helpers/headings/headings";
@use "../../base/helpers/high-contrast/high-contrast";
@use "../../base/helpers/last-child-no-margin/last-child-no-margin";
@use "../../base/helpers/media-query/media-query";
@use "../../base/helpers/spacing/spacing";
@use "../../base/settings/colours/colours";

/*------------------------------------*\
    CARD
\*------------------------------------*/

$card-grey-background-color: colours.$ds_colour__background--primary--dim !default;

.ds_card {
    @include box-shadow.box-shadow;
    @include headings.small-size;
    @include high-contrast.high-contrast-outline;
    background-color: colours.$ds_colour__background--primary;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;

    &--grey {
        background-color: $card-grey-background-color;
        color: colours.$ds_colour__text;

        &:focus-within {
            color: colours.$ds_colour__link--focus;
        }

        @include colours2.checkAndFixDescendantLinkColour(colours.$ds_colour__link, $card-grey-background-color, 'grey card');
    }

    &--hover,
    &--has-hover {
        &:hover {
            @include box-shadow.box-shadow;
        }
        &:hover:not(:focus) {
            background-color: colours.$ds_colour__link--hover__background;

            // override metadata colour to meet contrast
            .ds_metadata {
                color: inherit;
            }
        }

        &:focus-within {
            background-color: colours.$ds_colour__link--focus__background !important;
            box-shadow: inset 0 -1875rem colours.$ds_colour__link--focus__shadow, inset 0 -1875rem colours.$ds_colour__link--focus__shadow;
            transition-duration: 0s;

            .ds_card__link--cover {
                background-color: transparent;
                box-shadow: none;
                outline: none;
            }

            // override metadata colour to meet contrast
            .ds_metadata {
                color: inherit;
            }
        }
    }

    &__media {
        @include media-query.media-query (medium-down) {
            &--small-mobile {
                margin: 1rem 1rem 0;
                max-width: 24rem;
            }
        }
    }

    &__content {
        @include last-child-no-margin.last-child-no-margin;
        display: grid;
        grid-template-rows: auto auto 1fr;
        height: 100%;
        @include spacing.responsive-padding(2, top);
        @include spacing.responsive-padding(2, right);
        @include spacing.responsive-padding(3, bottom);
        @include spacing.responsive-padding(2, left);

        &-footer {
            @include last-child-no-margin.last-child-no-margin;
            align-self: end;
        }
    }

    &__title {
        @include headings.h3-style;
        @include spacing.responsive-margin(1, bottom);
        margin-top: 0 !important;
    }

    &__link--cover:focus {
        @include high-contrast.high-contrast-focus;
    }

    &__link--cover:after {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}

/* Support for old markup */
.ds_card {
    .ds_category-item__link {
        &:hover {
            &:before {
                display: none;
            }
        }
    }
}
