/*------------------------------------*\
    CARD
\*------------------------------------*/

$card-grey-background-color: $ds_colour__background--secondary !default;

.ds_card {
    @include ds_box-shadow;
    @include ds_small-size;
    @include ds_high-contrast-outline;
    background-color: $ds_colour__background--primary;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;

    &--grey {
        background-color: $card-grey-background-color;
        color: $ds_colour__text;

        &:focus-within {
            color: $ds_colour__link--focus;
        }

        @include checkAndFixDescendantLinkColour($ds_colour__link, $card-grey-background-color, 'grey card');
    }

    &--hover,
    &--has-hover {
        &:hover {
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
        }
        &:hover:not(:focus) {
            background-color: $ds_colour__link--hover__background;

            // override metadata colour to meet contrast
            .ds_metadata {
                color: inherit;
            }
        }

        &:focus-within {
            background-color: $ds_colour__link--focus__background !important;
            box-shadow: inset 0 -3px $ds_colour__link--focus__shadow, inset 0 -3px $ds_colour__link--focus__shadow;
            transition-duration: 0s;

            .ds_card__link--cover {
                background-color: transparent;
                box-shadow: none;
                outline: none;
            }

            // override metadata colour to meet contrast
            .ds_metadata {
                color: inherit;
            }
        }
    }

    &__media {
        @include ds_media-query (medium-down) {
            &--small-mobile {
                margin: px-to-rem(16px) px-to-rem(16px) 0;
                max-width: 384px;
            }
        }
    }

    &__content {
        @include ds_last-child-no-margin;
        display: grid;
        grid-template-rows: auto auto 1fr;
        height: 100%;
        @include ds_responsive-padding(2, top);
        @include ds_responsive-padding(2, right);
        @include ds_responsive-padding(3, bottom);
        @include ds_responsive-padding(2, left);

        &-footer {
            @include ds_last-child-no-margin;
            align-self: end;
        }
    }

    &__title {
        @include ds_h3-style;
        @include ds_responsive-margin(1, bottom);
        margin-top: 0 !important;
    }

    &__link--cover:after {
        content: "";
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 1;
    }
}

/* Support for old markup */
.ds_card {
    .ds_category-item__link {
        &:hover {
            &:before {
                display: none;
            }
        }
    }
}
