<{{ params.itemTag }} class="ds_card{%- if params.hasHover %}  ds_card--hover{% endif -%}{%- if params.colour %}  {{ params.colour }}{% endif -%}">
    {%- if params.image %}
    <div class="ds_card__media {%- if params.smallImage %}  ds_card__media--small-mobile{%- endif -%}">
        <div class="ds_aspect-box">
            <img alt="" aria-hidden="true" class="ds_aspect-box__inner" src="{{ params.image }}" width="656" height="369"/>
        </div>
    </div>
    {%- endif -%}
    <div class="ds_card__content">
        {%- if params.heading %}
        <h2 class="ds_card__title">
            <a class="ds_card__link--cover" href="{{ params.link }}">{{ params.heading }}</a>
        </h2>
        {% endif -%}
        {%- if params.content %}
        <p>{{ params.content | safe }}</p>
        {% endif -%}
        {%- if params.metadata %}
        <div class="ds_card__content-footer">
            {% render '@metadata', params.metadata %}
        </div>
        {% endif -%}
    </div>
</{{ params.itemTag }}>