<{{ params.itemTag }} class="ds_card{%- if params.hasHover %}  ds_card--has-hover{% endif -%}{%- if params.colour %}  {{ params.colour }}{% endif -%}">
    {%- if params.image %}
    <div class="ds_card__media {%- if params.smallImage %}  ds_card__media--small-mobile{%- endif -%}">
        <div class="ds_aspect-box">
            <img alt="" aria-hidden="true" class="ds_aspect-box__inner" src="{{ params.image }}" width="656" height="369"/>
        </div>
    </div>
    {%- endif -%}
    {%- if params.heading %}
    <div class="ds_card__content ds_category-item">
        <h2 class="ds_category-item__title"><a class="ds_category-item__link" href="{{ params.link }}">{{ params.heading }}</a></h2>
        {%- if params.content %}
        <div class="ds_category-item__summary">{{ params.content | safe }}</div>
        {% endif -%}
    </div>
    {%- elseif params.content %}
    <div class="ds_card__content">
        {{ params.content | safe }}
    </div>
    {% endif -%}
</{{ params.itemTag }}>