<{{ params.itemTag }} class="ds_card{%- if params.hasHover %} ds_card--has-hover{% endif -%}">
    {%- if params.image %}
    <div class="ds_card__media">
        <div class="ds_aspect-box">
            <img alt="" aria-hidden="true" class="ds_aspect-box__inner" src="{{ params.image }}" />
        </div>
    </div>
    {%- endif -%}
    {%- if params.heading %}
    <div class="ds_card__content ds_category-item">
        <h2 class="ds_category-item__title"><a class="ds_card__cover-link" href="{{ params.link }}">{{ params.heading }}</a></h2>
        {%- if params.content %}
        <div class="ds_category-item__summary">{{ params.content | safe }}</div>
        {% endif -%}
    </div>
    {%- elseif params.content %}
    <div class="ds_card__content">
        {{ params.content | safe }}
    </div>
    {% endif -%}
</{{ params.itemTag }}>