/*------------------------------------*\
    BODY
\*------------------------------------*/

@use "../../helpers";
@use "../../settings";

body {
    background: settings.$ds_colour__background--primary;
    color: settings.$ds_colour__text;
    font-family: settings.$base-font-family;
    font-size: helpers.px-to-rem(settings.$root-font-size); // 1rem
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    line-height: helpers.line-height-on-grid(settings.$root-font-size);
    margin: 0;
    text-rendering: optimizeLegibility;
}

@include helpers.ds_media-query(medium) {
    body {
        font-size: helpers.px-to-rem(settings.$root-font-size--medium);
        line-height: helpers.line-height-on-grid(settings.$root-font-size--medium);
    }
}
