/*------------------------------------*\
    BODY
\*------------------------------------*/

html {
    font-size: px-to-rem($root-font-size);
}

body {
    background: $ds_colour__white;
    color: $ds_colour__text;
    font-family: $base-font-family;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    line-height: line-height-on-grid($root-font-size);
    margin: 0;
    text-rendering: optimizeLegibility;
}

@include ds_media-query(medium) {
    html {
        font-size: px-to-rem($root-font-size--medium);
    }

    body {
        line-height: line-height-on-grid($root-font-size--medium);
    }
}
