@use "../../helpers/functions/functions";
@use "../../helpers/media-query/media-query";
@use "../../settings/colours/colours";
@use "../../settings/type/type";

/*------------------------------------*\
    BODY
\*------------------------------------*/

body {
    background: colours.$ds_colour__background--primary;
    color: colours.$ds_colour__text;
    font-family: type.$base-font-family;
    font-size: functions.px-to-rem(type.$root-font-size); // 1rem
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    line-height: functions.line-height-on-grid(type.$root-font-size);
    margin: 0;
    text-rendering: optimizeLegibility;
}

@include media-query.media-query(medium) {
    body {
        font-size: functions.px-to-rem(type.$root-font-size--medium);
        line-height: functions.line-height-on-grid(type.$root-font-size--medium);
    }
}
