/*------------------------------------*\
    BODY
\*------------------------------------*/

body {
    background: $ds_colour__background--primary;
    color: $ds_colour__text;
    font-family: $base-font-family;
    font-size: px-to-rem($root-font-size); // 1rem
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    line-height: line-height-on-grid($root-font-size);
    margin: 0;
    text-rendering: optimizeLegibility;
}

@include ds_media-query(medium) {
    body {
        font-size: px-to-rem($root-font-size--medium);
        line-height: line-height-on-grid($root-font-size--medium);
    }
}
