/*------------------------------------*\
    ICON
\*------------------------------------*/

.ds_icon {
    fill: currentColor;
    height: 1.5em;
    vertical-align: middle;
    width: 1.5em;
}

@for $size from 3 through 20 {
    .ds_icon--#{$size*4} {
        width: #{$size*4}px;
        height: #{$size*4}px;
    }
}

.ds_icon--fill {
    width: 100%;
    height: 100%;
}
