/*------------------------------------*\
    #WARNING TEXT
\*------------------------------------*/

.#{$pl-prefix}warning-text {
    border : 1px solid currentColor;
    border-width: 1px 0;
    padding: 35px 15px 35px 65px;
    position: relative;

    @include block-margins;
}

.#{$pl-prefix}warning-text__icon {
    background: $color__body;
    border-radius: 50%;
    color: $color__white;
    display: inline-block;
    height: 35px;
    font-size: 32px;
    font-weight: 700;
    left: 15px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 35px;
}

@media (min-width: 768px) {
    .#{$pl-prefix}warning-text {
        padding-left: 73px;
        padding-right: 70px;
    }

    .#{$pl-prefix}warning-text__icon {
        left: 23px;
    }
}
