/*------------------------------------*\
    #WARNING TEXT
\*------------------------------------*/




.#{$pl-prefix}warning-text {
    border : 1px solid $color__grey--medium;
    border-width: 1px 0;
    padding: 20px 10px 27px 59px;
    position: relative;

    @include block-margins;
}

.#{$pl-prefix}warning-text__icon {
    background: $color__body;
    border-radius: 36px;
    color: $color__white;
    display: inline-block;
    height: 36px;
    font-size: 32px;
    font-weight: 700;
    left: 10px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 16px;
    width: 36px;
}

@media (min-width: 768px) {
    .#{$pl-prefix}warning-text {
        padding-left: 64px;
        padding-right: 35px;
    }

    .#{$pl-prefix}warning-text__icon {
        left: 15px;
    }
}
