@use "../../base/helpers/colours/colours" as colours2;
@use "../../base/helpers/fancy-underscore/fancy-underscore";
@use "../../base/helpers/functions/functions";
@use "../../base/helpers/headings/headings";
@use "../../base/helpers/last-child-no-margin/last-child-no-margin";
@use "../../base/helpers/layout/layout";
@use "../../base/helpers/media-query/media-query";
@use "../../base/settings/colours/colours";
@use "../../base/settings/grid/grid";
@use "../../base/settings/type/type";

/*------------------------------------*\
    SITE FOOTER
\*------------------------------------*/

// modifiable vars
$site-footer__background: colours.$ds_colour__background--tertiary !default;




.ds_site-footer {
    /// [1] subtracting the border width
    @include headings.small-size;
    background-color: $site-footer__background;
    border-top: 0.0625rem solid colours.$ds_colour__border;

    &__content {
        padding-top: 1.4375rem; /// [1]
        padding-bottom: 2rem;
    }

    /// [1] subtracting the border width
    &__site-items {
        border-bottom: 0.0625rem solid colours.$ds_colour__border;
        font-size: type.$small-size--fixed;
        line-height: functions.line-height-on-grid(type.$small-size--fixed);
        list-style-type: none;
        margin: -0.5rem 0 1.4375rem;
    }

    &__copyright {
        &-logo {
            display: block;
            margin-bottom: 0.5rem;
            width: 2rem;

            @include fancy-underscore.fancy-underscore();

            img {
                height: auto;
                width: 100%;
            }
        }

        @include media-query.media-query(medium) {
            @include last-child-no-margin.last-child-no-margin;
        }
    }

    &__org {
        max-width: 10rem;
        position: relative;
    }

    &__org-logo {
        display: block;
        height: auto;
        width: 100%;
    }

    &__org-link {
        display: block;

        @include fancy-underscore.fancy-underscore();
    }

    .ds_site-footer__org-link,
    .ds_site-footer__copyright-logo {
        color: currentColor !important;
    }

    @include colours2.checkAndFixDescendantLinkColour(colours.$ds_colour__link, colours.$ds_colour__background--tertiary, 'site footer');
}

.ds_site-items {
    &__item,
    &__item:last-child {
        display: inline-block;
        margin-bottom: 1rem;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}

@include media-query.media-query(medium) {


    .ds_site-footer {

        &__copyright {
            padding-left: 3rem;
            position: relative;

            &-logo {
                position: absolute;
                left: 0;
                top: 0.125rem;
            }
        }

        &__content {
            @include layout.layout();
        }

        &__copyright {
            float: left;
            @include layout.colwidth(8);
        }

        &__org {
            float: right;
            @include layout.colwidth(3);
        }
    }

    @supports (display: grid) {
        .ds_site-footer {
            &__content {
                display: grid;
                grid-gap: 0 grid.$grid-gap-x;
                grid-template-columns: repeat(12, 1fr);
                grid-template-areas: 'a a a a a a a a a a a a'
                                     'b b b b b b b b . c c c';
            }

            &__site-items {
                grid-area: a;
            }

            &__copyright {
                grid-area: b;
            }

            &__org {
                grid-area: c;
                justify-self: right;
                width: 100% !important;
            }
        }
    }
}
