/*------------------------------------*\
    SITE FOOTER
\*------------------------------------*/

// modifiable vars
$site-footer__background: $ds_colour__background--tertiary !default;




.ds_site-footer {
    /// [1] subtracting the border width
    @include ds_small-size;
    background-color: $site-footer__background;
    border-top: 1px solid $ds_colour__border;

    &__content {
        padding-top: px-to-rem(23px); /// [1]
        padding-bottom: px-to-rem(32px);
    }

    /// [1] subtracting the border width
    &__site-items {
        border-bottom: 1px solid $ds_colour__border;
        font-size: $small-size--fixed;
        line-height: line-height-on-grid($small-size--fixed);
        list-style-type: none;
        margin: px-to-rem(-8px) 0 px-to-rem(23px);
    }

    &__copyright {
        &-logo {
            display: block;
            margin-bottom: 8px;
            width: 32px;

            @include ds_fancy-underscore();

            img {
                width: 100%;
            }
        }

        @include ds_media-query(medium) {
            @include ds_last-child-no-margin;
        }
    }

    &__org {
        max-width: 160px;
        position: relative;
    }

    &__org-logo {
        display: block;
        width: 100%;
    }

    &__org-link {
        display: block;

        @include ds_fancy-underscore();
    }

    .ds_site-footer__org-link,
    .ds_site-footer__copyright-logo {
        color: currentColor !important;
    }

    @include checkAndFixDescendantLinkColour($ds_colour__link, $ds_colour__background--tertiary, 'site footer');
}

.ds_site-items {
    &__item,
    &__item:last-child {
        display: inline-block;
        margin-bottom: px-to-rem(16px);

        &:not(:last-child) {
            margin-right: px-to-rem(24px);
        }
    }
}

@include ds_media-query(medium) {


    .ds_site-footer {

        &__copyright {
            padding-left: 48px;
            position: relative;

            &-logo {
                position: absolute;
                left: 0;
                top: 2px;
            }
        }

        &__content {
            @include ds_layout();
        }

        &__copyright {
            float: left;
            @include ds_colwidth(8);
        }

        &__org {
            float: right;
            @include ds_colwidth(3);
        }
    }

    @supports (display: grid) {
        .ds_site-footer {
            &__content {
                display: grid;
                grid-gap: 0 $grid-gap-x;
                grid-template-columns: repeat(12, 1fr);
                grid-template-areas: 'a a a a a a a a a a a a'
                                     'b b b b b b b b . c c c';
            }

            &__site-items {
                grid-area: a;
            }

            &__copyright {
                grid-area: b;
            }

            &__org {
                grid-area: c;
                justify-self: right;
                width: 100% !important;
            }
        }
    }
}
