<footer class="ds_site-footer {%- if params.reversed %} ds_reversed{%- endif %}" {%- if params.styles %} style="{{ params.styles }}"{%- endif %}>
    <div class="ds_wrapper">
        <div class="ds_site-footer__content">
            {%- if params.links %}
            <ul class="ds_site-footer__site-items">
                {%- for item in params.links %}
                <li class="ds_site-items__item">
                    <a href="{{ item.link }}">{{ item.label }}</a>
                </li>
                {%- endfor %}
            </ul>
            {%- endif %}
            {%- if params.copyrightContent %}
            <div class="ds_site-footer__copyright">
                {%- if params.copyrightLink %}
                <a class="ds_site-footer__copyright-logo" href="{{ params.copyrightLink }}"><img src="{{ params.copyrightLogo }}" alt="{{ params.copyrightLogoAlt }}" width="{{ params.copyrightLogoWidth }}" height="{{ params.copyrightLogoHeight }}"/></a>
                {%- else %}
                <span class="ds_site-footer__copyright-logo"><img src="{{ params.copyrightLogo }}" alt="{{ params.copyrightLogoAlt }}" width="{{ params.copyrightLogoWidth }}" height="{{ params.copyrightLogoHeight }}"/></span>
                {%- endif %}
                {{ params.copyrightContent | safe }}
            </div>
            {%- endif %}
            {%- if params.orgLogo %}
            <div class="ds_site-footer__org">
                {%- if params.orgLogoLink %}
                <a class="ds_site-footer__org-link" href="{{ params.orgLink }}"><img class="ds_site-footer__org-logo" src="{{ params.orgLogo }}" alt="{{ params.orgLogoAlt }}" width="{{ params.orgLogoWidth }}" height="{{ params.orgLogoHeight }}"/></a>
                {%- else %}
                <img class="ds_site-footer__org-logo" src="{{ params.orgLogo }}" alt="{{ params.orgLogoAlt }}" width="{{ params.orgLogoWidth }}" height="{{ params.orgLogoHeight }}" />
                {%- endif %}
            </div>
            {%- endif %}
        </div>
    </div>
</footer>