/*------------------------------------*\
    FORM MIXINS
\*------------------------------------*/

$small-focus-border-colour: $ds_colour__border !default;




@mixin ds_radiocheckboxstates ($round: false, $small-pip-padding: 2px, $active-shadow-colour: $ds_colour__input--focus__background) {

    margin-bottom: 24px;
    padding-left: 40px;
    position: relative;

    &__input {
        height: 2.5rem;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 2.5rem;
    }

    &__label {
        display: inline-block;
        padding: 4px 32px 4px 16px;
    }

    &__label::before {
        background-color: $ds_colour__background--primary;
        border: $field-border-width solid $ds_colour__text;
        content: '';
        height: $input-size;
        left: 0;
        position: absolute;
        width: $input-size;
    }

    &__label::after {
        content: "";
        position: absolute;
        bottom: calc(100% - #{$input-size});
        left: 0;
        right: calc(100% - #{$input-size});
        opacity: 0;
    }

    &__label::before,
    &__label::after {
        top: -4px;

        @include ds_media-query(medium) {
            top: 0;
        }

        @if $round {
            border-radius: 50%;
        }

    }

    /// focus
    &__input:focus + &__label::before {
        background-color: $ds_colour__link--focus__background;
        border-color: $ds_colour__link--focus;
        border-width: $field-border-width--focus;
        box-shadow: 0 0 0 $field-glow-width $ds_colour__input--focus__outline;

        @include ds_media-query-high-contrast {
            outline: 4px solid highlight;
            outline-offset: -4px;
        }
    }

    &__input:checked + &__label::after {
        opacity: 1;
    }

    /// [1] this negative margin makes the small checkboxes/radios align left with content
    &--small {
        margin-bottom: 16px;
        margin-left: -8px; /// [1]
    }

    &--small &__input {
        height: 1.5rem;
        left: 0.5rem;
        top: 0.5rem;
        width: 1.5rem;
    }

    &--small &__label::before {
        height: px-to-rem(24px);
        left: 8px;
        top: 4px;
        width: px-to-rem(24px);

        @include ds_media-query(medium) {
            top: 8px;
        }
    }

    > .ds_hint-text {
        padding-left: 16px;
    }
}

@mixin ds_field-error {
    border-color: $ds_colour__state--negative;
    border-width: $field-border-width--error;
    padding: 4px;

    &:focus {
        border-color: currentColor;
        box-shadow: none;
    }
}




/// legacy non-prefixed names
@mixin radiocheckboxstates($round: false, $small-pip-padding: 2px, $active-shadow-colour: $ds_colour__input--focus__background) {
    @include ds_radiocheckboxstates($round, $small-pip-padding, $active-shadow-colour);
}

@mixin field-error {
    @include ds_field-error;
}
