/*------------------------------------*\
    FORM ELEMENTS (base)
\*------------------------------------*/




legend {
    @include ds_h3-size;
    font-weight: $bold;
    margin-bottom: 8px;
}

fieldset {
    border: 0;
}
