/*------------------------------------*\
    FORM MIXINS
\*------------------------------------*/

@mixin radiocheckboxstates ($round: false, $small-pip-padding: 2px, $active-shadow-colour: $ds_colour__input--focus__background) {

    margin-bottom: 24px;
    padding-left: 40px;
    position: relative;

    /**
     * [1] minimum size of radio/checkbox for WCAG AAA
     */
    &__input {
        height: $max-input-size; /* [1] */
        left: -2px;
        opacity: 0;
        position: absolute;
        top: -2px;
        width: $max-input-size;
    }

    &__label {
        display: inline-block;
        padding: 4px 32px 4px 16px;
    }

    &__label::before {
        background-color: $ds_colour__white;
        border: $field-border-width solid $ds_colour__text;
        content: '';
        height: $input-size;
        left: 0;
        position: absolute;
        width: $input-size;
    }

    &__label::after {
        content: "";
        position: absolute;
        bottom: calc(100% - #{$input-size});
        left: 0;
        right: calc(100% - #{$input-size});
        opacity: 0;
    }

    &__label::before,
    &__label::after {
        top: -4px;

        @include media-query(medium) {
            top: 0;
        }

        @if $round {
            border-radius: 50%;
        }

    }

    /* focus */
    &__input:focus + &__label::before {
        border-width: $field-border-width--focus;
        box-shadow: 0 0 0 $field-glow-width $ds_colour__gold--base;
    }

    /* checked */
    &__input:checked + &__label::before {
        border-color: $ds_colour__input--spot;
    }

    &__input:checked + &__label::after {
        opacity: 1;
    }

    /*
     * [1] this negative margin makes the small checkboxes/radios align left with content
     */
    &--small {
        margin-bottom: 16px;
        margin-left: -8px; /* [1] */
    }

    &--small &__label::before {
        height: $small-input-size;
        left: $small-input-offset;
        top: $small-input-offset;
        width: $small-input-size;
    }

    &--small &__label::after {
        bottom: calc(100% - #{$small-input-size - $small-pip-padding + $small-input-offset});
        left: #{$small-pip-padding + $small-input-offset};
        right: calc(100% - #{$small-input-size - $small-pip-padding + $small-input-offset});
        top: #{$small-pip-padding + $small-input-offset};
    }

    /* hover */
    &--small &__input:hover + &__label::before {
        box-shadow: 0 0 0 $small-shadow-size #ccc;
    }

    /* hover-focus */
    &--small &__input:hover:focus + &__label::before {
        box-shadow: 0 0 0 $field-glow-width $ds_colour__gold--base, 0 0 0 $small-shadow-size #b1b4b6;
    }

    > .#{$pl_prefix}hint-text {
        padding-left: 16px;
    }
}
