/*------------------------------------*\
    FORM VARIABLES
\*------------------------------------*/

$field-glow-width: 3px;
$field-border-width: 2px;
$field-border-width--focus: 4px;
$field-border-width--error: 4px;

$input-size: 40px !default;
$small-input-size: 24px !default;
$small-input-offset: 8px !default;
