/*------------------------------------*\
    FORM VARIABLES
\*------------------------------------*/

$field-glow-width: 0.1875rem;
$field-border-width: 0.125rem;
$field-border-width--focus: 0.25rem;
$field-border-width--error: 0.25rem;

$input-size: 40px !default;
$small-input-size: 24px !default;
$small-input-offset: 8px !default;
