/*------------------------------------*\
    MARGIN MODIFIERS
    Deprecated, prefer use of margin override classes e.g. ds_!_margin--0, ds_!_margin-bottom--0
\*------------------------------------*/

@use "../../helpers";

.ds_block-margins {
    @include helpers.ds_block-margins;
}

.ds_no-margin {
    @include helpers.ds_responsive-margin(0, null, true);
}

.ds_no-margin--top {
    @include helpers.ds_responsive-margin(0, top, true);
}

.ds_no-margin--right {
    @include helpers.ds_responsive-margin(0, right, true);
}

.ds_no-margin--bottom {
    @include helpers.ds_responsive-margin(0, bottom, true);
}

.ds_no-margin--left {
    @include helpers.ds_responsive-margin(0, left, true);
}

.ds_no-margin--vertical {
    @include helpers.ds_responsive-margin(0, top, true);
    @include helpers.ds_responsive-margin(0, bottom, true);
}

.ds_no-margin--horizontal {
    @include helpers.ds_responsive-margin(0, left, true);
    @include helpers.ds_responsive-margin(0, right, true);
}
