/*------------------------------------*\
    SITE HEADER
\*------------------------------------*/

// modifiable vars
$site-header__border-colour--reversed: $ds_colour__brand--secondary !default;

// fixed vars
$site-header__border-colour: $ds_colour__border--faint;
$site-header__top-band-colour: $ds_colour__brand;
$site-header__top-band-colour--secondary: $ds_colour__brand--secondary;

.ds_site-header {
    background-color: $ds_colour__background--primary;
    border-bottom: 1px solid $site-header__border-colour;
    margin-bottom: -1px;
    position: relative;

    &::before {
        border-top: 4px solid $site-header__top-band-colour;
        content: '';
        display: block;
    }

    &--gradient::before {
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, $ds_colour__brand, $ds_colour__brand--secondary);
    }

    &__content {
        overflow: auto;
    }

    .ds_site-branding {
        float: left;
    }

    .ds_site-header__controls {
        float: right;
        height: calc(100% + 1px);
        margin-bottom: -1px;
    }

    .ds_site-navigation {
        clear: both;
    }

    &__search {
        float: right;
        margin: 8px 0;

        .ds_input__wrapper {
            margin: 0;
        }
    }

    &__control {
        @include ds_blocklink;

        color: inherit;
        cursor: pointer;
        font-size: 1rem;
        font-weight: $normal;
        min-height: 48px;
        margin: 0 -16px -1px 0;
        padding: 16px;
        text-decoration: none;

        &--active {
            background-color: $ds_colour__link--current__background;
            box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.08);

            .ds_site-header__control-icon {
                display: none;
            }

            .ds_site-header__control-icon--active-icon {
                display: block;
            }
        }
    }

    &__control-icon {
        height: 24px;
        width: 24px;

        &--active-icon {
            display: none;
        }
    }

    &__control-text {
        float: left;
        margin-right: 8px;
        pointer-events: none;
    }

    @include ds_media-query(medium) {
        &__navigation {
            border-top: 1px solid $ds_colour__border--faint;
            margin-top: -1px;
        }
    }
}

@supports(display: grid) {
    .ds_site-header {
        &__content {
            align-items: center;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-areas: 'branding controls' 'nav nav' 'search search';
            overflow: initial;
        }

        .ds_site-branding {
            grid-area: branding;
        }

        &__controls {
            grid-area: controls;
        }

        &__search {
            grid-area: search;
        }

        .ds_site-navigation--mobile {
            grid-area: nav;
        }
    }

    @include ds_media-query(medium) {
        .ds_site-header {
            &__content {
                grid-template-columns: auto max-content;
                grid-template-areas: 'branding search';
            }
        }
    }
}

@supports (display: flex) {
    .ds_site-header {
        &__control {
            align-items: center;
            display: flex;
            height: 100%;
        }
    }
}

@include ds_media-query(medium) {
    .ds_site-header__controls {
        display: none;
    }
}
