/*------------------------------------*\
    SITE HEADER
\*------------------------------------*/

// modifiable vars
$site-header__border-colour--reversed: $ds_colour__brand--secondary !default;

// fixed vars
$site-header__border-colour: $ds_colour__border--light;
$site-header__top-band-colour: $ds_colour__brand;



/* [1] compensates for border */
.#{$pl-prefix}site-header {
    background-color: $ds_colour__white;
    border-bottom: 1px solid $site-header__border-colour;
    margin-bottom: -1px; /* [1] */
    position: relative;

    &::before {
        background: $site-header__top-band-colour;
        display: block;
        content: '';
        height: 4px;
    }

    &__top {
        position: relative;
    }

    &__content {
        overflow: hidden;
        padding: 8px 0;
        transition: min-height $transition-in-time;

        @supports(display: grid) {
            overflow: visible;
        }
    }

    &__content > .#{$pl-prefix}site-branding {
        float: left;
    }

    &__content > &__search {
        float: right;
    }

    &__controls {
        display: block;
    }

    &__control {
        cursor: pointer;
        height: 24px;
        margin-right: -16px;
        padding: 16px;

        @include blocklink;
    }

    &__control-icon {
        height: 24px;
        width: 24px;

        &--close {
            display: none;
        }
    }

    &__control-text {
        float: left;
        margin-right: 8px;
        pointer-events: none;
    }
}

/* variant with the top colour bar set to a gradient of site brand colours */
.#{$pl-prefix}site-header--gradient {
    &::before {
        background: linear-gradient(to $ds_brand-gradient-direction, $ds_colour__brand, $ds_colour__brand--secondary);
    }
}

/* variant with a drop shadow instead of a bottom border */
.#{$pl-prefix}site-header--shadow {
    border-bottom: 0;

    &::after {
        background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0));
        bottom: -11px;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
    }
}

/* variant with a solid-colour background and reversed branding */
.#{$pl-prefix}site-header.#{$pl-prefix}reversed {
    background-color: $ds_colour__brand;
    color: $ds_colour__white;

    &:not(.#{$pl-prefix}site-header--gradient) {
        &::before {
            content: none;
        }
    }

    .#{$pl-prefix}site-header__navigation {
        border-top: 1px solid $site-header__border-colour--reversed;
    }
}



@supports (display: flex) {
    .#{$pl-prefix}site-header__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

@include media-query(medium) {
    .#{$pl-prefix}site-header__controls {
        display: none;
    }

    .#{$pl-prefix}site-header__search {
        display: block;

        .#{$pl-prefix}site-search__input {
            float: right;
        }
    }

    .#{$pl-prefix}site-header__branding {
        max-width: calc(2/3 * 100% - #{$grid-gap-x});
    }

    /* [1] compensates for border */
    .#{$pl-prefix}site-header__navigation {
        border-top: 1px solid $site-header__border-colour;
        margin-top: -1px; /* [1] */
    }
}
