/*------------------------------------*\
    CATEGORY LIST
\*------------------------------------*/

.ds_category-list-container {
    margin: 32px 0;
}


.ds_category-list {
    @include ds_layout();

    list-style-type: none;
    margin-bottom: 32px;
    margin-left: -8px;
    margin-top: -8px;
    padding: 8px;

    > * {
        margin-bottom: $grid-gap-y;
    }

    &--narrow > * {
        margin-bottom: $grid-gap-y--narrow;
    }
}

.ds_category-list--narrow {
    @include ds_layout($grid-gap-x--narrow)
}

@include ds_media-query(medium-down) {
    .ds_category-list--grid > * {
        min-height: 0;
    }
}

@include ds_media-query(medium) {
    .ds_category-list--grid {
        > * {
            float: left;
            @include ds_colwidth(6);

            &:nth-child(2n+1) {
                clear: left;
            }
        }

        &.ds_category-list--narrow > * {
            margin-bottom: $grid-gap-x--narrow;
            margin-right: $grid-gap-x--narrow;

            @include ds_colwidth(6, 12, $grid-gap-x--narrow);
        }
    }
}

@include ds_media-query(large) {
    .ds_category-list--grid {
        > * {
            @include ds_colwidth(4);

            &:nth-child(n) {
                clear: none;
            }

            &:nth-child(3n+1) {
                clear: left;
                margin-left: 0;
            }
        }

        &.ds_category-list--narrow > * {
            @include ds_colwidth(4, 12, $grid-gap-x--narrow);
        }
    }
}

@supports(display: grid) {
    .ds_category-list {
        grid-row-gap: $grid-gap-y;
        margin-left: 0;
        margin-top: 0;
        padding: 0;

        &--narrow {
            grid-gap: $grid-gap-y--narrow $grid-gap-y--narrow;
        }

        > *[class] {
            display: grid;
            margin: 0;
            width: 100%;
        }
    }

    @include ds_media-query(medium) {
        .ds_category-list--grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    @include ds_media-query(large) {
        .ds_category-list--grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
