/*------------------------------------*\
    CATEGORY LIST
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_category-list-container {
    margin: 2rem 0;
}


.ds_category-list {
    @include helpers.ds_layout();

    list-style-type: none;
    margin-bottom: 2rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    padding: 0.5rem;

    > * {
        display: flex;
        flex-direction: column;
        margin: 0 0 settings.$grid-gap-y;
        width: 100%;
    }

    &--narrow > * {
        margin-bottom: settings.$grid-gap-y--narrow;
    }
}

.ds_category-list--narrow {
    @include helpers.ds_layout(settings.$grid-gap-x--narrow)
}

@include helpers.ds_media-query(medium-down) {
    .ds_category-list--grid > * {
        min-height: 0;
    }
}

@include helpers.ds_media-query(medium) {
    .ds_category-list--grid {
        > * {
            float: left;
            @include helpers.ds_colwidth(6);

            &:nth-child(2n+1) {
                clear: left;
            }
        }

        &.ds_category-list--narrow > * {
            @include helpers.ds_colwidth(6, 12, settings.$grid-gap-x--narrow);
        }
    }
}

@include helpers.ds_media-query(large) {
    .ds_category-list--grid {
        > * {
            @include helpers.ds_colwidth(4);

            &:nth-child(n) {
                clear: none;
            }

            &:nth-child(3n+1) {
                clear: left;
                margin-left: 0;
            }
        }

        &.ds_category-list--narrow > * {
            @include helpers.ds_colwidth(4, 12, settings.$grid-gap-x--narrow);
        }
    }
}

@supports(display: grid) {
    .ds_category-list {
        grid-row-gap: settings.$grid-gap-y;
        margin-left: 0;
        margin-top: 0;
        padding: 0;

        &--narrow {
            grid-gap: settings.$grid-gap-y--narrow settings.$grid-gap-y--narrow;
        }

        > *[class] {
            margin-bottom: 0;
        }
    }

    @include helpers.ds_media-query(medium) {
        .ds_category-list--grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    @include helpers.ds_media-query(large) {
        .ds_category-list--grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
