<nav aria-label="Category navigation">
    <ul class="ds_category-list{%- if params.modifiers %} {{ params.modifiers }}{%- endif -%}">
        {%- if params.cards -%}
        {%- for item in params.items -%}
	        {% render '@card', item -%}
        {% endfor %} 
        {%- else -%}
        {%- for item in params.items -%}
	        {% render '@category-item', item -%}
        {% endfor %} 
        {%- endif -%}
    </ul>
</nav>