/*------------------------------------*\
    BODY
\*------------------------------------*/

html {
    font-size: $root-font-size;
}

body {
    background: $ds_colour__white;
    color: $ds_colour__text;
    font-family: $base-font-family;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 24px;
    margin: 0;
    text-rendering: optimizeLegibility;
}

@include media-query(medium) {
    html {
        font-size: $root-font-size--medium;
    }

    body {
        line-height: 32px;
    }
}
