/*------------------------------------*\
    CARDS
\*------------------------------------*/

.ds_cb--cards {
    .ds_cb__inner {
        padding: 16px 0 32px;

        @include ds_media-query(medium) {
            padding-top: 24px;

            > * {
                float: left;
                @include ds_colwidth(4);
            }

            @supports(display: grid) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}