/*------------------------------------*\
    CHECKBOXES
\*------------------------------------*/

.ds_checkbox {
    @include ds_radiocheckboxstates();

    &__label::after {
        $octothorpe: '#';
        @include ds_icon-mask(#{$iconsfile}#{$octothorpe}checkbox);
    }
}

@supports (-webkit-mask-image: url()) or (mask-image: url()) {
    .ds_checkbox {
        &__label::after {
            background-color: $ds_colour__white;
        }

        /// checked
        &__input:checked + &__label::before {
            background-color: $ds_colour__text;
        }

        &__input:focus:checked + &__label::before {
            background-color: $ds_colour__link--focus__background;
        }

        &__input:focus:checked + &__label::after {
            background-color: $ds_colour__link--focus;
        }
    }
}
