/*------------------------------------*\
    CHECKBOXES
\*------------------------------------*/

.#{$pl_prefix}checkbox {
    @include radiocheckboxstates();

    /*
     * [1] for IE11 support, use image without clip path
     */
    &__label::after {
        background-image: url(#{$iconsfile}#checkbox); /* [1] */
    }
}

@supports (-webkit-mask-image: url()) or (mask-image: url()) {
    .#{$pl_prefix}checkbox {
        &__label::after {
            background-color: $ds_colour__white;
            background-image: none;
            -webkit-mask-image: url(#{$iconsfile}#checkbox);
            mask-image: url(#{$iconsfile}#checkbox);
        }

        /* checked */
        &__input:checked + &__label::before {
            background-color: $ds_colour__text;
        }

        &__input:focus:checked + &__label::before {
            background-color: $ds_colour__link--focus__background;
        }

        &__input:focus:checked + &__label::after {
            background-color: $ds_colour__link--focus;
        }
    }
}
