/*------------------------------------*\
    CHECKBOXES
\*------------------------------------*/

.ds_checkbox {
    @include ds_radiocheckboxstates();

    &__label::after {
        background-color: transparent;
        border-style: solid;
        border-width: 0px 0 5px 5px;
        border-top-color: transparent;
        left: 7px;
        height: 14px;
        top: 6px;
        width: 26px;
        transform: rotate(-45deg);
    }

    /// checked
    &__input:checked + &__label::before {
        background-color: currentColor;
    }

    &__input:not(:focus):checked + &__label::after {
        border-color: $ds_colour__text--reversed;
    }

    &__input:focus:checked + &__label::before {
        background-color: $ds_colour__link--focus__background;
    }

    &--small &__label::after {
        border-width: 6px;
        left: 14px;
        top: 14px;
    }

    &--small &__label::after {
        width: 13px;
        height: 7px;
        left: 13px;
        top: 11px;
        border-width: 0 0 3px 3px;
    }

    .ds_question__error-message {
        margin-left: 16px;
    }
}

.ds_checkboxes > .ds_checkbox:last-child {
    margin-bottom: 4px;
}

.ds_checkbox-separator {
    font-weight: 700;
    margin: 24px 0;
    text-align: center;
    width: 40px;
}

@include ds_media-query(medium) {
    .ds_checkbox {
        &__label::after {
            top: 10px;
        }

        &--small &__label::after {
            top: 15px;
        }
    }
}
