<form>
    <div class="ds_question {%- if params.error %} ds_question--error{%- endif %}">
        <fieldset {%- if params.hint %} aria-describedby="ds_hint"{%- endif %}>
            <legend>{{ params.legend }}</legend>
            {%- if params.hint %}
            <p class="ds_hint-text" id="ds_hint">{{ params.hint }}</p>
            {%- endif %}
            {%- if params.error %}
            <p class="ds_question__error-message">{{ params.error }}</p>
            {%- endif %}
            <div class="ds_field-group">
                {%- for checkbox in params.checkboxes %}
                <div class="ds_checkbox {%- if checkbox.small %} ds_checkbox--small{%- endif %}">
                    <input class="ds_checkbox__input" id="{{ checkbox.id }}" type="checkbox" {%- if checkbox.hint %} aria-describedby="{{ checkbox.id }}_hint"{%- endif %}/>
                    <label class="ds_checkbox__label" for="{{ checkbox.id }}">{{ checkbox.label}}</label>
                    {%- if checkbox.hint %}
                    <p class="ds_hint-text" id="{{ checkbox.id }}_hint">{{ checkbox.hint }}</p>
                    {%- endif %}
                </div>
                {%- endfor %}
            </div>
        </fieldset>
    </div>
</form>