{%- if params.dataAttribute -%}
    {% set moduleDataMaxLength = ["data-maxlength=\"", params.maxLength, "\" "] | join %}
{%- else -%}
    {% set moduleMaxLength = ["maxlength=\"", params.maxLength, "\" "] | join %}
{%- endif -%}
{%- if params.threshold -%}
    {% set moduleDataThreshold = ["data-threshold=\"", params.threshold, "\" "] | join %}
{%- endif -%}
<div class="ds_question" {{ moduleDataMaxLength | safe }}{{ moduleDataThreshold | safe }}data-module="ds-character-count">
    <label class="ds_label" for="textarea1-character-limit">{{ params.label }}</label>
    <textarea {{ moduleMaxLength | safe }}class="ds_input" id="textarea1-character-limit"></textarea>
</div>