/*------------------------------------*\
    #INFORMATION TEXT
\*------------------------------------*/

.#{$pl-prefix}information-text {
    border-left: 10px solid $color__grey--medium;
    padding: 28px 15px;

    @include block-margins;
}

@media (min-width: 768px) {
    .#{$pl-prefix}information-text {
        padding-right: 70px;
    }
}
