$blocklink__outline-width: 0;
$link__outline-width: 2px;
$link__border-width: 3px;




/// Link
///
/// Single definition to enforce consistent display of links and elements that
/// look like links (e.g. buttons we want to have display with a link-like style)

@mixin ds_link {
    color: $ds_colour__link;
    text-decoration: underline;
    outline: 0px solid transparent;
    text-underline-offset: 1px;
    transition: color $transition-out-time, background-color $transition-out-time, outline-color $transition-out-time;

    @include ds_high-contrast-link-style;

    &:hover {
        background-color: $ds_colour__link--hover__background;
        color: $ds_colour__link--hover;
        outline: $link__outline-width solid $ds_colour__link--hover__background;
        transition-duration: $transition-in-time;
    }

    &:focus {
        @include ds_focus-outline;

        background-color: $ds_colour__link--focus__background;
        box-shadow: #{$link__outline-width * -1} #{$link__outline-width + $link__border-width} $ds_colour__link--focus__shadow, $link__outline-width #{$link__outline-width + $link__border-width} $ds_colour__link--focus__shadow;
        color: $ds_colour__link--focus;
        text-decoration: none;
        transition-duration: 0s;
    }

    > svg {
        fill: currentColor;
    }
}




/// Blocklink
///
/// Mixin to enforce consistency on block-style links, e.g. search results, category items, etc
///
/// @param {string} $link-selector - child element that is used as the link, optional
/// @param {boolean} $hover - whether to apply a hover state

@mixin ds_blocklink ($link-selector: null, $hover: true) {
    display: block;
    outline: 0 !important;
    position: relative;
    transition: background-color $transition-out-time, outline-color $transition-out-time;
    z-index: 1;

    &:focus {
        background-color: $ds_colour__blocklink-bg--focus;
        box-shadow: inset #{$blocklink__outline-width * -1} #{$blocklink__outline-width + $link__border-width * -1} $ds_colour__link--focus__shadow, inset $blocklink__outline-width #{$blocklink__outline-width + $link__border-width * -1} $ds_colour__link--focus__shadow;
        color: $ds_colour__link--focus;
        @include ds_high-contrast-focus;
    }

    @if $hover {
        &:hover:not(:focus) {
            background-color: $ds_colour__blocklink-bg--hover;
        }
    }

    @if $link-selector {
        #{$link-selector} {
            &:focus:hover {
                text-decoration: none;
            }
        }

        /*
            supports grid is a hack as a proxy for supports :focus-within
        */
        @supports (display: grid) {
            #{$link-selector} {
                background-color: transparent;
                outline: none;

                &::after {
                    content: "";
                    height: 100%;
                    left: 0px;
                    position: absolute;
                    top: 0px;
                    width: 100%;
                    z-index: 0;

                    @include ds_media-query-high-contrast {
                        content: none;
                    }
                }

                &:focus {
                    &::after {
                        transition-duration: 0s;
                    }
                }
            }

            &:focus-within {
                background-color: $ds_colour__blocklink-bg--focus !important;
                box-shadow: inset 0 -3px #333333, inset 0 -3px #333333;
                transition-duration: 0s;

                #{$link-selector} {
                    &:focus {
                        box-shadow: none;
                        background-color: transparent;
                        @include ds_high-contrast-focus;
                    }
                }
            }
        }
    }
}

@mixin ds_blocklink--solid($link-selector: null) {
    @include ds_blocklink($link-selector);

    background-color: $ds_colour__background--primary;
}




/// legacy non-prefixed names
@mixin link {
    @include ds_link;
}

@mixin blocklink($link-selector: null, $hover: true) {
    @include ds_blocklink($link-selector, hover);
}

@mixin blocklink--solid($link-selector: null) {
    @include ds_blocklink--solid($link-selector);
}
