@use "../../settings/colours/colours";

/*------------------------------------*\
    FOCUS
    Default focus indicator
\*------------------------------------*/

$focus__outline-width: 0.125rem !default;

@mixin focus-outline($width: $focus__outline-width) {
    outline: $width solid colours.$ds_colour__link--focus__background;
    outline-offset: 0;
}
