/*------------------------------------*\
    FOCUS
    Default focus indicator
\*------------------------------------*/

@use "../../settings";
@use "../unsupported-css-fallback";
@use "../high-contrast";

$focus__outline-width: settings.$ds_focus__outline-width !default;
$focus__shadow-width: settings.$ds_focus__shadow-width !default;
$focus__input-shadow-width: settings.$ds_focus__input-shadow-width !default;

@mixin ds_focus($hasoutline: true) {
    background-color: settings.$ds_colour__link--focus__background;
    color: settings.$ds_colour__link--focus;
    text-decoration-line: none;
    transition-duration: 0s;

    @if $hasoutline {
        @include ds_focus-outline;
    } @else {
        outline-style: none;
    }

    @include ds_focus-shadow($hasoutline);

    @include high-contrast.ds_high-contrast-outline($inset: false, $colour: highlight);
}

@mixin ds_focus--button {
    outline-width: 0;
}

@mixin ds_focus--inset {
    @include unsupported-css-fallback.ds_unsupported-css-fallback(
        $prop: 'box-shadow',
        $modern: inset 0 round(#{$focus__shadow-width * -1}, 1px) 0 settings.$ds_colour__link--focus__shadow,
        $fallback: inset 0 (-$focus__shadow-width) 0 settings.$ds_colour__link--focus__shadow
    );
    filter: none;
    outline-width: 0;
}

@mixin ds_input-focus($outline: $focus__outline-width, $shadow: $focus__input-shadow-width) {
    @include unsupported-css-fallback.ds_unsupported-css-fallback(
        $prop: 'box-shadow',
        $modern: inset 0 0 0 round(#{$shadow}, 1px) settings.$ds_colour__link--focus__shadow,
        $fallback: inset 0 0 0 $shadow settings.$ds_colour__link--focus__shadow
    );
    @include ds_focus-outline;
}

@mixin ds_focus-outline($width: $focus__outline-width) {
    @include unsupported-css-fallback.ds_unsupported-css-fallback(
        $prop: 'outline',
        $modern: round(#{$width}, 1px) solid settings.$ds_colour__link--focus__background,
        $fallback: 0.125rem solid settings.$ds_colour__link--focus__background
    );
    outline-offset: 0;
}

///
/// after we drop ie11 support, replace this with
/// filter: drop-shadow(0px round($focus__shadow-width, 1px) 0px $ds_colour__link--focus__shadow);
///
@mixin ds_focus-shadow($hasoutline: true) {
    // IE11 support
    @if $hasoutline {
        box-shadow: 0 calc($focus__outline-width + $focus__shadow-width) 0 currentColor;
    } @else {
        box-shadow: 0 $focus__shadow-width 0 currentColor;
    }

    @supports(filter: drop-shadow(0 0 0 currentColor)) {
        box-shadow: none;
        filter: drop-shadow(0px round($focus__shadow-width, 1px) 0px settings.$ds_colour__link--focus__shadow);
    }
}
