/*------------------------------------*\
    PAGE TITLE
\*------------------------------------*/

.ds_cb--page-title {
    .ds_cb__inner {

        @include ds_layout();

        .ds_cb__text {
            @include ds_responsive-margin(5, top);
            
            &:first-child:last-child {
                @include ds_responsive-margin(6, bottom);
            }
            
            @include ds_media-query (medium) {
                @include ds_responsive-margin(6, top);
                @include ds_responsive-margin(6, bottom);    
            }

            // Alignment options
            &--middle {
                align-self: center;    
            }
        }

        .ds_page-header {
            margin-top: 0;
            @include ds_responsive-margin(2, bottom);

            &:first-child:last-child {
                margin-bottom: 0;
            }

            &__title {
                &--light {
                    font-weight: $light;
                }
            }
        }

        .ds_cb__poster {

            @include ds_responsive-margin(4, bottom);  

            // Alignment options
            &--middle {
                align-self: center;    
            }

            @include ds_media-query (medium) {

                @include ds_responsive-margin(6, top);  
                @include ds_responsive-margin(6, bottom);   

                &--no-margin {
                    margin: 0;
                }
        
                // Ignore cover option on IE11
                @supports (object-fit: cover) {
                    &--cover {
                        overflow: hidden;
                        padding: 0;
                        position: relative;

                        img {
                            height: 100%;
                            left: 0;
                            width: 100%;
                            object-fit: cover;
                            position: absolute;
                            right: 0;
                        }
                    }
                }
            }

            // Mobile alignment - left by default
            @include ds_media-query (medium-down) {
                &--hidden-mobile {
                    margin: 0;
                    display: none;
                }
                &--middle-mobile {
                    img {
                        margin: 0 auto;
                    }   
                }
                &--right-mobile {
                    img {
                        margin-left: auto;
                    }   
                }
            }
        }

        // Button overrides
        .ds_button {
            @include ds_responsive-margin(1, top);
        }
    }

    // Wide text option
    &--wide {
    
        .ds_cb__text {
        
            @include ds_media-query(medium) {
                float: left;
                @include ds_colwidth(8);
        
                &:last-of-type:first-of-type {
                    float: none;
                }

                @supports(display: grid) {
                    grid-column: span 8;
        
                    &:last-of-type:first-of-type {
                        grid-area: 1/1/1/9;
                        width: auto;
                    }
                }
            }
        }

        .ds_cb__poster {

            @include ds_media-query(medium) {
                float: left;
                @include ds_colwidth(4);
        
                @supports(display: grid) {
                    grid-column: span 4;
                }
            }
        }
    }

    &__aside {
        .ds_wrapper {
            @include ds_small-size;
            @include ds_last-child-no-margin;
            @include ds_responsive-padding(2, top);
            @include ds_responsive-padding(2, bottom);
            position: relative;
        }

        &-icon {
            display: block;
            position: absolute;
            height: 32px;
            line-height: 0;
            margin-left: -4px;
            margin-top: -4px;
            padding: 2px;
            width: 32px;

            & + * {
                margin-left: 40px;
            }
        }
        
    }

    // Add top border to aside when both header and aside have white or transparent backgrounds
    &:not([class*="ds_cb--bg-"]),
    &.ds_cb--bg-white {
        .ds_cb--page-title__aside:not([class*="ds_cb--bg-"]),
        &.ds_cb--bg-white {
            &.ds_cb--fullwidth {
                border-top: 1px $ds_colour__border--light solid;    
                .ds_wrapper {
                    @include ds_responsive-padding(2, top, $tuning:-1px);
                }
            }
            &:not(.ds_cb--fullwidth) {
                .ds_wrapper {
                    border-top: 1px $ds_colour__border--light solid;   
                    @include ds_responsive-padding(2, top, $tuning:-1px); 
                }
            }
        }
    }

    // Avoid parent background being forced on aside wrapper when parent is not full width
    &:not(&--fullwidth)[class*="ds_cb--bg-"] {
    
        .ds_cb--page-title__aside .ds_wrapper {
            background-color: inherit;
        }
    }
    
}