$pl-prefix: 'ds_' !default;
@import "accordion/accordion";
@import "article-aside/article-aside";
@import "aspect-box/aspect-box";
@import "autocomplete/autocomplete";
@import "back-link/back-link";
@import "back-to-top/back-to-top";
@import "breadcrumbs/breadcrumbs";
@import "button/button";
@import "cookie-notification/cookie-notification";
@import "callout/callout";
@import "card/card";
@import "category-header/category-header";
@import "category-item/category-item";
@import "category-lists/category-lists";
@import "contact-details/contact-details";
@import "content-label/content-label";
@import "contents-nav/contents-nav";
@import "date-picker/date-picker";
@import "details/details";
@import "feature-header/feature-header";
@import "file-download/file-download";
@import "hide-this-page/hide-this-page";
@import "icon/icon";
@import "inset-text/inset-text";
@import "link-item/link-item";
@import "link-list/link-list";
@import "metadata/metadata";
@import "notification-banner/notification-banner";
@import "notification-message/notification-message";
@import "notification-panel/notification-panel";
@import "page-header/page-header";
@import "pagination/pagination";
@import "phase-banner/phase-banner";
@import "search-result/search-result";
@import "search-results/search-results";
@import "sequential-navigation/sequential-navigation";
@import "side-navigation/side-navigation";
@import "site-navigation/site-navigation";
@import "site-branding/site-branding";
@import "site-footer/site-footer";
@import "site-header/site-header";
@import "site-search/site-search";
@import "skip-links/skip-links";
@import "step-navigation/step-navigation";
@import "summary-list/summary-list";
@import "table/table";
@import "tabs/tabs";
@import "tag/tag";
@import "task-list/task-list";
@import "warning-text/warning-text";
