@forward "accordion";
@forward "article-aside";
@forward "aspect-box";
@forward "autocomplete";
@forward "back-link";
@forward "back-to-top";
@forward "breadcrumbs";
@forward "button";
@forward "card";
@forward "category-item";
@forward "category-lists";
@forward "confirmation-message";
@forward "contact-details";
@forward "content-label";
@forward "contents-nav";
@forward "cookie-notification";
@forward "date-picker";
@forward "details";
@forward "feature-header";
@forward "file-download";
@forward "hide-this-page";
@forward "icon";
@forward "inset-text";
@forward "link-item";
@forward "link-list";
@forward "metadata";
@forward "notification-banner";
@forward "notification-panel";
@forward "page-header";
@forward "pagination";
@forward "phase-banner";
@forward "search-result";
@forward "search-results";
@forward "sequential-navigation";
@forward "side-navigation";
@forward "site-branding";
@forward "site-footer";
@forward "site-header";
@forward "site-navigation";
@forward "site-search";
@forward "skip-links";
@forward "sort-options";
@forward "step-navigation";
@forward "summary-list";
@forward "table";
@forward "tabs";
@forward "tag";
@forward "task-list";
@forward "warning-text";
