<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700&display=swap' rel='stylesheet' type='text/css'>
	<link media="all" rel="stylesheet" href="{{ '/assets/css/pattern-library.css' | path }}">
	<title>Preview Layout</title>
	<script>
        document.documentElement.classList.add('js-enabled');
    </script>
	<style>
		body {
			padding: 2rem;
		}
		</style>
</head>
<body>
	<div>
		{{ yield | safe}}
	</div>
	<script src="{{ '/assets/scripts/pattern-library.js' | path }}"></script>
	<script>
		window.DS.initAll();
	</script>
</body>
</html>