/// Block margins
///
/// Single definition for consistent spacing

@use "../spacing";

@mixin ds_block-margins {
    @include spacing.ds_responsive-margin(4, top);
    @include spacing.ds_responsive-margin(4, bottom);
}

@mixin ds_block-margins--bottom {
    @include spacing.ds_responsive-margin(4, bottom);
}




/// legacy non-prefixed names
/// DEPRECATED - use prefixed mixins instead
@mixin block-margins {
    @include ds_block-margins;
}

@mixin block-margins--bottom {
    @include ds_block-margins--bottom;
}
