<div class="ds_question {%- if params.error %} ds_question--error{%- endif %}">
    <fieldset {%- if params.hint %} aria-describedby="{{ params.hint.params.id }}"{%- endif %}>
        <legend>{{ params.legend }}</legend>
        {%- if params.hint %}
        {%- render '@hint-text', params.hint %}
        {%- endif %}
        {%- if params.error %}
            <p class="ds_question__error-message">{{ params.error }}</p>
        {%- endif %}
        <div class="ds_field-group {%- if params.inline %} ds_field-group--inline{%- endif %}">
            {%- for field in params.fields %}
            <div>
            {% render '@label', field.label -%}
            {% render '@text-input', field.textInput %}
            </div>
            {%- endfor %}
        </div>
    </fieldset>
</div>