/// TYPE

$root-font-size: 1rem !default;
$root-font-size--medium: 1.1875rem !default;

// heading sizes
$h1-size:               1.875rem !default;
$h2-size:               1.375rem !default;
$h3-size:               1.1875rem !default;
$h4-size:               1rem !default;
$h5-size:               0.875rem !default;

// heading sizes at medium breakpoint
$h1-size--medium:       2.75rem !default;
$h2-size--medium:       1.875rem !default;
$h3-size--medium:       1.375rem !default;
$h4-size--medium:       1.1875rem !default;
$h5-size--medium:       1rem !default;

// size variants
$large-size:            1.1875rem !default;
$small-size:            0.875rem !default;
$tiny-size:             0.75rem !default;

$large-size--medium:    1.5rem !default;
$small-size--medium:    1rem !default;
$tiny-size--medium:     0.875rem !default;

$small-size--fixed:     0.875rem !default;

// weights
$light: 300 !default;
$normal: 400 !default;
$bold: 700 !default;

// font face
$base-font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
