/*------------------------------------*\
    #SUMMARY LIST
\*------------------------------------*/


.ds_summary-list {
    list-style-type: none;
    margin-left: 0;
    @include ds_responsive-margin(6, top);

    &__key {
        font-weight: $bold;
    }

    &__key,
    &__value,
    &__actions {
        display: block;
        margin-bottom: 8px;
    }

    &__item {
        border-bottom: 1px solid $ds_colour__border;
        padding-bottom: 8px;
        @include ds_responsive-margin(2, bottom, false, -1px);
    }

    &__answer::before,
    &__answer::after {
        content: '';
    }
}

@include ds_media-query(medium) {
    .ds_summary-list {
        &__item {
            display: grid;
            grid-gap: 0 32px;
            grid-template-columns: 1fr 1fr auto;
            grid-template-areas: 'k v a';
        }

        &__key {
            grid-area: k;
        }

        &__value {
            grid-area: v;
            margin-right: 0;
        }

        &__actions {
            grid-area: a;
        }
    }
}
