/*------------------------------------*\
    #SUMMARY LIST
\*------------------------------------*/


.ds_summary-list {
    list-style-type: none;
    margin-left: 0;
    @include ds_responsive-margin(6, top);

    &__key {
        font-weight: $bold;
    }

    &__key,
    &__value,
    &__actions {
        display: block;
        margin-bottom: 8px;
    }

    &__item {
        padding-bottom: 8px;
        position: relative;
        @include ds_responsive-margin(2, bottom, false, -1px);
    }

    &__answer::before,
    &__answer::after {
        content: '';
    }

    &:not(.ds_summary-list--no-border) {
        .ds_summary-list__item::after {
            background: $ds_colour__border;
            bottom: -1px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
        }
    }
}

@include ds_media-query(medium) {
    .ds_summary-list {
        border-collapse: collapse;
        display: table;
        width: 100%;

        &__item {
            display: table-row;
        }

        &__key,
        &__value,
        &__actions {
            display: table-cell;
            padding: 16px;
        }

        &__key {
            padding-left: 0;
            width: 50%;
        }

        &__value {
            width: 50%;
        }

        &__actions {
            padding-right: 0;
            text-align: right;
        }
    }
}
