/*------------------------------------*\
    SEARCH BOX
\*------------------------------------*/

$site-search__height: 42px !default;
$site-search__height--medium: 49px !default;
$site-search__border-radius: 0 !default;
$site-search__background-color: $color__grey--light !default;




.#{$pl-prefix}site-search {
    box-sizing: border-box;
    color: $color__body;
    height: $site-search__height;

    &__input-group {
        position: relative;
    }

    &__input[type=text] {
        background: $site-search__background-color;
        border: 0;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        margin-right: $site-search__height;

        min-height: $site-search__height;
        min-width: 150px;
        padding: 0 20px;
        width: calc(100% - #{$site-search__height});
    }

    &__button {
        height: $site-search__height;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: $site-search__height;
    }

    &__icon {
        display: block;
        padding: 10px;
    }

    &--large {
        margin-bottom: $site-search__height;
    }
}

@include media-query(medium) {
    .#{$pl-prefix}site-search {
        height: $site-search__height--medium;

        &__input[type=text] {
            min-height: $site-search__height--medium;
            margin-right: $site-search__height--medium;
            width: calc(100% - #{$site-search__height--medium});
        }

        &__button {
            height: $site-search__height--medium;
            width: $site-search__height--medium;
        }
    }
}

.#{$pl-prefix}reversed .#{$pl-prefix}site-search {
    .#{$pl-prefix}site-search__button {
        background-color: $color__brand--secondary;

        &:active {
            background-color: $color__button--active__background;
        }
    }
}

@include media-query(medium-down) {
    .#{$pl-prefix}site-search--collapsible {
        position: absolute;
        right: 15px;
        left: calc(100% - 15px);
        transition: left $transition-in-time;

        .#{$pl-prefix}site-search__input[type="text"] {
            opacity: 0;
            padding: 0;

            transition: all $transition-in-time;
        }
    }

    .#{$pl-prefix}site-search--expanded {
        left: 15px;

        .#{$pl-prefix}site-search__input[type="text"] {
            opacity: 1;
            padding: 0 $site-search__height 0 25px;
        }
    }
}
