/*------------------------------------*\
    DIVIDER
\*------------------------------------*/

// zero height hr with border instead of background

.ds_cb--divider {
    margin: 0;
    padding: 0;

    hr {
        border-top: 1px solid currentColor;
        margin-bottom: 0;
        margin-top: -1px;
    }

    @each $color in $cb_colors {
        $name: nth($color, 1);
        $hex: nth($color, 2);
        $texttheme: nth($color, 3);

        &.ds_cb--fg-#{$name} hr::after {
            border-color: $hex;
        }
    }
}