<div class="ds_cb  ds_cb--divider
{%- if params.background %}  ds_cb--bg-{{ params.background }}{% endif -%}
{%- if params.foreground %}  ds_cb--fg-{{ params.foreground }}{% endif -%}
{%- if params.fullwidth %}  ds_cb--fullwidth{% endif -%}">
    <div class="ds_wrapper">
        <hr />
    </div>
</div>