<div class="ds_cb  ds_cb--feature-grid
{%- if params.background %}  ds_cb--bg-{{ params.background }}{% endif -%}
{%- if params.foreground %}  ds_cb--fg-{{ params.foreground }}{% endif -%}
{%- if params.fullwidth %}  ds_cb--fullwidth{% endif -%}
{%- if params.modifier %}  {{ params.modifier }}{% endif -%}
{%- if params.neutralLinks %}  ds_cb--neutral-links{% endif -%}">
    <div class="ds_wrapper">
        <div class="ds_cb__inner">
        {%- for item in params.items -%}
            <div class="ds_cb--feature-grid__item">
                {%- if item.image %}
                <div class="ds_cb--feature-grid__item-media {%- if item.smallImage %}  ds_cb--feature-grid__item-media--small-mobile{%- endif -%}">
                    <div class="ds_aspect-box">
                        {%- if item.link -%}
                        <a href="{{ item.link }}" tabindex="-1">
                        {%- endif -%}
                        <img alt="" aria-hidden="true" class="ds_aspect-box__inner" src="{{ item.image }}" width="656" height="369"/>
                        {%- if item.link -%}
                        </a>
                        {%- endif -%}
                    </div>
                </div>
                {%- endif -%}
                {%- if item.heading %}
                <{{ item.heading.level }} class="ds_cb--feature-grid__item-title">
                    {%- if item.link -%}
                    <a href="{{ item.link }}">
                    {%- endif -%}
                        {{ item.heading.label }}
                    {%- if item.link -%}
                    </a>
                    {%- endif -%}
                </{{ item.heading.level }}>
                {%- endif -%}
                {%- if item.content %}
                <div class="ds_cb--feature-grid__item-summary">{{ item.content | safe }}</div>
                {% endif -%}
            </div>
        {% endfor -%}
        </div>
    </div>
</div>