@use "../../base/helpers/functions/functions";
@use "../../base/helpers/headings/headings";
@use "../../base/helpers/visibility/visibility";
@use "../../base/settings/colours/colours";
@use "../../base/settings/type/type";

/*------------------------------------*\
    PAGE METADATA
\*------------------------------------*/

.ds_metadata {
    @include headings.small-size--fixed;
    margin: 0;
    overflow: hidden;

    &__key {
        display: inline;
        font-weight: normal;

        &::after {
            content: ':';
        }
    }

    &__value {
        display: inline;
        font-weight: type.$bold;
        margin-left: 0;

        a {
            font-weight: type.$normal;
        }
    }
}

/**
 * Alternative display collapsing the metadata into a single line
 */
.ds_metadata--inline {
    @include headings.tiny-size;

    color: colours.$ds_colour__text--secondary;
    margin-bottom: 0.5rem;

    .ds_metadata__item {
        display: inline;
        position: relative;
    }

    .ds_metadata__item:not(:first-child) {
        margin-left: 0.25em;
        padding-left: calc(0.5em + 0.0625rem);

        &::before {
            background: currentColor;
            content: '';
            height: calc(1em - 0.0625rem);
            left: 0;
            position: absolute;
            top: 0.125rem;
            width: 0.0625rem;
        }
    }

    .ds_metadata__key {
        @include visibility.visually-hidden;
    }

    .ds_metadata__value {
        font-weight: type.$normal;
    }
}
