/*------------------------------------*\
    PAGE METADATA
\*------------------------------------*/

.ds_metadata {
    font-size: $small-size--fixed;
    line-height: 24px;
    margin: 0;
    overflow: hidden;

    &__key {
        display: inline;

        &::after {
            content: ':';
        }
    }

    &__value {
        display: inline;
        font-weight: $bold;
        margin-left: 0;

        a {
            font-weight: $normal;
        }
    }
}

/**
 * Alternative display collapsing the metadata into a single line
 */
.ds_metadata--inline {
    color: $ds_colour__text--secondary;
    @include ds_tiny-size;
    line-height: 24px;
    margin-bottom: 8px;

    .ds_metadata__item {
        display: inline;
        position: relative;
    }

    .ds_metadata__item:not(:first-child) {
        margin-left: 0.25em;
        padding-left: 0.5em;

        &::before {
            background: currentColor;
            bottom: 2px;
            content: '';
            left: 0;
            position: absolute;
            top: 2px;
            width: 1px;
        }
    }

    .ds_metadata__value {
        font-weight: $normal;

        &.content-label {
            color: $ds_colour__text;
            font-weight: $bold;
        }
    }
}

:focus-within .ds_metadata--inline {
    color: currentColor;
}
