/*------------------------------------*\
    PAGE METADATA
\*------------------------------------*/

.#{$pl-prefix}metadata {
    font-size: $small-size--fixed;
    line-height: 24px;
    margin: 0;
    overflow: hidden;

    &__key {
        display: inline;

        &::after {
            content: ':';
        }
    }

    &__value {
        display: inline;
        font-weight: $bold;
        margin-left: 0;

        > a {
            font-weight: $normal;
        }
    }
}

/**
 * Alternative display collapsing the metadata into a single line
 */
.#{$pl-prefix}metadata--inline {
    color: $colour__text--secondary;
    font-size: $tiny-size;
    line-height: 24px;
    margin-bottom: 8px;

    .#{$pl-prefix}metadata__item {
        display: inline;
        position: relative;
    }

    .#{$pl-prefix}metadata__item:not(:first-child) {
        margin-left: 0.25em;
        padding-left: 0.5em;

        &::before {
            background: currentColor;
            bottom: 2px;
            content: '';
            left: 0;
            position: absolute;
            top: 2px;
            width: 1px;
        }
    }

    .#{$pl-prefix}metadata__value {
        font-weight: $normal;

        &.content-label {
            color: $colour__text;
            font-weight: $bold;
        }
    }
}

@include media-query(medium) {
    .#{$pl-prefix}metadata--inline {
        font-size: $tiny-size--medium;
    }
}
