/*------------------------------------*\
    PAGE METADATA
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_metadata {
    margin: 0;
    overflow: hidden;
    @include helpers.ds_small-size--fixed;

    &__key {
        display: inline;
        font-weight: normal;

        &::after {
            content: ':';
        }
    }

    &__value {
        display: inline;
        font-weight: settings.$bold;
        margin-left: 0;

        a {
            font-weight: settings.$normal;
        }
    }
}

/**
 * Alternative display collapsing the metadata into a single line
 */
.ds_metadata--inline {

    color: settings.$ds_colour__text--secondary;
    margin-bottom: 0.5rem;;

    .ds_metadata__item {
        display: inline;
        position: relative;
    }

    .ds_metadata__item:not(:first-child) {
        margin-left: 0.25em;
        padding-left: calc(0.5em + 0.0625rem);

        &::before {
            background: currentColor;
            content: '';
            height: calc(1em - 0.0625rem);
            left: 0;
            position: absolute;
            top: 0.125rem;
            width: 0.0625rem;
        }
    }

    .ds_metadata__key {
        @include helpers.ds_visually-hidden;
    }

    .ds_metadata__value {
        font-weight: settings.$normal;
    }
}
