/*------------------------------------*\
    MARGIN MODIFIERS
\*------------------------------------*/

.#{$pl-prefix}no-margin {
    margin: 0 !important;
}

.#{$pl-prefix}no-margin--top {
    margin-top: 0 !important;
}

.#{$pl-prefix}no-margin--right {
    margin-right: 0 !important;
}

.#{$pl-prefix}no-margin--bottom {
    margin-bottom: 0 !important;
}

.#{$pl-prefix}no-margin--left {
    margin-left: 0 !important;
}

.#{$pl-prefix}no-margin--vertical {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.#{$pl-prefix}no-margin--horizontal {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
