/*------------------------------------*\
    VISIBILITY
\*------------------------------------*/

.visually-hidden {
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; width: 1px;
    overflow: hidden;
    position: absolute !important;
}

.fully-hidden {
    display: none !important;
}
