/*
    SITE NAVIGATION
    containing site-navigation and mobile equivalent
*/

// modifiable vars
$site-navigation__mobile-menu-background: $ds_colour__background--secondary !default;
$site-navigation__highlight-colour: $ds_colour__border--highlight !default;

// common to both mobile and desktop
$site-navigation__link-padding: 16px;

.ds_site-navigation {
    @include ds_small-size;

    display: none;

    &__toggle {
        display: none;
    }

    &__list {
        display: block;
        list-style-type: none;
        margin: 0;
    }

    &__item {
        margin-bottom: 0;
    }

    &__link {
        color: currentColor;
        display: block;
        padding: #{$site-navigation__link-padding * 0.5} $site-navigation__link-padding;
        text-decoration: none;
        white-space: nowrap;

        &:focus {
            position: relative;
            z-index: 1;
        }
    }
}

// small screens
@include ds_media-query(medium-down) {
    .ds_site-navigation {
        background-color: $site-navigation__mobile-menu-background;
        margin: 0 -16px;

        &--mobile {
            overflow: hidden;
        }

        &__list {
            padding: 16px;
        }

        &__item:not(:last-child) {
            border-bottom: 1px solid $ds_colour__border;
        }

        &__link {
            padding-bottom: $site-navigation__link-padding;
            padding-top: $site-navigation__link-padding;

            &:hover:not(:focus),
            &.ds_current {
                $site-navigation__mobile-border-width: 4px;
                border-left: $site-navigation__mobile-border-width solid $ds_colour__brand;
                padding-left: #{$site-navigation__link-padding - $site-navigation__mobile-border-width};
            }
        }
    }

    .ds_site-navigation__toggle:checked ~ .ds_site-navigation,
    .ds_site-navigation--open {
        border-top: 1px solid $ds_colour__border--faint;
        display: block;
    }
}

@include ds_media-query(medium) {
    .ds_site-navigation {
        line-height: 2;

        &:not(&--mobile) {
            display: block;
        }

        &__item {
            display: inline-block;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 0 -16px;
        }

        .ds_site-navigation__link {
            @include ds_fancy-underscore;

            &::after {
                bottom: 0;
            }

            &.ds_current:not(:focus) {
                background-color: $ds_colour__link--current__background;
                color: $ds_colour__text;

                &:after {
                    border-bottom: 3px solid transparent;
                    left: 0;
                    opacity: 1;
                    right: 0;
                }
            }
        }

        a.ds_site-navigation__link {
            &:focus {
                box-shadow: 0 3px $ds_colour__link--focus__shadow;
                outline: none;
                padding-bottom: 5px;

                &::after {
                    content: none;
                }
            }

            &:hover:not(:focus) {
                background-color: $ds_colour__link--hover__background;
            }
        }
    }
}
