/*
    SITE NAVIGATION
    containing site-navigation and mobile equivalent
*/

// modifiable vars
$site-navigation__current-colour--reversed: $ds_colour__blue--light !default;
$site-navigation__hover-bg--reversed: $ds_colour__link--hover !default;
$site-navigation__mobile-menu-background: $ds_colour__grey--lighter !default;
$site-navigation__mobile-menu-button-colour: $ds_colour__brand !default;

// fixed vars
$site-navigation__highlight-colour: $ds_colour__border--highlight;
$site-navigation__mobile-menu-highlight-colour: $site-navigation__highlight-colour;

// common to both mobile and desktop
$site-navigation__link-padding: 16px;

// avoid breaking changes to site navigation
$use-legacy-site-navigation: true !default;

.ds_site-navigation {
    display: none;

    &__toggle {
        display: none;
    }

    &__list {
        display: block;
        list-style-type: none;
        margin: 0;
    }

    &__item {
        margin-bottom: 0;
    }

    &__link {
        color: currentColor;
        display: block;
        padding: #{$site-navigation__link-padding * 0.5} $site-navigation__link-padding;
        text-decoration: none;
        white-space: nowrap;

        &:focus {
            position: relative;
            z-index: 1;
        }
    }
}

// small screens
@include media-query(medium-down) {
    .ds_site-navigation {
        background-color: $site-navigation__mobile-menu-background;
        margin: 0 -16px;

        &--mobile {
            display: block;
        }

        &__list {
            padding: 16px;
        }

        &__item:not(:last-child) {
            border-bottom: 1px solid #b3b3b3;
        }

        &__link {
            padding-bottom: $site-navigation__link-padding;
            padding-top: $site-navigation__link-padding;

            &:hover:not(:focus) {
                $site-navigation__mobile-border-width: 4px;
                border-left: $site-navigation__mobile-border-width solid $ds_colour__brand;
                padding-left: #{$site-navigation__link-padding - $site-navigation__mobile-border-width};
            }
        }
    }

    .ds_site-navigation {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;
    }

    .ds_site-navigation__toggle:checked ~ .ds_site-navigation,
    .ds_site-navigation--open {
        border-top: 1px solid $ds_colour__grey--light;
        max-height: unset;

        @supports (color: var(--mobile-menu-height)) {
            max-height: var(--mobile-menu-height, unset);
        }
    }
}

@include media-query(medium) {
    .ds_site-navigation {
        @include small-size;

        &:not(&--mobile) {
            display: block;
        }

        &__item {
            display: inline-block;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 0 -16px;
        }

        &__link {
            @include fancy-underscore;

            &::after {
                bottom: 0;
                height: 3px;
            }

            &:focus {
                box-shadow: 0 3px $ds_colour__link--focus__shadow;
                outline: none;
                padding-bottom: 5px;

                &::after {
                    content: none;
                }
            }

            &:hover:not(:focus) {
                background-color: $ds_colour__link--hover__background;
            }
        }
    }
}

// legacy
@if $use-legacy-site-navigation {
    @warn 'The .ds_mobile-navigation class for mobile navigation is deprecated. See https://designsystem.gov.scot for the current version.';

    .ds_site-header > .ds_wrapper {
        position: relative;
    }

    .ds_mobile-navigation {
        @extend .ds_site-navigation;

        &__list {
            @extend .ds_site-navigation__list;
        }

        &__item {
            @extend .ds_site-navigation__item;
        }

        &__link {
            @extend .ds_site-navigation__link;
        }

        &__button {
            padding: 1px 16px 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        &__backdrop {
            display: none;
        }

        .ds_site-search {
            padding: 16px;

            .ds_input__wrapper {
                margin: 0;
            }
        }
    }

    @include media-query(medium) {
        .ds_mobile-navigation,
        .ds_mobile-navigation__button {
            display: none !important;
        }
    }
}
