/*------------------------------------*\
    #INSET TEXT
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_inset-text {
    border-left: 0.5rem solid settings.$ds_colour__border;
    padding: 1rem;

    @include helpers.ds_block-margins;
    @include helpers.ds_last-child-no-margin;
}

.ds_inset-text__text {
    @include helpers.ds_last-child-no-margin;
}

.ds_inset-text .ds_tag {
    margin-bottom: 0.5rem;
}

@include helpers.ds_media-query(medium) {
    .ds_inset-text {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
