/*------------------------------------*\
    #INSET TEXT
\*------------------------------------*/

.ds_inset-text {
    border-left: 8px solid $ds_colour__border;
    padding: 16px;

    @include ds_block-margins;
}

.ds_inset-text__text > :last-child,
.ds_inset-text > :last-child {
    margin-bottom: 0;
}

@include ds_media-query(medium) {
    .ds_inset-text {
        padding-left: 32px;
        padding-right: 64px;
    }
}
