/*------------------------------------*\
    #INSET TEXT
\*------------------------------------*/

.#{$pl-prefix}inset-text {
    border-left: 8px solid $ds_colour__border;
    padding: 16px;

    @include block-margins;
}

.#{$pl-prefix}inset-text__text > :last-child,
.#{$pl-prefix}inset-text > :last-child {
    margin-bottom: 0;
}

@include media-query(medium) {
    .#{$pl-prefix}inset-text {
        padding-left: 32px;
        padding-right: 64px;
    }
}
