/*------------------------------------*\
    ARTICLE ASIDE
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_article-aside {
    position: relative;
    @include helpers.ds_block-margins;
    @include helpers.ds_small-size;
    @include helpers.ds_responsive-padding(4, top);

    &:first-child {
        margin-top: 0;
    }

    &::before {
        border-top: 0.125rem solid settings.$ds_colour__brand;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}
