/*------------------------------------*\
    ARTICLE ASIDE
\*------------------------------------*/

.#{$pl_prefix}article-aside {
    @include block-margins;
    @include small-size;
    line-height: 20px;
    padding-top: 24px;
    position: relative;

    &::before {
        background-color: $ds_colour__brand;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

@include media-query(medium) {
    .#{$pl_prefix}article-aside {
        line-height: 24px;
        padding-top: 32px;

        li {
            margin-bottom: 16px;
        }
    }
}
