/*------------------------------------*\
    ARTICLE ASIDE
\*------------------------------------*/

.ds_article-aside {
    @include ds_block-margins;
    @include ds_small-size;
    line-height: 20px;
    padding-top: 24px;
    position: relative;

    &:first-child {
        margin-top: 0;
    }

    &::before {
        background-color: $ds_colour__brand;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

@include ds_media-query(medium) {
    .ds_article-aside {
        line-height: 24px;
        padding-top: 32px;

        li {
            margin-bottom: 16px;
        }
    }
}
