<aside class="ds_article-aside">
    {%- if params.heading -%}
    <h2 class="gamma">{{ params.heading }}</h2>
    {%- endif -%}
    {%- if params.list -%}
    <ul class="ds_no-bullets">
    {%- for listitem in params.list -%}
        <li>
            <a href="{{ listitem.link }}">{{ listitem.label | safe }}</a>
        </li>
    {%-  endfor %}
    </ul>
    {%- endif -%}
</aside>
