<div class="ds_file-info  {%- if params.highlighted == "true" %}  ds_file-info--highlighted{%- endif -%}">
    <div class="ds_file-info__thumbnail">
        <a class="ds_file-info__thumbnail-link" aria-hidden="true" href="#">
            {% if params.image %}
                <img class="ds_file-info__thumbnail-image" src="/assets/images/placeholders/document-thumbnail.png" alt="">
            {% else %}
                <img class="ds_file-info__thumbnail-image  ds_file-info__thumbnail-image--generic" src="/assets/images/documents/svg/pdf.svg" alt="">
            {% endif %}
        </a>
    </div>

    <div class="ds_file-info__content">
        <h3 class="ds_file-info__title">
            <a href="#">National Autism Post-Diagnostic Support Service: Evaluation of pilot programme 1st Dec 2020 -1st June 2021</a>
        </h3>

        <div class="ds_file-info__details">
            <dl class="ds_metadata  ds_metadata--inline">
                <div class="ds_metadata__item">
                    <dt class="ds_metadata__key  visually-hidden">File type</dt>
                    <dd class="ds_metadata__value">53 page PDF</dd>
                </div>

                <div class="ds_metadata__item">
                    <dt class="ds_metadata__key  visually-hidden">File size</dt>
                    <dd class="ds_metadata__value">3.0 MB</dd>
                </div>
            </dl>
        </div>

        <div>
            <a data-title="National Autism Post-Diagnostic Support Service: Evaluation of pilot programme 1st Dec 2020 -1st June 2021" href="#" class="ds_file-info__download  ds_button  ds_button--small  {% if params.highlighted != "true" %}ds_button--secondary{% endif %}  ds_no-margin">
                Download
            </a>
        </div>
    </div>
</div>
