<div class="ds_file-info  {%- if params.highlighted %}  ds_file-info--highlighted{%- endif -%}">
    <div class="ds_file-info__thumbnail">
        <a class="ds_file-info__thumbnail-link" aria-hidden="true" href="{{ params.link }}" tabindex="-1">
            {%- if params.image %}
                <img class="ds_file-info__thumbnail-image" src="{{ params.image }}" alt="">
            {%- else %}
                <img class="ds_file-info__thumbnail-image  ds_file-info__thumbnail-image--generic" src="{{ params.icon }}" alt="">
            {%- endif %}
        </a>
    </div>
    <div class="ds_file-info__content">
        <h3 class="ds_file-info__title">
            <a href="{{ params.link }}" aria-label="{{ params.title }} ({{ params.type }}, {{ params.size }})">{{ params.title }}</a>
        </h3>
        <div class="ds_file-info__details">
            <dl class="ds_metadata  ds_metadata--inline">
                <div class="ds_metadata__item">
                    <dt class="ds_metadata__key  visually-hidden">File type</dt>
                    <dd class="ds_metadata__value">{{ params.type }}</dd>
                </div>
                <div class="ds_metadata__item">
                    <dt class="ds_metadata__key  visually-hidden">File size</dt>
                    <dd class="ds_metadata__value">{{ params.size }}</dd>
                </div>
            </dl>
        </div>
        <div>
            <a aria-hidden="true" href="{{ params.link }}" class="ds_file-info__download  ds_button  ds_button--small  {%- if not params.highlighted %}  ds_button--secondary{% endif %}  ds_no-margin">
                Download
            </a>
        </div>
    </div>
</div>
