{%- for contentblock in params.contentblocks -%}
    {%- if contentblock.pageTitle %}
    {% render '@page-title', contentblock -%}
    {%- elif contentblock.header %}
    {% render '@header', contentblock -%}
    {%- elif contentblock.cards %}
    {% render '@cards', contentblock -%}
    {%- elif contentblock.divider %}
    {% render '@divider', contentblock -%}
    {%- elif contentblock.doubleText %}
    {% render '@double-text', contentblock -%}
    {%- elif contentblock.imageText %}
    {% render '@image-text', contentblock -%}
    {%- elif contentblock.videoText %}
    {% render '@video-text', contentblock -%}
    {%- elif contentblock.text %}
    {% render '@text', contentblock -%}
    {% endif -%}
{% endfor %}