/// [1] default aspect ratio is 16:9
.ds_aspect-box {
    overflow: hidden;
    position: relative;
    padding-bottom: calc(900%/16); /// [1]

    // 1:1 aspect ratio
    &--square {
        padding-bottom: 100%;
    }

    // 4:3 aspect ratio
    &--43 {
        padding-bottom: calc(300%/4);
    }

    // 21:9 (more accurate anamorphic widescreen) aspect ratio
    &--219 {
        padding-bottom: calc(900%/21);
    }

    &__inner {
        height: 100%;
        left: 0;
        max-width: none;
        width: 100%;
        object-fit: cover;
        position: absolute;
        right: 0;
    }
}
