<div class="ds_aspect-box{%- if params.ratio %} {{ params.ratio }}{%- endif -%}">
    <img alt="" aria-hidden="true" class="ds_aspect-box__inner" src="/assets/images/placeholders/thistles.jpg">
</div>
