<div class="ds_aspect-box{%- if params.ratio %} {{ params.ratio }}{%- endif -%}">
    <img{%- if params.altText %} alt="{{ params.altText }}"{%- endif -%}{%- if params.presentation %} aria-hidden="true"{%- endif -%} class="ds_aspect-box__inner" src="/assets/images/placeholders/thistles.jpg" width="656" height="369">
</div>