/*------------------------------------*\
    SEARCH BOX
\*------------------------------------*/

// modifiable vars
$site-search__height: 48px !default;
$site-search__height--medium: 48px !default;
$site-search__background-colour: $ds_colour__grey--light !default;




.ds_site-search {
    box-sizing: border-box;
    color: $ds_colour__text;
    min-height: $site-search__height;

    &__input {
        background: $site-search__background-colour;
        border-width: 0;
        margin-bottom: 0;
        min-height: $site-search__height;
        padding-left: 20px;

        &:focus {
            box-shadow: inset 0 0 0 4px;
        }

        &:not(:focus) {
            outline: 2px solid transparent;
        }
    }

    &--large {
        margin-bottom: $site-search__height;
    }
}

@include ds_media-query(medium) {
    .ds_site-search {
        min-height: $site-search__height--medium;

        &__button {
            height: $site-search__height--medium;
            width: $site-search__height--medium;
        }
    }
}

.ds_reversed .ds_site-search {
    .ds_site-search__button {
        background-color: $ds_colour__brand--secondary;
    }
}
