/*------------------------------------*\
    SEARCH BOX
\*------------------------------------*/

// modifiable vars
$site-search__height: 48px !default;
$site-search__height--medium: 48px !default;
$site-search__background-colour: $ds_colour__grey--light !default;




.#{$pl-prefix}site-search {
    box-sizing: border-box;
    color: $ds_colour__text;
    min-height: $site-search__height;

    &__input[type=text] {
        background: $site-search__background-colour;
        border-width: 0;
        margin-bottom: 0;
        min-height: $site-search__height;
        padding-left: 20px;

        &:focus {
            box-shadow: inset 0 0 0 4px;
        }
    }

    &--large {
        margin-bottom: $site-search__height;
    }
}

@include media-query(medium) {
    .#{$pl-prefix}site-search {
        min-height: $site-search__height--medium;

        &__button {
            height: $site-search__height--medium;
            width: $site-search__height--medium;
        }
    }
}

.#{$pl-prefix}reversed .#{$pl-prefix}site-search {
    .#{$pl-prefix}site-search__button {
        background-color: $ds_colour__brand--secondary;
    }
}

@include media-query(medium-down) {
    .#{$pl-prefix}site-search--collapsible {
        position: absolute;
        right: 16px;
        left: calc(100% - 16px);
        transition: left $transition-in-time;

        .#{$pl-prefix}site-search__input[type="text"] {
            opacity: 0;
            padding: 0;

            transition: all $transition-in-time;
        }
    }

    .#{$pl-prefix}site-search--expanded {
        left: 16px;

        .#{$pl-prefix}site-search__input[type="text"] {
            opacity: 1;
            padding: 0 $site-search__height 0 24px;
        }
    }
}
