<div id="withclose" class="ds_notification-message" aria-live="polite" data-module="ds-notification-message">
	<svg class="ds_notification-message__icon  ds_icon  ds_icon--24" aria-hidden="true" role="img"><use href="/dist/images/icons/icons.stack.svg#check_circle"></use></svg><h3 class="ds_notification-message__title">
		Tenant added successfully
	</h3><div class="ds_notification-message__body">
		<p>You have added a tenant to the <a href="#">application</a>.
        Go to the <a href="#">tenant list</a> to view all tenants.</p>
	</div>
	<button class="ds_notification-message__close  js-close-notification-message" type="button">
		<span class="visually-hidden">Close this notification</span>
		<svg class="ds_icon  ds_icon--fill" aria-hidden="true" role="img">
			<use href="/dist/images/icons/icons.stack.svg#close"></use>
		</svg>
	</button>
</div>

<div id="withoutclose" class="ds_notification-message" aria-live="polite" data-module="ds-notification-message">
	<svg class="ds_notification-message__icon  ds_icon  ds_icon--24" aria-hidden="true" role="img"><use href="/dist/images/icons/icons.stack.svg#check_circle"></use></svg><h3 class="ds_notification-message__title">
		Tenant added successfully
	</h3><div class="ds_notification-message__body">
		<p>You have added a tenant to the <a href="#">application</a>.
        Go to the <a href="#">tenant list</a> to view all tenants.</p>
	</div>
</div>