/*------------------------------------*\
    SIDE NAVIGATION
\*------------------------------------*/

$side-nav__spacing-unit: 15px !default;
$side-nav__outline-width: 3px !default;
$side-nav__expand-color: $color__brand--primary !default;
$side-nav__highlight-color: $color__brand--primary !default;




.#{$pl-prefix}side-navigation {
    @include block-margins;

    border: 1px solid $color__border--light;
    position: relative;

    &__expand {
        @include blocklink;

        background-color: $color__white;
        color: $side-nav__expand-color;
        cursor: pointer;
        font-weight: $bold;
        padding: 14px 45px 14px 15px;
        position: sticky;
        top: 0;
        z-index: 2;
        text-decoration: none;
        transition: background-color $transition-in-time, box-shadow $transition-in-time;

        &--shadow {
            box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
        }

        &:hover:not(:active) {
            background-color: $color__link--hover__background;
        }

        &:hover:active {
            background-color: $color__blocklink-bg--active;
        }

        &:hover .side-navigation__expand-indicator {
            color: $color__link--hover;
        }

        &:active {
            background-color: $color__blocklink-bg--active;
            box-shadow: 0 3px #333333;
            color: $color__link--active;
        }
    }

    &__expand-indicator {
        @include indicator();
    }

    #show-side-navigation:focus ~ .#{$pl-prefix}side-navigation__expand {
        background: $color__blocklink-bg--focus;
        box-shadow: 0 $link__border-width $color__link--focus__shadow;
        color: $color__link--focus;
        transition-duration: 0s;
    }

    #show-side-navigation:checked ~ .#{$pl-prefix}side-navigation__expand .#{$pl-prefix}side-navigation__expand-indicator {
        @include indicator--open();
    }

    #show-side-navigation:checked:not(:active):not(:focus) ~ .#{$pl-prefix}side-navigation__expand:not(:hover) {
        background-color: $color__link--current__background;
        color: $color__link--current;
    }

    #show-side-navigation:checked ~ &__list--root {
        display: block;
    }

    &__list {
        list-style-type: none;
        margin-bottom: 0;
        margin-left: #{$side-nav__outline-width * -1};
        padding: 0 $side-nav__outline-width;

        &--root {
            display: none;
            margin: 7px #{15px - $side-nav__outline-width};
        }
    }

    &__list &__list {
        margin-left: #{$side-nav__spacing-unit * 2};
    }

    &__item {
        position: relative;
        margin-bottom: 0;

        &--has-children {
            > .#{$pl-prefix}side-navigation__link {
                &::after {
                    color: $color__grey--medium;
                    left: $side-nav__spacing-unit;
                    position: absolute;
                    top: 18px;
                    z-index: 1;

                    @include chevron(right, 12px, 2px);
                }

                &:focus::after,
                &:active::after {
                    color: $color__link--focus;
                }
            }

            &--expanded > .#{$pl-prefix}side-navigation__link::after {
                @include chevron(down, 12px, 2px);
                top: 15px;
            }
        }
    }

    &__list &__list &__list &__link {
        padding-left: #{$side-nav__spacing-unit * 2};

        &::before {
            background: $color__grey--light;
            bottom: 7px;
            content: '';
            left: 14px;
            position: absolute;
            right: 100%;
            width: 3px;
            top: 7px;
        }

        &:hover,
        &:focus,
        &.#{$pl-prefix}current {
            &::before {
                background: $side-nav__highlight-color;
            }
        }
    }

    /**
     * [1] vertical padding combines with the margin to form a multiple of seven
     */
    &__link {
        @include blocklink;

        margin-bottom: 3px;
        padding: 13px 42px 12px #{$side-nav__spacing-unit * 3}; /* [1] */
        position: relative;
        text-decoration: none;

        &:hover,
        &.#{$pl-prefix}current {
            position: relative;

            &::before {
                background: $side-nav__highlight-color;
                bottom: 0;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 3px;
            }
        }

        &:active,
        &:focus {
            box-shadow: 0 3px $color__link--active__shadow;
        }

        &:active::before,
        &:focus::before {
            content: none;
        }

        &.#{$pl-prefix}current {
            background-color: $color__link--current__background;

            &:hover {
                background-color: $color__link--current__background;
            }
        }
    }
}

@include media-query(medium-down) {
    .js-enabled .ds_side-navigation {
        .#{$pl-prefix}side-navigation__list--root {
            margin: 0 15px;
            max-height: 0;
            overflow: hidden;
            transition: max-height $transition-in-time, padding $transition-in-time;
        }

        #show-side-navigation:checked ~ .#{$pl-prefix}side-navigation__list--root {
            padding-bottom: 7px;
            padding-top: 7px;
        }
    }
}

@include media-query(medium) {
    .#{$pl-prefix}side-navigation {
        border-width: 0;
        font-size: $small-size;
        line-height: 21px;
        margin-top: 0;

        &__expand {
            display: none;
        }

        &__list--root {
            display: block !important;
            margin: 0;
            max-height: unset !important;
        }

        &__item--has-children::before {
            margin-top: 2px;
        }

        #show-side-navigation {
            display: none;
        }
    }
}
