<nav aria-label="{{ params.label }}" class="ds_side-navigation" data-module="ds-side-navigation">
    <input type="checkbox" class="fully-hidden js-toggle-side-navigation" id="show-side-navigation" aria-controls="side-navigation-root" />
    <label class="ds_side-navigation__expand ds_link" for="show-side-navigation"><span class="visually-hidden">Show all</span> {{ params.longLabel }} <span class="ds_side-navigation__expand-indicator"></span></label>
    <ul class="ds_side-navigation__list" id="side-navigation-root">
        {%- for item in params.menu %}
        <li class="ds_side-navigation__item"{%- if item.current %} aria-current="page"{%- endif %}>
            {%- if item.link %}
            <a href="{{ item.link }}" class="ds_side-navigation__link">{{ item.label }}</a>
            {%- elseif item.current %}
            <span class="ds_side-navigation__link ds_current">{{ item.label }}</span>
            {%- endif %}
            {%- if item.menu %}
            <ul class="ds_side-navigation__list">
                {%- for subItem in item.menu %}
                <li class="ds_side-navigation__item"{%- if subItem.current %} aria-current="page"{%- endif %}>
                    {%- if subItem.link %}
                    <a href="{{ subItemitem.link }}" class="ds_side-navigation__link">{{ subItem.label }}</a>
                    {%- elseif subItem.current %}
                    <span class="ds_side-navigation__link ds_current">{{ subItem.label }}</span>
                    {%- endif %}
                    {%- if subItem.menu %}
                    <ul class="ds_side-navigation__list">
                        {%- for subSubItem in subItem.menu %}
                        <li class="ds_side-navigation__item"{%- if subSubItem.current %} aria-current="page"{%- endif %}>
                            {%- if subSubItem.link %}
                            <a href="{{ subSubItemitem.link }}" class="ds_side-navigation__link">{{ subSubItem.label }}</a>
                            {%- elseif subSubItem.current %}
                            <span class="ds_side-navigation__link ds_current">{{ subSubItem.label }}</span>
                            {%- endif %}
                        </li>
                        {%- endfor %}
                    </ul>
                    {%- endif %}
                </li>
                {%- endfor %}
            </ul>
            {%- endif %}
        </li>
        {%- endfor %}
    </ul>
</nav>