/// SPACING SCALE

/// [1] "null" is the default, i.e. small devices
/// sizes can be specified for any breakpoint, but fewer is better
$ds_spacing-scale: (
  0: (
    null:   0 /// [1]
    ),
  1: (
    null:   0.5rem,
    medium: 0.5rem
    ),
  2: (
    null:   1rem,
    medium: 1rem
    ),
  3: (
    null:   1.5rem,
    medium: 1.5rem
    ),
  4: (
    null:   1.5rem,
    medium: 2rem
    ),
  5: (
    null:   2rem,
    medium: 2.5rem
    ),
  6: (
    null:   2.5rem,
    medium: 3rem
    ),
  7: (
    null:   2.5rem,
    medium: 3.5rem
    ),
  8: (
    null:   3rem,
    medium: 4rem
    ),
  9: (
    null:   3.5rem,
    medium: 4rem
    )
) !default;

$ds_spacing-directions: (
    left: true,
    right: true,
    top: true,
    bottom: true
) !default;

$ds_spacing-properties: (
    gap: true,
    margin: true,
    padding: true
) !default;
