/// SPACING SCALE

/// [1] "null" is the default, i.e. small devices
/// sizes can be specified for any breakpoint, but fewer is better
$ds_spacing-scale: (
  0: (
    null:   0 /// [1]
    ),
  1: (
    null:   px-to-rem(8px),
    medium: px-to-rem(8px)
    ),
  2: (
    null:   px-to-rem(16px),
    medium: px-to-rem(16px)
    ),
  3: (
    null:   px-to-rem(24px),
    medium: px-to-rem(24px)
    ),
  4: (
    null:   px-to-rem(24px),
    medium: px-to-rem(32px)
    ),
  5: (
    null:   px-to-rem(32px),
    medium: px-to-rem(40px)
    ),
  6: (
    null:   px-to-rem(40px),
    medium: px-to-rem(48px)
    ),
  7: (
    null:   px-to-rem(40px),
    medium: px-to-rem(56px)
    ),
  8: (
    null:   px-to-rem(48px),
    medium: px-to-rem(64px)
    ),
  9: (
    null:   px-to-rem(56px),
    medium: px-to-rem(72px)
    )
) !default;

$ds_spacing-directions: (
    left: true,
    right: true,
    top: true,
    bottom: true
) !default;

$ds_spacing-properties: (
    gap: true,
    margin: true,
    padding: true
) !default;
