/*------------------------------------*\
    SEARCH RESULT
\*------------------------------------*/

%xds_search-result__outer {
    border-bottom: 1px solid $ds_colour__border--light;
    border-width: 1px 0;
    margin: 0 -16px;

    &:first-of-type {
        border-top: 1px solid $ds_colour__border--light;
    }
}

%xds_search-result__inner {
    color: $ds_colour__text !important;
    padding: 24px 16px 23px;
    position: relative;
    text-decoration: none;

    @include last-child-no-margin;

    &:first-of-type {
        padding-top: 23px;
    }
}

.ds_search-result {
    @extend %xds_search-result__outer;
    @extend %xds_search-result__inner;

    @include ds_blocklink('.ds_search-result__link');

    &__label {
        font-weight: $bold;
        text-transform: uppercase;
    }

    &__date {
        color: $ds_colour__text--secondary;
        font-weight: $normal;
    }

    &__title {
        color: $ds_colour__link;
        margin-bottom: 8px;
        margin-top: 0 !important;

        transition: color $transition-out-time;
    }
}

@include ds_media-query(medium) {
    .ds_search-result {
        margin-left: 0;
        margin-right: 0;
    }
}
