/*------------------------------------*\
    SEARCH RESULT
\*------------------------------------*/

.ds_search-result {
    @include ds_responsive-padding(2, top);
    @include ds_responsive-padding(2, bottom);

    border-bottom: 1px $ds_colour__border solid;

    &__title {
        @include ds_h3-style;
        margin: 0 0 4px !important; // !important needed to support deprecated markup
    }

    &__summary {
        @include ds_root-size(4px); // Use 4px type grid
        margin: 0;
    }

    &__metadata {
        @include ds_responsive-margin(1, top);
        @include ds_tiny-size(4px);
        margin-bottom: 0;
    }

    &__has-media {
        display: flex;
    }

    // So the minimum size would be 90x90px and that would be fluid with the container and top out at a maximum size of 132x132px once it reached 479px?
    &__media {
        width: 20%;
        max-width: 132px;
    }

    &__context {
        margin: 0;
        padding: 0;
        @include ds_responsive-margin(2, top);
        @include ds_responsive-padding(2, left, $tuning: 3px);
        @include ds_small-size(4px); // Use 4px type grid
        position: relative;
        
        &:before {
            background: $ds_colour__blue;
            content: '';
            height: nearest-grid-size(($small-size * 1.5), $grid: 4px); // Match height to line-height
            position: absolute;
                top: 0;
                left: 0;
            width: 3px;
        }

        &-key {
            margin: 0;
            padding: 0;
        }

        &-value {
            margin: 0;
            padding: 0;
            @include ds_root-size(4px); // Use 4px type grid
            @include ds_responsive-margin(1, top);
        }

    }

    &__sublinks {
        margin-bottom: 0;
        @include ds_responsive-margin(2, top);

        &-title {
            @include ds_visually-hidden;
        }
    }

}
