/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

$button__border-width: 2px !default;
$button__outline-width: 3px !default;
$button__height: 48px !default;
$button__height--small: 40px !default;
$button__padding--x: 16px !default;




button,
input[type="button"],
input[type="submit"],
.#{$pl-prefix}button {
    background: $colour__button__background;
    border: 0;
    border-radius: 0;
    color: $colour__button;
    cursor: pointer;
    display: inline-block;
    font-size: $small-size;
    font-weight: $bold;
    line-height: 24px;
    outline-width: 0;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color $transition-out-time;

    @include block-margins;

    &:hover,
    &:focus {
        outline-width: 0;
    }

    &:hover {
        background-color: $colour__button--hover__background;
        color: $colour__button;
        transition-duration: $transition-in-time;
    }

    &:focus {
        background-color: $colour__button--focus__background;
        box-shadow: 0 $link__border-width $colour__link--focus__shadow;
        color: $colour__button--focus;
        outline-color: $colour__button--focus__background;

        transition-duration: 0s;
    }

    // ICONS ON BUTTONS
    .#{$pl-prefix}icon {
        pointer-events: none;
    }

    &[disabled] {
        background-color: $colour__grey--base;
        box-shadow: none;
        color: $colour__white;
        font-weight: $normal;
        outline: none;
        pointer-events: none;
    }
}

.#{$pl-prefix}reversed .#{$pl-prefix}button {
    background-color: $colour__white;
    color: $colour__button__background;

    &:focus,
    &:hover:focus {
        background-color: $colour__blocklink-bg--focus;
    }

    &:hover {
        background-color: $colour__blocklink-bg--hover;
    }

    &--secondary {
        background-color: transparent;
        border-color: currentColor;
        color: $colour__white;

        &:hover:not(:focus) {
            background-color: rgba(red($colour__brand), green($colour__brand), blue($colour__brand), 0.3);
            color: $colour__white;
        }
    }
}

.#{$pl-prefix}button {
    &--secondary {
        background-color: $colour__button--secondary__background;
        color: $colour__button--secondary;
        outline: 2px solid currentColor;
        outline-offset: -2px;

        &:hover,
        &:focus {
            outline-width: 2px;
        }

        &:hover:not(:focus){
            background-color: $colour__button--secondary--hover__background;
            color: $colour__button--secondary--hover;
        }
    }

    &--cancel {
        background-color: $colour__button--cancel__background;
        color: $colour__button--cancel;
        outline: 2px solid currentColor;
        outline-offset: -2px;

        &:hover,
        &:focus {
            outline-width: 2px;
        }

        &:hover:not(:focus) {
            background-color: $colour__button--cancel--hover__background;
            color: $colour__button--cancel;
        }
    }
}

// SIZE VARIANTS
.#{$pl-prefix}button {
    &--small {
        font-size: $small-size;
        padding-top: 10px;
        padding-bottom: 11px;

        @include media-query(medium) {
            font-size: $small-size--medium;
        }
    }
}

// WIDTH VARIANTS
.#{$pl-prefix}button {
    &--fixed {
        width: 200px;

        &.#{$pl-prefix}button--small {
            width: 160px;
        }
    }

    &--max {
        max-width: 480px;
        width: 100%;
    }
}

// STACKED BUTTONS
.#{$pl-prefix}button-group {
    @include block-margins;

    > .#{$pl-prefix}button {
        margin: 0 0 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.#{$pl-prefix}button {
    &--has-icon {
        padding-right: calc(#{$button__height} + #{$button__padding--x});
        position: relative;

        > .#{$pl-prefix}icon {
            bottom: 0;
            padding: 10px 10px 11px 11px;
            position: absolute;
            right: 0;
            top: 0;
            width: $button__height;
        }

        &--left {
            padding-left: calc(#{$button__height} + #{$button__padding--x});
            padding-right: #{$button__padding--x};

            > .#{$pl-prefix}icon {
                left: 0;
                right: auto;
            }
        }
    }

    &--small.#{$pl-prefix}button--has-icon {
        padding-right: calc(16px + #{$button__padding--x});

        &--left {
            padding-right: 16px;
            padding-left: calc(16px + #{$button__padding--x});
        }

        > .#{$pl-prefix}icon {
            height: $button__height--small;
            padding: 10px;
            width: $button__height--small;
        }
    }
}

// ICON-ONLY BUTTONS
.#{$pl-prefix}button--icon-only {
    height: $button__height;
    padding: 10px 10px 11px 11px;
    width: $button__height;

    &.#{$pl-prefix}button--small {
        height: $button__height--small;
        padding: 10px;
        width: $button__height--small;
    }
}
