/*------------------------------------*\
    DATE PICKER
\*------------------------------------*/




.#{$pl-prefix}datepicker {
    position: relative;

    &__dialog {
        background-color: $ds_colour__white;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        display: none;
        padding: 8px;
        outline: 1px solid $ds_colour__border;
        outline-offset: -1px;
        position: absolute;
        top: 0;
        transition: background-color 0.2s, outline-color 0.2s;
        width: 296px;
        z-index: 2;

        &__header {
            text-align: center;

            > :nth-child(1) {
                position: absolute;
                left: 8px;
                top: 8px;
            }

            > :nth-child(3) {
                position: absolute;
                right: 8px;
                top: 8px;
            }
        }

        &__title {
            @include small-size;
            margin: 0 !important;
            text-transform: uppercase;
        }

        &__navbuttons {
            button {
                background-color: transparent;
                color: $ds_colour__text !important;
                font-weight: $normal;
                min-height: 40px;
                margin: 0;
                padding: 4px;
                min-width:  32px;

                @include blocklink(null, inline-block);

                .#{$pl-prefix}icon {
                    height: 32px;
                    padding: 0;
                    position: static;
                    width: 24px;
                }
            }
        }

        &__table {

            tbody:focus-within {
                outline: 2px solid $ds_colour__link--focus__background;
            }

            td {
                border: 0;
                margin: 0;
                outline: 0;
                padding: 0;
            }

            th {
                @include small-size;
                color: $ds_colour__text--secondary;
                font-weight: $normal;
            }

            button {
                background-color: transparent;
                color: $ds_colour__text;
                font-weight: $normal;
                min-height: 40px;
                margin: 0;
                padding: 0;
                min-width: 40px;

                @include blocklink;

                &[disabled="true"] {
                    background-color: $ds_colour__link--disabled__background;
                    color: $ds_colour__link--disabled;
                }

                &.#{$pl-prefix}datepicker__current {
                    $dp-current-outline-width: 2px;
                    outline: $dp-current-outline-width solid $ds_colour__border--dark !important;
                    outline-offset: #{$dp-current-outline-width * -1};
                }

                &.#{$pl-prefix}datepicker__current[tabindex="-1"] {
                    background: $ds_colour__grey--lighter;
                    color: currentColor;
                }

                &.#{$pl-prefix}datepicker__today {
                    font-weight: $bold;

                    &::after {
                        background-color: currentColor;
                        border-radius: 4px;
                        bottom: 6px;
                        content: '';
                        height: 4px;
                        left: 50%;
                        margin-left: -2px;
                        position: absolute;
                        width: 4px;
                    }
                }

                &.#{$pl-prefix}selected:not(:focus) {
                    background-color: $ds_colour__text;
                    color: $ds_colour__white;
                }
            }
        }

        &__table-caption {
            @include tiny-size;
            caption-side: bottom;
            margin-top: 8px;
        }

        &__buttongroup {
            @include layout(8px);
            overflow: visible;

            // non-grid
            button {
                @include colwidth(1,2,8px);
                display: block;
                float: left;
                margin: 0;
            }

            @supports (display: grid) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@include media-query(medium-down) {
    .#{$pl-prefix}datepicker {

        &__dialog {
            clear: both;
            position: static;

            &__header {
                position: relative;

                > :nth-child(1) {
                    left: 0;
                    top: -2px;
                }

                > :nth-child(3) {
                    right: 0;
                    top: -2px;
                }
            }
        }
    }
}
