/*------------------------------------*\
    DATE PICKER
\*------------------------------------*/

$date-picker-focus-outline-width: 2px;
$date-picker-focus-border-width: 3px;

.ds_datepicker {
    position: relative;
    @include ds_responsive-margin(3, bottom);

    .ds_input {
        margin-bottom: 0;
    }

    &__input-wrapper {
        display: flex;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    &__dialog {
        @include ds_box-shadow;

        background-color: $ds_colour__background--primary;
        clear: both;
        display: none;
        padding: 8px;
        outline: 1px solid $ds_colour__border;
        outline-offset: -1px;
        position: static;
        top: 0;
        transition: background-color 0.2s, outline-color 0.2s;
        width: 296px;
        z-index: 2;

        &--open {
            display: block;

            @supports (left: var(--ds-date-picker-left-offset)) {
                left: var(--ds-date-picker-left-offset);
            }
        }

        &__header {
            position: relative;
            text-align: center;

            > :nth-child(1) {
                position: absolute;
                left: 0;
                top: -2px;
            }

            > :nth-child(3) {
                position: absolute;
                right: 0;
                top: -2px;
            }
        }

        &__title {
            @include ds_small-size;
            line-height: line-height-on-grid($small-size, 2);
            margin: 0 !important;
            text-transform: uppercase;
        }

        &__navbuttons {
            button {
                background-color: transparent;
                color: $ds_colour__text;
                font-weight: $normal;
                min-height: 40px;
                margin: 0;
                padding: 4px;
                min-width:  32px;

                @include ds_blocklink;
                display: inline-block;

                &:hover {
                    color: currentColor;
                }

                .ds_icon {
                    height: 32px;
                    padding: 0;
                    position: static;
                    width: 24px;
                }
            }
        }

        &__table {

            tbody:focus-within {
                outline: $date-picker-focus-outline-width solid $ds_colour__link--focus__background;

                @include ds_media-query-high-contrast {
                    outline-color: highlight;
                }
            }

            td {
                border: 0;
                margin: 0;
                outline: 0;
                padding: 0;
            }

            th {
                @include ds_small-size;
                color: $ds_colour__text--secondary;
                font-weight: $normal;
            }

            button {
                background-color: transparent;
                border-width: 0;
                color: $ds_colour__text;
                font-weight: $normal;
                min-height: 40px;
                margin: 0;
                padding: 0;
                min-width: 40px;

                @include ds_small-size;
                @include ds_blocklink;

                &:focus {
                    transition-duration: 0s;
                }

                &[disabled="true"],
                &[aria-disabled="true"] {
                    background-color: $ds_colour__link--disabled__background;
                    color: $ds_colour__link--disabled;
                    pointer-events: none;

                    &:focus {
                        box-shadow:
                            inset 0 #{$date-picker-focus-border-width * -1} $ds_colour__focus, // bottom shadow
                            inset 0 $date-picker-focus-outline-width $ds_colour__focus--background, // top
                            inset #{$date-picker-focus-outline-width * -1} 0 $ds_colour__focus--background, // right
                            inset 0 #{($date-picker-focus-outline-width + $date-picker-focus-border-width) * -1} $ds_colour__focus--background, // bottom
                            inset $date-picker-focus-outline-width 0 $ds_colour__focus--background; // left
                    }
                }

                &.ds_datepicker__current {
                    $dp-current-outline-width: 2px;
                    outline: $dp-current-outline-width solid $ds_colour__border--strong !important;
                    outline-offset: #{$dp-current-outline-width * -1};
                }

                &.ds_datepicker__current[tabindex="-1"] {
                    background: $ds_colour__link--current__background;
                    color: currentColor;
                }

                &.ds_datepicker__today {
                    font-weight: $bold;

                    &::after {
                        background-color: currentColor;
                        border-radius: 4px;
                        bottom: 6px;
                        content: '';
                        height: 4px;
                        left: 50%;
                        margin-left: -2px;
                        position: absolute;
                        width: 4px;
                    }
                }

                &.ds_selected:not(:focus) {
                    background-color: $ds_colour__text;
                    color: $ds_colour__text--reversed;
                }

                /*
                 * helps with focus in windows high contrast
                 */
                &:focus {
                    color: $ds_colour__focus;
                    position: relative;
                    z-index: 2; // [1]
                }
            }
        }

        &__table-caption {
            @include ds_tiny-size;
            caption-side: bottom;
            line-height: 2;
            margin-top: 8px;
        }

        &__buttongroup {
            @include ds_layout(8px);
            overflow: visible;

            // non-grid
            button {
                @include ds_colwidth(1,2,8px);
                display: block;
                float: left;
                margin: 0;
            }

            @supports (display: grid) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    &__button {
        @include ds_small-size;
        @include ds_button-sizing--small;

        align-self: end;
    }
}

@include ds_media-query (medium) {
    .ds_datepicker {
        &__dialog {
            position: absolute;

            &__title {
                line-height: line-height-on-grid($small-size--medium, 1.5);
                padding: 8px 0;
            }

            &__header {
                > :nth-child(1) {
                    // left: 8px;
                    top: 0;
                }

                > :nth-child(3) {
                    // right: 8px;
                    top: 0;
                }
            }

            &__table th {
                line-height: line-height-on-grid($small-size--medium, 2);
            }

            &__table-caption {
                line-height: line-height-on-grid($tiny-size--medium, 2);
            }
        }
    }
}
