<div class="date-entry  ds_question">
    <label class="ds_label" for="first-payment-date">When will your tenant make this first payment?</label>
    <div class="ds_hint-text">
        <p>Use DD/MM/YYYY format.</p>
    </div>

    <div id="basic" data-module="ds-datepicker" class="ds_datepicker">
        <div class="ds_input__wrapper">
            <input class="ds_input  ds_input--fixed-10" type="text" placeholder="e.g. 01/12/2020" />
        </div>
    </div>
</div>

<div class="date-entry  ds_question">
    <label class="ds_label" for="first-payment-date">When will your tenant make this first payment?</label>
    <div class="ds_hint-text">
        <p>Use DD/MM/YYYY format.</p>
    </div>

    <div id="minmaxdate" data-module="ds-datepicker" class="ds_datepicker">
        <div class="ds_input__wrapper">
            <input data-mindate="06/01/2020" data-maxdate="06/01/2021" class="ds_input  ds_input--fixed-10" type="text" placeholder="e.g. 01/12/2020" />
        </div>
    </div>
</div>

<div class="date-entry  ds_question">
    <label class="ds_label" for="first-payment-date">When will your tenant make this first payment?</label>
    <div class="ds_hint-text">
        <p>Use DD/MM/YYYY format.</p>
    </div>

    <div id="mindateoutofbounds" data-module="ds-datepicker" class="ds_datepicker">
        <div class="ds_input__wrapper">
            <input data-mindate="06/01/2120" class="ds_input  ds_input--fixed-10" type="text" placeholder="e.g. 01/12/2020" />
        </div>
    </div>
</div>

<div class="date-entry  ds_question">
    <label class="ds_label" for="first-payment-date">When will your tenant make this first payment?</label>
    <div class="ds_hint-text">
        <p>Use DD/MM/YYYY format.</p>
    </div>

    <div id="maxdateoutofbounds" data-module="ds-datepicker" class="ds_datepicker">
        <div class="ds_input__wrapper">
            <input data-maxdate="06/01/1920" class="ds_input  ds_input--fixed-10" type="text" placeholder="e.g. 01/12/2020" />
        </div>
    </div>
</div>

<div class="date-entry  ds_question">
    <label class="ds_label" for="first-payment-date">When will your tenant make this first payment?</label>
    <div class="ds_hint-text">
        <p>Use DD/MM/YYYY format.</p>
    </div>

    <div id="noinput" data-module="ds-datepicker" class="ds_datepicker">

    </div>
</div>

<div class="date-entry  ds_question">
    <label class="ds_label" for="first-payment-date">When will your tenant make this first payment?</label>
    <div class="ds_hint-text">
        <p>Use DD/MM/YYYY format.</p>
    </div>

    <div id="multiple" data-module="ds-datepicker" class="ds_datepicker  ds_datepicker--multiple">
        <div class="ds_datepicker__input-wrapper">
            <div>
                <label class="ds_label" for="day">Day</label>
                <input id="day" class="ds_input ds_input--fixed-2  js-datepicker-date" />
            </div>

            <div>
                <label class="ds_label" for="month">Month</label>
                <input id="month" class="ds_input ds_input--fixed-2  js-datepicker-month" />
            </div>

            <div>
                <label class="ds_label" for="year">Year</label>
                <input id="year" class="ds_input ds_input--fixed-4  js-datepicker-year" />
            </div>
        </div>
    </div>
</div>
