<div data-module="ds-datepicker" class="ds_datepicker">
  <label class="ds_label" for="start-date">{{ params.label }}</label>
  <div class="ds_input__wrapper">
    <input id="start-date" data-maxdate="19/09/2020" data-mindate="09/08/2020" placeholder="dd/mm/yyyy" type="text" class="ds_input ds_input--fixed-10" />
  </div>
</div>