/*------------------------------------*\
    LINK ITEM
    Navigation element for a simple link with supporting metadata
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_link-item {
    border-bottom: 0.125rem settings.$ds_colour__border--faint solid;
    margin: 0;
    @include helpers.ds_responsive-padding (3, bottom, $tuning: -0.125rem);

    &__title {
        @include helpers.ds_h3-size();
        margin: 0 !important;
    }

    &__link {
        display: inline-block;
    }

    &__summary {
        margin: 0;
        @include helpers.ds_small-size();
        @include helpers.ds_responsive-margin (1, top);
    }


    &__image-link {
        display: block;
    }

    &__image {
        display: block;
        margin-bottom: 0.5rem;
    }

    &__metadata {
        .ds_metadata--inline {
            line-height: 1.5rem; // override on default
            margin-bottom: 0;
        }
    }
}
