/*------------------------------------*\
    LINK ITEM
    Navigation element for a simple link with supporting metadata
\*------------------------------------*/

.ds_link-item {
    @include ds_responsive-padding (3, bottom, $tuning: -2px);
    border-bottom: 2px $ds_colour__border--faint solid;
    margin: 0;

    &__title {
        @include ds_h3-size();
        margin: 0 !important;
    }

    &__link {
        display: inline-block;
    }

    &__summary {
        @include ds_small-size();
        margin: 0;
        @include ds_responsive-margin (1, top);
    }
}
