/*------------------------------------*\
    LINK ITEM
    Navigation element for a simple link with supporting metadata
\*------------------------------------*/

.ds_link-item {
    border-bottom: 2px $ds_colour__border--faint solid;
    margin: 0;
    @include ds_responsive-padding (3, bottom, $tuning: -2px);

    &__title {
        margin: 0 !important;
        @include ds_h3-size();
    }

    &__summary {
        margin: 0;

        & {
            @include ds_small-size();
        }

        & {
            @include ds_responsive-margin (1, top);
        }
    }
}
