<{{ params.itemTag }} class="ds_link-item">
    {%- if params.metadata %}
    <div class="ds_link-item__metadata">
        {% render '@metadata', params.metadata %}
    </div>
    {% endif -%}
    {%- if params.heading %}
    <{{ params.heading.level }} class="ds_link-item__title">
        <a href="{{ params.link }}" class="ds_link-item__link">{{ params.heading.label }}</a>
    </{{ params.heading.level }}>
    {%- endif %}
    {%- if params.content %}
    <p class="ds_link-item__summary">{{ params.content }}</p>
    {%- endif %}
</{{ params.itemTag }}>