/*------------------------------------*\
    BREAKPOINT CHECK
\*------------------------------------*/

@use "../../helpers";

.ds_breakpoint-check {
    display: none;

    @include helpers.ds_media-query(small) {
        &.ds_breakpoint-check--small {
            display: block;
        }
    }

    @include helpers.ds_media-query(medium) {
        &.ds_breakpoint-check--medium {
            display: block;
        }
    }

    @include helpers.ds_media-query(large) {
        &.ds_breakpoint-check--large {
            display: block;
        }
    }

    @include helpers.ds_media-query(xlarge) {
        &.ds_breakpoint-check--xlarge {
            display: block;
        }
    }
}
