/*------------------------------------*\
    CURRENCY WRAPPER
\*------------------------------------*/

@use "../../base/helpers";
@use "../../base/settings";

.ds_currency-wrapper {
    position: relative;

    &::before {
        @include helpers.ds_large-size;
        content: '£';
        height: settings.$input-min-height;
        font-weight: settings.$bold;
        line-height: settings.$input-min-height !important;
        pointer-events: none;
        position: absolute;
        text-align: center;
        top: 0;
        width: 2.5rem;
    }

    &[data-symbol]::before {
        content: attr(data-symbol);
    }

    & > .ds_input {
        padding-left: 2.5rem;
    }

    & > .ds_input:focus {
        padding-left: 2.4375rem;
    }


}
