/*------------------------------------*\
    TABLES
\*------------------------------------*/

$table-border-colour: $ds_colour__grey--medium !default;
$table-border-colour--light: $ds_colour__grey--light !default;
$table-header-background-colour: $ds_colour__grey--light !default;
$table-row-hover-colour: $ds_colour__grey--lighter !default;




.ds_table {
    // table-layout: fixed;
    width: 100%;

    tbody,
    thead,
    tfoot {
        border: 1px solid $table-border-colour;
    }

    th {
        background-color: $table-header-background-colour;
        font-weight: $bold;
        position: relative;
        text-align: left;
    }

    th,
    td {
        vertical-align: top;
    }

    th[colspan] {
        border: 1px solid $table-border-colour;
    }

    th:not(:first-child)::before {
        border-left: 1px solid $table-border-colour;
        bottom: 8px;
        content: '';
        left: -1px;
        position: absolute;
        top: 8px;
    }

    tr > * {
        padding: 8px 16px 8px 8px;
    }


    tr {
        border-bottom: 1px solid $table-border-colour--light;
    }

    tr:last-child {
        border-bottom-color: $table-border-colour;
    }

    thead > tr:last-child {
        border-bottom-width: 0;
    }

    tbody > tr > td {
        background-color: $ds_colour__white;
    }

    tbody > tr:nth-child(even) > td {
        background-color: $ds_colour__grey--lighter;
    }

    caption {
        @include ds_responsive-margin(2, bottom);
        font-size: px-to-rem($root-font-size); // 1rem
        font-weight: $bold;
        line-height: line-height-on-grid($root-font-size);
        text-align: left;
    }
}

@include ds_media-query(medium-down) {
    .ds_table.js-is-scrolling {
        &[data-smallscreen="scrolling"] {
            display: block;
            max-width: 100%;
            overflow-x: auto;
        }

        &[data-smallscreen="scrolling"] tr > :first-child {
            left: 0;
            position: sticky;
            z-index: 1;
        }

        &[data-smallscreen="scrolling"] caption {
            display: block;
            left: 0;
            position: sticky;
        }

        &[data-smallscreen="scrolling"] tr > :first-child::after {
            background: linear-gradient(90deg, rgba(0,0,0,0.07), rgba(0,0,0,0));
            content: '';
            height: 100%;
            position: absolute;
            right: -10px;
            top: 0;
            width: 10px;
        }

        &[data-smallscreen="scrolling"] tr > :first-child::before {
            background: $table-border-colour;
            content: '';
            height: 100%;
            left: -1px;
            position: absolute;
            top: 0;
            width: 1px;
        }

        &[data-smallscreen="scrolling"] tr > th:first-child {
            background: $table-header-background-colour;
        }

        &[data-smallscreen="scrolling"] tr > td:first-child {
            border-right: 1px solid $table-header-background-colour;
        }
    }

    .js-enabled {
        .ds_table {
            &[data-smallscreen="boxes"] thead {
                clip: rect(1px 1px 1px 1px);
                clip: rect(1px, 1px, 1px, 1px);
                height: 1px;
                width: 1px;
                overflow: hidden;
                position: absolute !important;
            }

            &[data-smallscreen="boxes"] {
                border: 0;
            }

            &[data-smallscreen="boxes"] tbody {
                border: none;
            }

            &[data-smallscreen="boxes"] tr {
                border: 0;
                display: block;
                margin-bottom: 16px;
            }

            &[data-smallscreen="boxes"] tr > * {
                display: block;
                overflow: auto;
                padding-left: calc(50% - 8px);
                position: relative;
            }

            &[data-smallscreen="boxes"] tr > * {
                border: 1px solid $table-border-colour;
            }

            &[data-smallscreen="boxes"] tr > td:not(:last-child) {
                border-bottom-color: $table-border-colour--light;
            }

            &[data-smallscreen="boxes"] tr > th:last-child {
                border-width: 0;
                margin-top: 32px;
            }

            &[data-smallscreen="boxes"] tr > td:not(:first-child) {
                border-top-width: 0;
            }

            &[data-smallscreen="boxes"] tr > td::before {
                content: attr(data-heading);
                display: block;
                position: absolute;
                font-weight: $bold;
                left: 0;
                margin-left: 16px;
                margin-right: 16px;
                text-align: left;
                width: calc(50% - 16px);
            }

            &[data-smallscreen="boxes"] tr > td:first-child {
                box-shadow: inset 0 4px 0 $table-border-colour--light;
                padding-top: 11px
            }

            &[data-smallscreen="boxes"] tr > td:nth-child(odd) {
                background-color: $ds_colour__white;
            }

            &[data-smallscreen="boxes"] tr > td:nth-child(even) {
                background-color: $ds_colour__grey--lighter;
            }

        }
    }
}
