/// Button sizing
///
/// Common definitions for consistent button sizing

$button__height: 3.5rem !default;
$button__height--small: 3rem !default;

@mixin button-sizing ($icon: true) {
    min-height: $button__height;
    min-width: $button__height;
    padding: 1rem;

    @if $icon {
        > .ds_icon {
            height: 2.5rem;
            padding: 0.5rem;
            width: 2.5rem;
        }
    }
}

@mixin button-sizing--small ($icon: true) {
    min-height: $button__height--small;
    min-width: $button__height--small;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    @if $icon {
        > .ds_icon {
            height: 2rem;
            padding: 0.5rem;
            width: 2rem;
        }
    }
}
