/// Button sizing
///
/// Common definitions for consistent button sizing

@use "../../settings";

$button__height: settings.$ds_button__height !default; 
$button__height--small: settings.$ds_button__height--small !default;

@mixin ds_button-sizing ($icon: true) {
    min-height: $button__height;
    min-width: $button__height;
    padding: 1rem;

    @if $icon {
        > .ds_icon {
            height: 2.5rem;
            padding: 0.5rem;
            width: 2.5rem;
        }
    }
}

@mixin ds_button-sizing--small ($icon: true) {
    min-height: $button__height--small;
    min-width: $button__height--small;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    @if $icon {
        > .ds_icon {
            height: 2rem;
            padding: 0.5rem;
            width: 2rem;
        }
    }
}
