/*------------------------------------*\
    $BREADCRUMBS
\*------------------------------------*/

// fixed vars
$breadcrumbs__colour: $ds_colour__text--secondary;
$breadcrumbs__font-size: $small-size--fixed;




.ds_breadcrumbs {
    color: $breadcrumbs__colour;
    font-size: $breadcrumbs__font-size;
    line-height: 24px;
    padding-left: 0;
    margin: 24px 0 16px;

    &__item {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    &__item:not(:first-child){
        .ds_breadcrumbs__link {
            margin-left: -2px; // Negative margin to offset the 2px outline on links
        }

        &::before {
            @include ds_chevron(right, 0.333333em);
            margin: 0 8px 0 6px;
            position: relative;
            top: -1px;
        }
    }

    &__container {
        padding-top: 16px;
    }

    @include ds_media-query(medium) {
        &__container {
            padding-top: 24px;
        }
    }

    @supports (display: flex) {
        display: flex;
        flex-wrap: wrap;
    }
}

.ds_reversed .ds_breadcrumbs {
    color: $ds_colour__text--reversed;
}
