/*------------------------------------*\
    $BREADCRUMBS
\*------------------------------------*/

// fixed vars
$breadcrumbs__colour: $colour__text--secondary;
$breadcrumbs__font-size: $small-size--fixed;




.#{$pl-prefix}breadcrumbs {
    color: $breadcrumbs__colour;
    font-size: $breadcrumbs__font-size;
    line-height: 24px;
    padding-left: 0;
    margin: 24px 0 16px;

    &__item {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 0;
        padding: 0;
    }

    &__item:not(:first-child)::before {
        @include chevron(right, 0.5em);
        margin: 0 2px 1px 2px;
    }

    &__container {
        padding-top: 16px;
    }

    @include media-query(medium) {
        &__container {
            padding-top: 24px;
        }
    }
}

.#{$pl-prefix}reversed .#{$pl-prefix}breadcrumbs {
    color: $colour__white;
}
