/*------------------------------------*\
    $BREADCRUMBS
\*------------------------------------*/

// fixed vars
$breadcrumbs__colour: $ds_colour__text--secondary;
$breadcrumbs__font-size: $small-size--fixed;




.ds_breadcrumbs {
    color: $breadcrumbs__colour;
    font-size: $breadcrumbs__font-size;
    line-height: 24px;
    padding-left: 0;
    margin: 24px 0 16px;

    &__item {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 0;
        padding: 0;
    }

    &__item:not(:first-child)::before {
        @include ds_chevron(right, 0.333333em);
        margin: 0 4px 0 2px;
        position: relative;
        top: -1px;
    }

    &__container {
        padding-top: 16px;
    }

    @include ds_media-query(medium) {
        &__container {
            padding-top: 24px;
        }
    }
}

.ds_reversed .ds_breadcrumbs {
    color: $ds_colour__white;
}
