<nav aria-label="Breadcrumb">
    <ol class="ds_breadcrumbs">
        {%- for breadcrumb in params.breadcrumbs -%}
        <li class="ds_breadcrumbs__item" {%- if breadcrumb.current %} aria-current="page"{%- endif %}>
            {%- if breadcrumb.link %}
            <a class="ds_breadcrumbs__link" href="#">{{ breadcrumb.label }}</a>
            {%- else %}
            {{ breadcrumb.label }}
            {%- endif %}
        </li>
        {%-  endfor %} 
    </ol>
</nav>