/*------------------------------------*\
    FOCUS
    Default focus indicator
\*------------------------------------*/

$ds_focus__outline-width: 0.125em !default;
$ds_focus__shadow-width: 0.16em !default;
$ds_focus__input-shadow-width: 0.125em !default;