/*------------------------------------*\
    CALLOUT
    Deprecated. Consider 'Inset text' or 'Notification message' instead.
\*------------------------------------*/

.ds_callout {
    @include ds_block-margins;
    @include ds_responsive-padding(2, top);
    @include ds_responsive-padding(2, bottom);
    @include ds_responsive-padding(3, left);
    @include ds_responsive-padding(3, right);
    @include ds_last-child-no-margin;

    background: $ds_colour__background--secondary;
    border-left: 4px solid $ds_colour__brand;

    &--no-border {
        border: none;
    }

    &__label.ds_content-label {
        color: $ds_colour__brand;
        font-size: $small-size--fixed;
    }

    &__label +  &__title {
        margin-top: 0;
    }
}
