/*------------------------------------*\
    CALLOUT
\*------------------------------------*/

.ds_callout {
    @include ds_block-margins;

    background: $ds_colour__grey--lighter;
    border-left: 4px solid $ds_colour__brand;
    padding: 16px 24px;

    &__label.ds_content-label {
        color: $ds_colour__brand;
        font-size: $small-size--fixed;
    }

    &__title {
        @include ds_h1-size;
        line-height: 32px;
        margin-bottom: 16px;
    }

    &__label +  &__title {
        margin-top: 0;
    }

    &__content {
        @include ds_last-child-no-margin;
    }
}

@include ds_media-query(medium) {
    .ds_callout {
        padding: 32px;

        &__title {
            line-height: 56px;
        }
    }
}
