/*------------------------------------*\
    COLOUR DEFINITIONS
\*------------------------------------*/

// Using a BEM-like syntax for variable names.

// Palette
$color__white:          #ffffff !default;
$color__black:          #000000 !default;

$color__blue--lighter:  #e5f0f8 !default;
$color__blue--light:    #d9effc !default;
$color__blue--base:     #0065bd !default;
$color__blue--dark:     #00437e !default;
$color__blue--darker:   #002d54 !default;

$color__grey--lighter:  #f8f8f8 !default;
$color__grey--light:    #ebebeb !default;
$color__grey--pale:     #e3e3e3 !default;
$color__grey--medium:   #b3b3b3 !default;
$color__grey--base:     #727272 !default;
$color__grey--dark:     #333333 !default;

$color__red--base:      #d32205 !default;
$color__gold--base:     #ffb644 !default;
$color__green--base:    #428542 !default;
$color__orange--base:   #e87621 !default; // used for ppt icon

$color__hotpink--light: #fcc2f3 !default;
$color__hotpink--slightlylight:  #ff00df !default; // gives 3:1 contrast ratio against blue base
$color__hotpink--base:  #f700d0 !default;



// branding
$color__brand--primary:     $color__blue--base !default;
$color__brand--secondary:   $color__blue--darker !default;
$brand-gradient-direction:  right !default;




// type
$color__body:           $color__grey--dark !default;
$color__placeholder:    $color__grey--base !default;




// links
$color__link:                       $color__blue--base !default;
$color__link--hover:                $color__blue--dark !default;
$color__link--hover__background:    $color__blue--light !default;
$color__link--active:               $color__body !default;
$color__link--active__background:   $color__hotpink--light !default;
$color__link--focus:                $color__blue--dark !default;
$color__link--focus__outline:       $color__hotpink--base !default;
$color__link--current:              $color__body !default;
$color__link--current__background:  $color__grey--lighter !default;




// block links
$color__blocklink-bg:               $color__white !default;
$color__blocklink-bg--hover:        $color__link--hover__background !default;
$color__blocklink-bg--active:       $color__link--active__background !default;
$color__blocklink--focus__outline:  $color__link--focus__outline !default;




// buttons
$color__button:                     $color__white !default;
$color__button__background:         $color__brand--primary !default;
$color__button--hover__background:  $color__link--hover !default;
$color__button--active:             $color__link--active !default;
$color__button--active__background: $color__link--active__background !default;
$color__button--active__outline:    $color__button--active__background !default;
$color__button--focus__outline:     $color__link--focus__outline !default;

$color__button--secondary:                      $color__link !default;
$color__button--secondary__background:          transparent !default;
$color__button--secondary--hover:               $color__link--hover !default;
$color__button--secondary--hover__background:   $color__link--hover__background !default;
$color__button--secondary--focus:               $color__link--focus !default;
$color__button--cancel:                         $color__body !default;
$color__button--cancel__background:             $color__button--secondary__background !default;
$color__button--cancel--hover__background:      $color__button--secondary--hover__background !default;




// input
$color__input--focus__background:   $color__blue--lighter !default;
$color__input--focus__outline:      $color__link--focus__outline !default;




// borders
$color__border--dark: $color__grey--dark;
$color__border--base: $color__grey--medium;
$color__border--light: $color__grey--light;
