/*------------------------------------*\
    LINKS
\*------------------------------------*/




a,
.#{$pl-prefix}link {
    @include ds_link;
}

.#{$pl-prefix}link {
    background: transparent;
    border: 0;
    display: inline;
    margin: 0;
    padding: 0;
}

.#{$pl-prefix}reversed {
    a,
    .#{$pl-prefix}link {
        color: $ds_colour__link--reversed;

        &:focus {
            color: $ds_colour__link--reversed--focus;
        }

        &:hover:not(:focus) {
            background-color: transparent;
            color: $ds_colour__link--reversed--hover;
            outline-color: transparent;
        }
    }
}

a[disabled] {
    pointer-events: none;
}

// no underline on header links
h1, h2, h3, h4 {
    a {
        text-decoration: none;

        &:hover:not(:focus) {
            text-decoration: underline;
        }
    }
}
