/*------------------------------------*\
    #SEQUENTIAL NAVIGATION
    previous and next buttons
\*------------------------------------*/

// modifiable vars
$page-nav__circle-colour: $ds_colour__brand !default;
$page-nav__circle-hover: $ds_colour__link--hover !default;
$page-nav__circle-focus: $ds_colour__link--focus !default;
$page-nav__icon-colour: $ds_colour__button !default;
$page-nav__prefix-colour: $ds_colour__text !default;

// fixed vars vars
$page-nav__circle-size: 56px !default;




.ds_sequential-nav {
    margin-bottom: 56px;
    margin-top: 56px;
    overflow: hidden;
}

@supports(display: grid) {
    .ds_sequential-nav {
        overflow: initial;
    }
}

.ds_sequential-nav__button {
    @include ds_blocklink;
    @include ds_link-underline('.ds_sequential-nav__text');

    background: transparent;
    display: inline-block;
    line-height: 24px;
    padding: 12px 4px;
    position: relative;
    text-decoration: none;
    width: 100%;

    &:not([href]) {
        display: none;
    }

    > * {
        pointer-events: none;
    }

    // Shared styles for left and right variations
    // ::before is the circle
    ///
    /// [1] renders a border in windows high contrast mode
    ///
    &--left::before,
    &--right::before {
        content: '';
        height: $page-nav__circle-size;
        width: $page-nav__circle-size;
        background-color: $page-nav__circle-colour;
        background-position: center;
        border-radius: $page-nav__circle-size;
        border: 2px solid $page-nav__circle-colour; /// [1]
        display: inline-block;
        position: absolute;
        top: 8px;

        transition: background-color $transition-out-time;
    }

    // ::after is the chevron
    &--left,
    &--right {
        &::after {
            color: $page-nav__icon-colour;
            position: absolute;
            top: 25px;
        }
    }

    &--left {
        padding-left: ($page-nav__circle-size + 5px + 12px);
        text-align: left;

        &::before {
            left: 4px;
        }

        &::after {
            @include ds_chevron(left, 22px);
            left: 24px;
        }
    }

    &--right {
        text-align: right;
        float: right;
        padding-right: ($page-nav__circle-size + 5px + 12px);
        text-align: right;

        &::before {
            right: 4px;
        }

        &::after {
            @include ds_chevron(right, 22px);
            right: 24px;
        }
    }
}

.ds_sequential-nav__button:hover {
    &::before {
        background-color: $page-nav__circle-hover;
        border-color: $page-nav__circle-hover;
    }
}

.ds_sequential-nav__button:focus {
    &::before {
        background-color: $page-nav__circle-focus;
        border-color: $page-nav__circle-focus;
    }
}

.ds_sequential-nav__text {
    display: inline-block;
    padding-top: 24px;
    position: relative;
    width: 100%;

    &::before {
        color: $page-nav__prefix-colour;
        content: attr(data-label);
        font-size: 1rem;
        font-weight: $bold;
        left: 0;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: 0;

        @include media-query(medium) {
            font-size: px-to-rem($root-font-size);
        }
    }
}

@include ds_media-query(small) {
    .ds_sequential-nav__item {
        width: calc(50% - 16px);

        &--prev {
            float: left;
        }

        &--next {
            float: right;
        }
    }
}

@supports (display: grid) {
    .ds_sequential-nav {
        display: grid;
        grid-gap: $grid-gap-y $grid-gap-x;
        grid-template-areas: 'next' 'prev';
    }

    .ds_sequential-nav__item {
        float: none;
        width: 100%;

        &--prev {
            grid-area: prev;
        }

        &--next {
            grid-area: next;
        }
    }

    @include ds_media-query (small) {
        .ds_sequential-nav {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'prev next';
        }
    }
}
