<nav class="ds_sequential-nav" aria-label="{{ params.label }}">
    {%- if params.prev %}
    <div class="ds_sequential-nav__item ds_sequential-nav__item--prev">
        <a href="#" class="ds_sequential-nav__button ds_sequential-nav__button--left">
            <span class="ds_sequential-nav__text" data-label="{{ params.prev.label }}">
                {{ params.prev.content }}
            </span>
        </a>
    </div>
    {%- endif %}
    {%- if params.next %}
    <div class="ds_sequential-nav__item ds_sequential-nav__item--next">
        <a href="#" class="ds_sequential-nav__button ds_sequential-nav__button--right">
            <span class="ds_sequential-nav__text" data-label="{{ params.next.label }}">
                {{ params.next.content }}
            </span>
        </a>
    </div>
    {%- endif %}
</nav>