@mixin ds_chevron($orientation: down, $size: 1em) {
    content: '';
    display: inline-block;
    height: $size * 2;
    transition: transform 0.2s, top 0.2s;
    width: $size * 2;

    $spritename: 'expand_more';
    @if $orientation == down {
        $spritename: 'expand_more';
    } @else if $orientation == up {
        $spritename: 'expand_less';
    } @else if $orientation == left {
        $spritename: 'chevron_left';
    } @else if $orientation == right {
        $spritename: 'chevron_right';
    }

    $octothorpe: '#';
    @include ds_icon-mask(#{$iconsfile}#{$octothorpe}#{$spritename});
}




/// Indicator
///
/// Single definition for consistent open/close icons, mobile section nav, accordions, etc

@mixin ds_indicator {
    @include ds_chevron(down);
    right: 14px;
    position: absolute;
}

@mixin ds_indicator--open {
    transform: rotateZ(180deg);
}



/// Icon mask
///
/// Adds mask-image properties for a provided image URL
///
/// @param {string} $url - url of the image to be masked
///
/// @example scss
///   .warning-icon {
///     @include ds_icon-mask('/path/to/my/icon')
///   }

@mixin ds_icon-mask($url) {
    /// for IE11 support, use image without clip path
    background-image: url($url);

    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        background-color: currentColor;
        background-image: none;
        -webkit-mask-image: url($url);
        mask-image: url($url);
    }
}




/// legacy non-prefixed names
@mixin chevron($orientation: down, $size: 1em) {
    @include ds_chevron($orientation, $size);
}

@mixin indicator {
    @include ds_indicator;
}

@mixin indicator--open {
    @include ds_indicator--open;
}

@mixin icon-mask($url) {
    @include ds_icon-mask($url);
}
