@use "../../helpers/media-query/media-query";

/*------------------------------------*\
    WRAPPERS
\*------------------------------------*/

$wrapper__padding: 1rem !default;
$wrapper__width--medium: 48rem !default; // 768px
$wrapper__width--large: 60rem !default; // 960px
$wrapper__width--xlarge: 72rem !default; // 1152px




.ds_wrapper {
    margin: 0 auto;
    padding: 0 $wrapper__padding;
    width: 100%;

    &--no-overflow {
        overflow: hidden;
    }
}

@include media-query.media-query(medium) {
    .ds_wrapper {
        width: $wrapper__width--medium;
    }
}

@include media-query.media-query(large) {
    .ds_wrapper {
        width: $wrapper__width--large;
    }
}

@include media-query.media-query(xlarge) {
    .ds_wrapper {
        width: $wrapper__width--xlarge;
    }
}
