<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700&display=swap' rel='stylesheet' type='text/css'>
    <link media="all" rel="stylesheet" href="{{ '/assets/css/pattern-library.css' | path }}">
    <title>Preview Layout</title>
    <script>
        document.documentElement.classList.add('js-enabled');
    </script>
    <script src="{{ '/assets/scripts/svgxuse.min.js' | path }}"></script>
    <style>
        .preview-container {
            padding: 2rem;
        }

        .preview-reversed {
            background-color: #333;
        }

        .preview-full .preview-container {
            padding: 0;
        }

        .preview-invalid.preview-full .preview-container {
            padding-left: 8px;
            padding-right: 8px;
        }

        .pl_invalid-notification {
            background-color: #d32205;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
        }

        .pl_invalid-notification + * {
            margin-top: 64px;
            display: block;
        }

        @supports (position: sticky) {
            .pl_invalid-notification {
                position: sticky;
            }

            .pl_invalid-notification + * {
                margin-top: 0;
            }
        }

        .pl_invalid-notification::after {
            content: '';
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            outline: 8px solid #d32205;
            outline-offset: -8px;
            pointer-events: none;
        }
    </style>
</head>
<body class="{% if _target.meta.styles %}{{_target.meta.styles | join("  ")}}{% endif %}  {{ "preview-invalid" if _target.status.label == "Invalid" }}">
    {% if _target.status.label == "Invalid" %}
        <div class="ds_notification  ds_reversed  pl_invalid-notification">
            <div class="ds_wrapper">
                <div class="ds_notification__content">
                    <h2 class="visually-hidden">Important information</h2>
                    <span class="ds_notification__icon" aria-hidden="true">
                        <svg class="ds_icon ds_icon--fill" aria-hidden="true" role="img">
                            <use href="/assets/images/icons/icons.stack.svg#priority_high"></use>
                        </svg>
                    </span>
                    <div class="ds_notification__text">
                        <p>This example illustrates an invalid implementation.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="page-top" class="preview-container">
        {{_target.meta.content | safe}}
        {{ yield | safe}}
        {{_target.meta.contentAfter | safe}}
    </div>
    <script src="{{ '/assets/scripts/pattern-library.js' | path }}"></script>
    <script>
        window.DS.initAll();
    </script>
</body>
</html>
