<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700&display=swap' rel='stylesheet' type='text/css'>
	<link media="all" rel="stylesheet" href="{{ '/assets/css/pattern-library.css' | path }}">
	<title>Preview Layout</title>
	<script>
        document.documentElement.classList.add('js-enabled');
    </script>
	<script src="{{ '/assets/scripts/svgxuse.min.js' | path }}"></script>
</head>
<body>
	<div class="ds_notification ds_reversed">
    <div class="ds_wrapper">
        <div class="ds_notification__content ds_notification__content--has-close">
            <h2 class="visually-hidden">Important information</h2>
            <span class="ds_notification__icon ds_notification__icon--inverse ds_notification__icon--colour" aria-hidden="true">
                <svg class="ds_icon ds_icon--fill" aria-hidden="true" role="img">
                    <use href="/assets/images/icons/icons.stack.svg#priority_high"></use>
                </svg>
            </span>
            <div class="ds_notification__text">
                <p>This example is for illustrative purposes and should not be used in production.</p>
            </div>
        </div>
    </div>
</div>
	<div style="padding: 2rem;">
		{{ yield | safe}}
	</div>
	<script src="{{ '/assets/scripts/pattern-library.js' | path }}"></script>
	<script>
		window.DS.initAll();
	</script>
</body>
</html>