@use "../../helpers/functions/functions";
@use "../../helpers/last-child-no-margin/last-child-no-margin";
@use "../../helpers/spacing/spacing";
@use "../../settings/type/type";

/*------------------------------------*\
    LISTS
\*------------------------------------*/

ul,
ol,
dd {
    @include last-child-no-margin.last-child-no-margin;
    margin-left: 1.25rem;
}

dd,
ul ul,
ol ol,
ol ul,
ul ol {
    @include spacing.responsive-margin(1, top);
    @include spacing.responsive-margin(1, bottom);
}

li {
    @include spacing.responsive-margin(1, bottom);
}

dt {
    font-weight: type.$bold;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: numeric;
    margin-left: 1.5rem;
}
