/*------------------------------------*\
    LISTS
\*------------------------------------*/

ul, ol, dd {
    margin: 0.5rem 0 0.5rem 1.25rem;
    @include ds_last-child-no-margin;
}

li {
    margin-bottom: 8px;
}

dt {
    font-weight: $bold;
}

ol {
    list-style-type: numeric;
    margin-left: 1.5rem;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}
