/*------------------------------------*\
    LISTS
\*------------------------------------*/

ul,
ol,
dd {
    @include ds_last-child-no-margin;
    margin-left: px-to-rem(20px);
}

dd,
ul ul,
ol ol,
ol ul,
ul ol {
    @include ds_responsive-margin(1, top);
    @include ds_responsive-margin(1, bottom);
}

li {
    @include ds_responsive-margin(1, bottom);
}

dt {
    font-weight: $bold;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: numeric;
    margin-left: px-to-rem(24px);
}
