/*------------------------------------*\
    LISTS
\*------------------------------------*/

@use "../../helpers";
@use "../../settings";

ul,
ol,
dd {
    @include helpers.ds_last-child-no-margin;
    margin-left: 1.25rem;
}

dd,
ul ul,
ol ol,
ol ul,
ul ol {
    @include helpers.ds_responsive-margin(1, top);
    @include helpers.ds_responsive-margin(1, bottom);
}

li {
    @include helpers.ds_responsive-margin(1, bottom);
}

dt {
    font-weight: settings.$bold;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: numeric;
    margin-left: 1.5rem;
}
