/*------------------------------------*\
    BASIC MARGINS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre {
  @include ds_responsive-margin(2, bottom);
}