@use "../../base/helpers/functions/functions";
@use "../../base/helpers/headings/headings";
@use "../../base/helpers/icons/icons";
@use "../../base/helpers/last-child-no-margin/last-child-no-margin";
@use "../../base/helpers/links/links";
@use "../../base/helpers/media-query/media-query";
@use "../../base/helpers/spacing/spacing";
@use "../../base/settings/colours/colours";
@use "../../base/settings/type/type";

/*------------------------------------*\
    ACCORDION
\*------------------------------------*/

// modifiable vars
$accordion__header-colour: colours.$ds_colour__link !default;




.ds_accordion {
    @include spacing.responsive-margin (4, bottom, false, -0.0625rem);
    @include spacing.responsive-margin (4, top);

    position: relative;

    &__open-all {
        display: none;
        float: right;
        line-height: functions.line-height-on-grid(type.$root-font-size);
        margin-bottom: 0.5rem;
        position: relative;
        text-decoration: none;

        @include media-query.media-query(medium) {
            line-height: functions.line-height-on-grid(type.$root-font-size--medium);
        }

        + * {
            clear: both;
        }
    }
}

h1,h2,h3 {
    + .ds_accordion {
        margin-top: 0
    }
}

// Open all button is shown after JavaScript is initialised
.ds_accordion.js-initialised {
    .ds_accordion__open-all {
        display: block;
    }
}

.ds_accordion-item {
    border-bottom: 0.0625rem solid colours.$ds_colour__border--faint;
    border-top: 0.0625rem solid colours.$ds_colour__border--faint;

    &__header {
        @include links.blocklink;
        @include headings.h4-size;

        background-color: colours.$ds_colour__background--primary;
        border-width: 0;
        color: $accordion__header-colour;
        font-weight: type.$bold;
        margin: 0;
        position: relative;
        text-align: left;
        width: 100%;

        &:hover:not(:focus) {
            color: colours.$ds_colour__link--hover;
        }
    }

    /// [1] subtracting the accordion item's border width
    &__title {
        @include headings.h4-size;
        margin-bottom: 0;
        padding: 1rem 3rem 0.9375rem 1rem; /// [1]

        &--button {
            padding: 0;
        }
    }

    /// [1] subtracting the accordion item's border width
    &__button {
        appearance: unset;
        background: transparent;
        border: 0;
        padding: 1rem 3rem 0.9375rem 1rem; /// [1]
        text-align: left;
        width: 100%;

        @include links.blocklink;
    }

    &__label {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__title--button &__label {
        z-index: -1;
    }

    &__indicator {
        @include icons.chevron(down, 0.75em);
        position: absolute;
        right: 1.5rem;
        top: 1.125rem;
        transition: transform 0.2s, top 0.2s;
        pointer-events: none;

        @include media-query.media-query(medium) {
            top: functions.px-to-rem(21px); // nudges indicator to remain inline with first line of title
            right: functions.px-to-rem(26px);
        }
    }

    &__body {
        display: none;
        padding: 1.5rem 2.5rem 2rem 1rem;

        @include last-child-no-margin.last-child-no-margin;

        @include media-query.media-query(medium) {
            padding-right: 6.25rem;
        }
    }

    &__control:checked ~ &__body {
        display: block;
    }

    &__control:checked ~ &__header {
        background-color: colours.$ds_colour__link--current__background;
        color: colours.$ds_colour__link--current;
    }

    &__control:checked ~ &__header &__indicator {
        top: 1.375rem;
        transform: rotate(-225deg);

        @include media-query.media-query(medium) {
            top: functions.px-to-rem(27px); // nudges indicator to remain inline with first line of title
            right: functions.px-to-rem(26px);
        }
    }

    &__control:focus ~ &__header,
    &__control:focus:hover ~ &__header {
        background: colours.$ds_colour__blocklink-bg--focus;
        box-shadow: 0 links.$link__border-width colours.$ds_colour__link--focus;
        color: colours.$ds_colour__link--focus;
        z-index: 2;
    }

    + .ds_accordion-item {
        margin-top: -0.0625rem;
    }
}




/* SMALL VARIANT */

.ds_accordion--small {
    .ds_accordion-item__header,
    .ds_accordion-item__title,
    .ds_accordion-item__button,
    .ds_accordion-item__body,
    .ds_accordion__open-all {
        font-size: type.$root-font-size;
        line-height: functions.line-height-on-grid(type.$root-font-size); //1.5
    }

    .ds_accordion-item__body {
        padding-right: 1rem;

        h3, h4 {
            font-size: 1em; // 1rem
            line-height: functions.line-height-on-grid(type.$root-font-size); //1.5
        }
    }

    .ds_accordion-item__indicator {
        margin-top: 0;
        right: 1.5rem;
        top: 1.125rem;
    }

    .ds_accordion-item__control:checked~.ds_accordion-item__header .ds_accordion-item__indicator {
        right: 1.5rem;
        top: 1.5rem;
    }
}

@include media-query.media-query(medium) {
    .ds_accordion--small {
        .ds_accordion-item__indicator {
            top: 1.125rem;
        }
    }
}
