/*------------------------------------*\
    ACCORDION
\*------------------------------------*/

// modifiable vars
$accordion__header-colour: $ds_colour__link !default;




.ds_accordion {
    @include ds_responsive-margin (4, bottom, false, -1px);
    @include ds_responsive-margin (4, top);

    position: relative;

    &__open-all {
        display: none;
        line-height: line-height-on-grid($root-font-size);
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        position: relative;

        @include ds_media-query(medium) {
            line-height: line-height-on-grid($root-font-size--medium);
        }

        + * {
            clear: both;
        }
    }
}

h1,h2,h3 {
    + .ds_accordion {
        margin-top: 0
    }
}

// Open all button is shown after JavaScript is initialised
.ds_accordion.js-initialised {
    .ds_accordion__open-all {
        display: block;
    }
}

.ds_accordion-item {
    border-bottom: 1px solid $ds_colour__border;
    border-top: 1px solid $ds_colour__border;

    /// [1] subtracting the accordion item's border width
    &__header {
        @include ds_blocklink;
        @include ds_h4-size;

        background-color: $ds_colour__background--primary;
        border-width: 0;
        margin: 0;
        padding: 0.5rem 0.5rem calc(0.75rem - 1px); /// [1]
        position: relative;
        text-align: left;
        width: 100%;

        &:hover:not(:focus) {
            color: $ds_colour__link--hover;
        }

        &:has(.ds_accordion-item__button) {
            padding: 0;
        }
    }

    &__title {
        @include ds_h4-size;
        margin-bottom: 0.25rem;

        &--button {
            padding: 0;
            margin-bottom: 0;
        }
    }

    /// [1] subtracting the accordion item's border width
    &__button {
        appearance: unset;
        background: transparent;
        border: 0;
        padding: 0.5rem 0.5rem calc(0.75rem - 1px); /// [1]
        text-align: left;
        width: 100%;

        @include ds_blocklink;
    }

    &__label {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__title--button &__label {
        z-index: -1;
    }

    &__indicator {
        @include ds_small-size;
        color: $ds_colour__link;
        display: block;
        font-weight: $normal;
        margin-top: 0.25rem;
        min-height: 1.5rem;
        padding: 0 0 0 1.1875rem;
        position: relative;

        &::after {
            @include ds_chevron(down, 0.6125em);
            left: 0.1875rem;
            top: 0.375rem;
            position: absolute;
            transition: transform 0.2s, top 0.2s;
            pointer-events: none;
        }
    }

    &__body {
        display: none;
        padding: 1rem 0.5rem 1.5rem;

        @include ds_last-child-no-margin;
    }

    &__control:checked ~ &__body {
        display: block;
    }

    &__control:checked ~ &__header &__indicator {
        &::after {
            top: 0.625rem;
            transform: rotate(-225deg);
        }

        .js-close-label {
            display: inline;
        }
    }

    &__control:focus ~ &__header,
    &__control:focus:hover ~ &__header {
        background: $ds_colour__blocklink-bg--focus;
        box-shadow: 0 $link__border-width $ds_colour__link--focus;
        color: $ds_colour__link--focus;
        transition-duration: 0s;
        z-index: 2;

        @include ds_high-contrast-focus;
    }

    &__control:focus ~ &__header &__indicator {
        color: $ds_colour__link--focus;
        text-decoration-color: transparent;
    }

    &__control:focus ~ &__header &__indicator {
        color: $ds_colour__link--focus;
        text-decoration: none;
    }

    + .ds_accordion-item {
        margin-top: -1px;
    }

    // link styling for indicator text content
    &__indicator {
        text-decoration: underline;
        text-underline-offset: $link__underline-offset;
    }

    &__header:hover &__indicator {
        text-underline-offset: $link__underline-offset--hover;
        text-decoration-thickness: $link__underline-thickness--hover;
    }

    &__header:hover:not(:focus-within) &__indicator {
        color: $ds_colour__link--hover;
    }

    .ds_accordion-item__button:focus &__indicator {
        color: $ds_colour__link--focus;
        text-decoration-color: transparent;
    }

    @include ds_media-query(medium) {
        &__indicator {
            margin-top: 0.5rem;
            padding-left: 1.375rem;

            &::after {
                top: 0.3125rem;
            }
        }

        &__control:checked ~ &__header &__indicator {
            &::after {
                top: 0.625rem;
            }
        }

        /// [1] subtracting the accordion item's border width
        &__header,
        &__button {
            padding: 1rem 1rem calc(1rem - 1px) 0.5rem; /* [1] */
        }

        &__header:has(.ds_accordion-item__button) {
            padding: 0;
        }

        &__title {
            margin-bottom: 0.5rem;

            &--button {
                margin-bottom: 0;
            }
        }
    }
}




/* Open/close label display */
.ds_accordion-item {
    .ds_accordion-item__indicator::before {
        content: 'Open';
    }
    .ds_accordion-item__indicator[data-open-text]::before {
        content: attr(data-open-text);
    }
}

.ds_accordion-item:has(.ds_accordion-item__control:checked) {
    .ds_accordion-item__indicator::before {
        content: 'Close';
    }
    .ds_accordion-item__indicator[data-close-text]::before {
        content: attr(data-close-text);
    }
}




/* SMALL VARIANT */

.ds_accordion--small {
    .ds_accordion-item__header,
    .ds_accordion-item__title,
    .ds_accordion-item__button,
    .ds_accordion-item__body,
    .ds_accordion__open-all {
        font-size: px-to-rem($root-font-size); // 1rem
        line-height: line-height-on-grid($root-font-size); //1.5
    }

    .ds_accordion-item__body {
        padding-right: 1rem;

        h3, h4 {
            font-size: 1em; // 1rem
            line-height: line-height-on-grid($root-font-size); //1.5
        }
    }
}


/* HIGH CONTRAST */

/// [1] specificity hack
@include ds_media-query-high-contrast {
    .ds_accordion-item__button:is(.ds_accordion-item__button) { /// [1]
        color: CanvasText !important;
        text-decoration-line: none !important;
    }

    .ds_accordion-item__indicator {
        color: LinkText !important;
    }
}
