<div class="ds_accordion" data-module="ds-accordion">
    {%- if params.openall -%}
    <button data-accordion="accordion-open-all" type="button" class="ds_link  ds_accordion__open-all  js-open-all">Open all <span class="visually-hidden">sections</span></button>
    {%- endif -%}
    {%- for accordion in params.accordions -%}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-{{ loop.index }}" aria-labelledby="panel-{{ loop.index }}-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-{{ loop.index }}-heading" class="ds_accordion-item__title">{{ accordion.heading }}</h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-{{ loop.index }}"><span class="visually-hidden">Show this section</span></label>
        </div>
        <div class="ds_accordion-item__body">
            {{ accordion.content | safe }}
        </div>
    </div>
	{%-  endfor %}   
</div>