/*------------------------------------*\
    QUICK EXIT
\*------------------------------------*/

$quick-exit-banner-height: 56px;




.#{$pl-prefix}quick-exit {
    display: none;

    &__button {
        background-color: $colour__red--base;
        margin: 0;
    }
}

@include media-query(medium-down) {
    .#{$pl-prefix}quick-exit {
        display: none;

        &--mobile {
            display: block;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 999;

            + * {
                margin-top: $quick-exit-banner-height;
            }
        }

        &__button {
            max-width: 100%;
        }

        &__message {
            @include visually-hidden();
        }
    }
}

@supports(position: sticky) {
    @include media-query(medium-down) {
        .#{$pl-prefix}quick-exit--mobile {
            position: sticky;

            + * {
                margin-top: 0;
            }
        }
    }
}

@include media-query(medium) {
    .#{$pl-prefix}quick-exit {
        display: block;
        grid-area: q;

        align-self: start;
        bottom: 8px;
        position: sticky;
        top: calc(8px - 32px);
        z-index: 9999;

        &--mobile {
            display: none;
        }

        &__box {
            background-color:$colour__white;
            margin-bottom: 32px;
            margin-top: 24px;
            outline-offset: -1px;
            padding: 8px 0;
        }

        &__message {
            font-size: $tiny-size;
            line-height: 20px;
            margin-bottom: 0;
        }

        &__button {
            margin-bottom: 16px;
        }
    }
}
