/*------------------------------------*\
    REVEAL CONTENT
\*------------------------------------*/

.ds_reveal-content {
    display: none;
    margin-top: 16px;
    padding-left: 16px;
    position: relative;

    &::before {
        background-color: $ds_colour__border;
        bottom: 0;
        content: '';
        left: -22px;
        position: absolute;
        top: 0;
        width: 4px;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

:checked ~ .ds_reveal-content {
    display: block;
}
