/*------------------------------------*\
    REVEAL CONTENT
\*------------------------------------*/
@use "../../base/helpers";
@use "../../base/settings";

.ds_reveal-content {
    display: none;
    margin-top: 1rem;
    padding-left: 1rem;
    position: relative;
    @include helpers.ds_last-child-no-margin;

    &::before {
        background-color: settings.$ds_colour__border;
        bottom: 0;
        content: '';
        left: -1.375rem;
        position: absolute;
        top: 0;
        width: 0.25rem;
    }
}

:checked ~ .ds_reveal-content {
    display: block;
}
