<div class="ds_question">
    <fieldset>
        <legend>How did you find out about this service?</legend>
        <div class="ds_field-group">
            <div class="ds_checkbox">
                <input id="social" class="ds_checkbox__input" type="checkbox" />
                <label for="social" class="ds_checkbox__label">Social media</label>
            </div>
            <div class="ds_checkbox">
                <input id="radio-ad" class="ds_checkbox__input" type="checkbox" />
                <label for="radio-ad" class="ds_checkbox__label">Radio advert</label>
            </div>
            <div class="ds_checkbox">
                <input id="other" class="ds_checkbox__input" type="checkbox" />
                <label for="other" class="ds_checkbox__label">Other</label>
                <div class="ds_reveal-content">
                    <div class="ds_question">
                        <label class="ds_label" for="other-details">What other ways did you find this out?</label>
                        <p class="ds_hint-text">Please list as many things as you can think of</p>
                        <textarea id="other-details" class="ds_input" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>