/*------------------------------------*\
    GRID SETTINGS
\*------------------------------------*/

$grid-gap-x: 32px;
$grid-gap-y: 32px;
$grid-gap-x--narrow: 8px;
$grid-gap-y--narrow: $grid-gap-x--narrow;
