/*------------------------------------*\
    GRID SETTINGS
\*------------------------------------*/

$grid-gap-x: 30px;
$grid-gap-y: 28px;
$grid-gap-x--narrow: 10px;
$grid-gap-y--narrow: $grid-gap-x--narrow;
