/*------------------------------------*\
    CATEGORY HEADER
\*------------------------------------*/

$category-header__border-color: $color__brand--primary !default;
$category-header__title-color: $color__body !default;
$category-header__summary-size: 1.25rem !default;




.#{$pl-prefix}category-header {
    align-items: center;
    margin-top: 14px;
    margin-bottom: 28px;

    &__header {
        border-left: 4px solid $category-header__border-color;
        margin-bottom: 28px;
        padding-left: 20px;
    }

    /**
     * [1] plus [2] gives a multiple of seven to maintain vertical rhythm
     */
    &__title {
        color: $category-header__title-color;
        margin-bottom: 10px; /* [1] */
    }

    &__summary {
        font-size: $category-header__summary-size;
        font-weight: 700;
        line-height: 28px;

        :last-child {
            margin-bottom: 4px; /* [2] */
        }
    }

    &__media {
        display: block;
        margin: 0 auto;
        max-height: 350px;
        max-width: 320px;
        width: 100%;
    }
}

.#{$pl-prefix}reversed .#{$pl-prefix}category-header {
    color: $color__white;

    &__title {
        color: $color__white;
    }
}

.#{$pl-prefix}category-header {
    @include layout();
}

@include media-query(medium) {
    .#{$pl-prefix}category-header {
        margin-top: 56px;
        margin-bottom: 84px;

        &__header {
            float: left;
            @include colwidth(8);
        }

        &__media-container {
            float: left;
            @include colwidth(4);
        }

        &__summary {
            line-height: 35px;
        }
    }
}

@supports(display: grid) {
    @include media-query(medium) {
        .#{$pl-prefix}category-header {
            grid-template-columns: repeat(12, 1fr);

            &__header {
                float: none;
                grid-column: 1 / span 8;
                margin-bottom: 0;
            }

            &__media-container {
                float: none;
                grid-column: 9 / span 4;
                margin-right: 0;
                max-width: 100%;
            }
        }
    }
}
