/*------------------------------------*\
    DOUBLE TEXT
\*------------------------------------*/

.ds_cb--double-text {
    .ds_cb__inner {
        padding: 16px 0 24px;

        @include ds_media-query(medium-down) {
            > * + * {
                margin-top: 40px;
            }
        }

        @include ds_media-query(medium) {
            padding: 24px 0 32px;
        }
    }
}